<div class="content-header">
  <h1>Manage Phraseologies</h1>
  <div class="cta">
    <span class="btn green" ng-click="openEditModal()">Create Worker's Comp Phraseology</span>
  </div>
  <div class="view-instruction">
    <p> Please use the <span class="green-link">Create Worker's Comp Phraseology</span> button to create a new phraseology</p>
  </div>
</div><!-- / .content-header -->
<div class="content-body">
  <div class="panel">
    <div class="panel-heading">
      Worker's Comp Phraseologies
    </div>
    <div class="panel-body">
      <table class="table table-striped" >
        <thead>
          <th><span>Description</span></th>
          <th><span>Worker's Comp Phraseology</span></th>
          <th><span>Action</span></th>
        </thead>
        <tbody>
          <tr ng-repeat="phraseology in companyPhraseologies">
            <td><a ng-click="openEditModal(phraseology)">{{phraseology.description}}</a></td>
            <td>{{phraseology.phraseology.phraseology}}</td>
            <td>
                <span class="btn inline" confirm="{{deleteConfirmMsg}}" ng-click="deletePhraseology(phraseology)">Delete</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
