<div class="benefit-form-holder">
    <form name="form" class="dynamic-form">
        <div class="form-holder col-md-8">
            <div class="row">
                <div class="form-label">Plan Name</div>
                <div class="textbox">
                    <input type="text"
                        name="new_life_insurance_plan_name"
                        ng-model="newLifeInsurancePlan.name"
                        ng-required="true" />
                    <div class="form-error" ng-show="form.new_life_insurance_plan_name.$dirty && form.new_life_insurance_plan_name.$invalid">
                      <span ng-show="form.new_life_insurance_plan_name.$error.required">Plan name field is required</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-label">Amount</div>
                    <div class="textbox input-group">
                        <span class="input-group-addon">$</span>
                        <input
                            min="0.0"
                            type="number"
                            name="amount"
                            ng-model="newLifeInsurancePlan.amount"
                            ng-required="false" />
                    </div>
                    <div class="form-error-relative" ng-show="form.amount.$invalid">Amount is invalid</div>
                </div>
                <div class="col-md-1">
                    <div class="form-label">OR</div>
                </div>
                <div class="col-md-5">
                    <div class="form-label">Multiplier</div>
                    <div class="textbox input-group">
                        <span class="input-group-addon">X</span>
                        <input
                            type="number"
                            min="0.0"
                            name="multiplier"
                            ng-model="newLifeInsurancePlan.multiplier"
                            ng-required="false" />
                    </div>
                    <div class="form-error-relative" ng-show="form.multiplier.$invalid">
                        Multiplier is invalid
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="submit-box" style="max-width: 200px;">
                        <a ng-click="addLifeInsurancePlan()" class="btn green" ng-disabled="!newLifeInsurancePlan.name">Add</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>