<div class="benefit-form-holder">
    <form name="form" class="dynamic-form">
        <div class="form-holder col-md-12">
            <div class="row">
                <div class="form-label">Plan Name</div>
                <div class="textbox">
                    <input type="text"
                        name="new_plan_name"
                        ng-model="newPlan.planName"
                        ng-required="true" />
                    <div class="form-error" ng-show="form.new_plan_name.$dirty && form.new_plan_name.$invalid">
                      <span ng-show="form.new_plan_name.$error.required">Plan name field is required</span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 5px;">
                <div class="form-label">Use Employee Age for Spouse Premium Calculation</div>
                <div class="col-sm-2">
                <input type="radio"
                    data-ng-model="newPlan.useEmployeeAgeForSpouse"
                    name="use_employee_age_for_spouse"
                    data-ng-value="true"><span> Yes</span>
                </div>
                <div class="col-sm-2">
                <input type="radio"
                    data-ng-model="newPlan.useEmployeeAgeForSpouse"
                    name="use_employee_age_for_spouse"
                    data-ng-value="false"><span> No</span>
                </div>
            </div>
            <div class="row">
                <div class="form-label">Employee Rate (per $10,000 Coverage)</div>
                <div class="table-responsive">
                    <table class="table table-striped benefit-table">
                        <thead>
                            <th><div>Age</div></th>
                            <th><div>Tobacco</div></th>
                            <th><div>Non-Tobacco</div></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rate in newPlan.planRates.employeeRateTable">
                                <td>{{rate.getAgeRangeForDisplay()}}</td>
                                <td>
                                    <div class="input-group">
                                        <span>$</span>
                                        <input
                                            style="max-width: 80px;"
                                            min="0"
                                            type="number"
                                            placeholder="Rate"
                                            ng-model="rate.tobaccoRate.ratePer10000"/>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <span>$</span>
                                        <input
                                            style="max-width: 80px;"
                                            min="0"
                                            type="number"
                                            placeholder="Rate"
                                            ng-model="rate.nonTobaccoRate.ratePer10000"/>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="form-label">Spouse Rate (per $10,000 Coverage)</div>
                <div class="table-responsive">
                    <table class="table table-striped benefit-table">
                        <thead>
                            <th><div>Age</div></th>
                            <th><div>Tobacco</div></th>
                            <th><div>Non-Tobacco</div></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rate in newPlan.planRates.spouseRateTable">
                                <td>{{rate.getAgeRangeForDisplay()}}</td>
                                <td>
                                    <div class="input-group">
                                        <span>$</span>
                                        <input
                                            style="max-width: 80px;"
                                            min="0"
                                            type="number"
                                            placeholder="Rate"
                                            ng-model="rate.tobaccoRate.ratePer10000"/>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <span>$</span>
                                        <input
                                            style="max-width: 80px;"
                                            min="0"
                                            type="number"
                                            placeholder="Rate"
                                            ng-model="rate.nonTobaccoRate.ratePer10000"/>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="form-label">Child(ren) Rate</div>
                <div class="textbox input-group">
                    <span class="input-group-addon">$</span>
                    <input
                        min="0"
                        type="number"
                        name="child-rate"
                        ng-model="newPlan.planRates.childRate.ratePer10000"/>
                    <span class="input-group-addon"> per $10,000 Coverage</span>
                </div>
                <div class="form-error-relative" ng-show="form.child-rate.$invalid">Child(ren) rate is invalid</div>
            </div>
            <div class="row" style="margin-top: 5px;">
                <div style="max-width: 200px;">
                    <a ng-click="addPlan()" class="btn green" ng-disabled="!newPlan.planName">Add</a>
                </div>
            </div>
        </div>
    </form>
</div>