<div class="benefit-form-holder">
  <form name="form" class="dynamic-form">
    <div class="form-holder col-md-8">
      <div class="row">
        <div class="col-md-8">
          <div class="form-label">Plan Name</div>
          <div class="textbox">
            <input type="text"
            name="new_plan_name"
            ng-model="newPlan.name"
            ng-required="true" />
            <div class="form-error" ng-show="form.new_plan_name.$dirty && form.new_plan_name.$invalid">
              <span ng-show="form.new_plan_name.$error.required">Plan name field is required</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <bm-company-group-selection company-id="companyId"
                                    label-text="companyGroupSelectionWidgetLabel"
                                    selected-groups-model="newPlan.selectedCompanyGroups"
                                    show-top-separation-line>
        </bm-company-group-selection>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="submit-box" style="max-width: 200px;">
            <a ng-click="saveNewPlan()" class="btn green" ng-disabled="!newPlan.name">Add</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
