<div class="benefit-form-holder">
  <form name="form" class="dynamic-form">
      <div class="row">
        <div class="col-md-10">
          <div class="form-label">Description</div>
          <div class="textbox">
              <textarea 
              name="plan_description"
              ng-model="newPlan.planDescription" 
              ng-required="true"
              style="width:100%;height:80px;">
              </textarea>
              <div class="form-error" ng-show="form.plan_description.$dirty && form.plan_description.$invalid">
                <span ng-show="form.plan_description.$error.required">Plan description field is required</span>
              </div>
          </div>
        </div>
      </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-label">Benefit Items</div>
        </div>
        <div class="col-md-10">
          <table class="table table-striped benefit-table" id="benefit_items_table">
            <thead>
              <th width="30%"><div>Name</div></th>
              <th width="60%"><div>Description</div></th>
              <th width="10%"><div>Actions</div></th>
            </thead>
            <tbody>
              <tr ng-repeat="benefitItem in newPlan.benefitItems">
                  <td>
                    <input type="text" ng-model="benefitItem.name" style="width:100%;"/>
                  </td>
                  <td>
                    <textarea 
                      ng-model="benefitItem.description" 
                      style="width:100%;height:60px;">
                    </textarea>
                  </td>
                  <td>
                    <a ng-click="deleteBenefitItem(benefitItem)"><span class="fa fa-2x fa-trash-o"></span></a>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    <div class="row">
      <div class="col-md-10">
          <a ng-click="addBenefitItem()"><span class="fa fa-plus-square-o"> Add Another Benefit Item</span></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <div class="submit-box" style="max-width: 200px;">
          <a ng-click="addPlan()" class="btn green" ng-disabled="form.$invalid">Save New Plan</a>
        </div>
      </div>
    </div>
  </form>
</div>
