<div class="benefit-form-holder">
    <form name="form" class="dynamic-form">
        <div class="form-holder col-md-8">
            <div class="row">
                <div class="col-md-8"> 
                    <div class="form-label">Plan Name</div>
                    <div class="textbox">
                        <input type="text"
                            name="new_plan_name"
                            ng-model="newPlan.name"
                            ng-required="true" />
                        <div class="form-error" ng-show="form.new_plan_name.$dirty && form.new_plan_name.$invalid">
                          <span ng-show="form.new_plan_name.$error.required">Plan name field is required</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8"> 
                    <div class="form-label">Benefit Amount</div>
                    <div class="textbox input-group">
                        <input
                            type="number"
                            min="0"
                            max="100"
                            name="benefit_amount"
                            ng-model="newPlan.percentage_of_salary" />
                        <span class="input-group-addon">% of Annual Base Salary</span>
                    </div>
                    <div class="form-error-relative" ng-show="form.benefit_amount.$invalid">
                        Benefit Amount is invalid
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-label">Monthly Maximum Benefit Amount</div>
                    <div class="textbox input-group">
                        <span class="input-group-addon">$</span>
                        <input
                            min="0"
                            type="number"
                            name="weekly_max_amount"
                            ng-model="newPlan.max_benefit_monthly" />
                    </div>
                    <div class="form-error-relative" ng-show="form.weekly_max_amount.$invalid">Monthly maximum amount is invalid</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-label">Benefit Duration</div>
                    <div class="textbox input-group">
                        <input
                            min="0"
                            type="number"
                            name="benefit_duration"
                            ng-model="newPlan.duration_in_weeks" />
                        <span class="input-group-addon">Weeks</span>
                    </div>
                    <div class="form-error-relative" ng-show="form.benefit_duration.$invalid">Benefit Duration is invalid</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-label">Elimination Period</div>
                    <div class="textbox input-group">
                        <input
                            min="0"
                            type="number"
                            name="elimination_period"
                            ng-model="newPlan.elimination_period_in_days" />
                        <span class="input-group-addon">Days</span>
                    </div>
                    <div class="form-error-relative" ng-show="form.elimination_period.$invalid">Elimination Period is invalid</div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="submit-box" style="max-width: 200px;">
                        <a ng-click="saveNewPlan()" class="btn green" ng-disabled="!newPlan.name">Add</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>