<div class="benefit-form-holder">
  <form name="form" class="dynamic-form">
    <div class="form-holder col-md-8">
      <div class="row">
        <div class="col-md-8">
          <div class="form-label">Plan Name *</div>
          <div class="textbox">
            <input type="text"
            name="new_plan_name"
            ng-model="newPlan.planName"
            ng-required="true" />
            <div class="form-error" ng-show="form.new_plan_name.$dirty && form.new_plan_name.$invalid">
              <span ng-show="form.new_plan_name.$error.required">Plan name field is required</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="form-label">Employer Contribution Percentage *</div>
          <div class="textbox input-group">
            <input
            type="number"
            min="0"
            max="100"
            name="employer_contribution"
            ng-required="true"
            ng-model="newPlan.employerContributionPercentage" />
            <span class="input-group-addon"> %</span>
          </div>
          <div class="form-error-relative" ng-show="form.employer_contribution.$dirty && form.employer_contribution.$invalid">
            <span ng-show="form.employer_contribution.$error.required">Employer contribution percentage field is required</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="form-label">Benefit Amount</div>
          <div class="textbox input-group">
            <input
            type="number"
            min="0"
            max="100"
            name="benefit_amount"
            ng-model="newPlan.percentageOfSalary" />
            <span class="input-group-addon">% of Annual Base Salary</span>
          </div>
          <div class="form-error-relative" ng-show="form.benefit_amount.$invalid">
            Benefit Amount is invalid
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="form-label">Weekly Maximum Benefit Amount</div>
          <div class="textbox input-group">
            <span class="input-group-addon">$</span>
            <input
            min="0"
            type="number"
            name="weekly_max_amount"
            ng-model="newPlan.maxBenefitWeekly" />
          </div>
          <div class="form-error-relative" ng-show="form.weekly_max_amount.$invalid">Weekly maximum amount is invalid</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="form-label">Benefit Duration</div>
          <div class="textbox input-group">
            <input
            min="0"
            type="number"
            name="benefit_duration"
            ng-model="newPlan.duration" />
            <span class="input-group-addon">Days</span>
          </div>
          <div class="form-error-relative" ng-show="form.benefit_duration.$invalid">Benefit Duration is invalid</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="form-label">Elimination Period</div>
          <div class="textbox input-group">
            <input
            min="0"
            type="number"
            name="elimination-period"
            ng-model="newPlan.eliminationPeriodInDays" />
            <span class="input-group-addon">Days</span>
          </div>
          <div class="form-error-relative" ng-show="form.elimination-period.$invalid">Elimination period is invalid</div>
        </div>
      </div>
      <div class="row" ng-show="!ageBased">
        <div class="col-md-8">
          <div class="form-label" style="float:left">Rate</div>
          <div class="form-label" style="float:right">
            <a href="javascript:void(0);" ng-click="toggleAgeBased()">Switch to age based rates</a>
          </div>
          <div style="clear:both;"></div>
          <div class="textbox input-group">
            <span class="input-group-addon">$</span>
            <input
              min="0"
              type="number"
              name="rate"
              ng-model="newPlan.rate" />
            <span class="input-group-addon"> of $10 Benefit</span>
          </div>
          <div class="form-error-relative" ng-show="form.rate.$invalid">Rate is invalid</div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="row" ng-show="ageBased">
        <div class="form-label" style="float:left">Age Based Rates</div>
        <div class="form-label" style="float:right">
          <a href="javascript:void(0);" ng-click="toggleAgeBased()">Switch to uniformed rate</a>
        </div>
        <div class="table-responsive">
          <table class="table table-striped benefit-table">
            <thead>
              <th><div>Age</div></th>
              <th><div>Rate</div></th>
            </thead>
            <tbody>
              <tr ng-repeat="row in newPlan.ageBasedRateTable">
                <td>{{row.getAgeRangeForDisplay()}}</td>
                <td>
                  <div class="textbox input-group">
                    <span class="input-group-addon">$</span>
                    <input
                      min="0"
                      type="number"
                      placeholder="Rate"
                      ng-model="row.rate"/>
                    <span class="input-group-addon"> of $10 Benefit</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-6 text-left">
      <div class="submit-box" style="max-width: 200px;">
        <a ng-click="saveNewPlan()" class="btn green" ng-disabled="!buttonEnabled()">Add</a>
      </div>
    </div>
  </form>
</div>
