<div class="content-header">
    <h1>Application Support</h1>
</div>

<div class="content-body">
    <div class="table-responsive table-holder">
    <table class="table table-striped support-container">
      <tbody>
        <tr>
          <td>
            <div class="flaticon flaticon-cellphone51"></div><div>Phone:</div>
          </td>
          <td>
            <div>617-520-4336</div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="flaticon flaticon-opening2"></div><div>Email:</div>
          </td>
          <td>
            <div>help@workbenefits.me</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="back"><a href="javascript:void(0);" onclick="history.back()">&laquo; Back</a></div>
