<!-- Commuter -->
<div class="panel" ng-show="personPlan">
  <div class="panel-head">Individual Benefits<br/></div>
  <div class="panel-body">
    <form name="myForm" confirm-unsaved-on-exit>
        <div class="row" ng-if="personPlan.companyPlan.planDescription">
          <div class="col-md-10">
            <div class="form-label">Description</div>
          </div>
        </div>
        <div class="row" ng-if="personPlan.companyPlan.planDescription">
            <div class="col-md-10" style="word-wrap: break-word;white-space: pre;">{{personPlan.companyPlan.planDescription}}</div>
        </div>
        <div class="row" style="margin-top:20px;">
          <div class="col-md-10">
            <div class="form-label">Select Benefit Items Interested</div>
          </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-10">
                <table class="table table-striped benefit-table" id="plan_items_table">
                    <thead>
                      <th width="10%"><div>Interested</div></th>
                      <th width="30%"><div>Benefit Name</div></th>
                      <th width="60%"><div>Benefit Description</div></th>
                    </thead>
                    <tbody>
                      <tr ng-repeat="planItem in personPlan.planItems">
                          <td>
                            <input type="checkbox" ng-model="planItem.optIn" />
                          </td>
                          <td>
                            {{planItem.benefitItem.name}}
                          </td>
                          <td>
                            <div style="word-wrap: break-word;white-space: pre;">{{planItem.benefitItem.description}}</div>
                          </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="form-holder">
  <div class="row">
    <div class="col-sm-6">
      <div class="submit-box benefit-selection-button">
        <a ng-click="save()" class="btn green">Save Selection</a>
      </div>
    </div>
  </div>
</div>