<div class="breadcrumb">
    <a ng-href="#/employee">Employee Dashboard</a>
    <span>Update Benefits</span>
</div>

<div class="content-header">
    <h1>Modify Benefits</h1>
    <span class="general-info">Please use the form below to update your benefit</span>
    <div class="cta"><a ng-click="addMember()" class="btn green" >Add a family member</a></div>
</div><!-- / .content-header -->

<div class="content-body">
    <div class="panel panel-default">
        <div class="panel-body">
            <tabset type="pills">
                <tab ng-repeat="tab in tabs" heading="{{tab.heading}}" active="tab.active" select="go_to_state(tab.state)"/>
            </tabset>

            <div ui-view></div>
        </div>
    </div>
</div>
