<div class="modal-header">
    <h4 class="modal-title">Health Plans Details</h4>
</div>
<div class="modal-body">
    <h2>Benefits details from your company are listed below:</h2>

    <!-- Here is the medical benefit section -->

    <div class="table-responsive table-holder" ng-show="medicalBenefitGroup.benefitNameArray.length > 0">
        <table class="table table-striped medical-plan-display-table">
            <thead>
                <th colspan="2"><span>{{medicalBenefitGroup.groupTitle}}</span></th>
                <th colspan="6" ng-repeat="benefitName in medicalBenefitGroup.benefitNameArray" class="benefit-name">
                    <span>{{benefitName.name}}</span>
                </th>
            </thead>
            <tbody>
                <tr class="title-row">
                    <td colspan="2" class="plan-row-head"><span>Summary Document(s)</span></td>
                    <td colspan="6" ng-repeat="benefitName in medicalBenefitGroup.benefitNameArray">
                        <bmuploadviewer view-mode="list" feature-id="{{benefitName.id}}" upload-type="MedicalBenefit"></bmuploadviewer>
                    </td>
                </tr>
                <tr class="title-row">
                    <td colspan="2" class="plan-row-head"><span>Plans Premium<br />(per pay period)</span></td>
                    <td ng-repeat="benefitOption in medicalBenefitGroup.benefitOptionMetaArray" colspan="{{benefitOption.colspan}}">
                        <span>{{benefitOption.name}}</span>
                    </td>
                </tr>
                <tr class="value-row" ng-repeat="optionValue in medicalBenefitGroup.benefitOptionValueArray">
                    <td colspan="2" class="row-head"><span>{{optionValue.optionName}}</span></td>
                    <td ng-repeat="cost in optionValue.benefitCostArray" colspan="{{cost.colspan}}"><span>{{cost.value}}</span></td>
                </tr>
                <tr class="title-row">
                    <td colspan="2"><span>Options</span></td>
                    <td ng-repeat="benefitPolicy in medicalBenefitGroup.policyNameArray", colspan="{{benefitPolicy.colspan}}">
                        <span>{{benefitPolicy.name}}</span>
                    </td>
                </tr>
                <tr class="value-row" ng-repeat="policyListMember in medicalBenefitGroup.policyList">
                    <td colspan="2" class="row-head"><span>{{policyListMember.name}}</span></td>
                    <td ng-repeat="policyValue in policyListMember.valueArray", colspan="{{policyValue.colspan}}">
                        <span>{{policyValue.value}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Here is the non medical benefit section -->
    <div class="table-responsive table-holder" ng-repeat="benefitArray in nonMedicalBenefitArray">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span>{{benefitArray.type}}</span></th>
                    <th width="250"><span>Types</span></th>
                    <th width="180"><span>Total Premiums</span></th>
                    <th width="180"><span>Employee Premiums</span></th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="benefit in benefitArray.benefitList">
                    <td style="vertical-align: top;">{{benefit.name}}</td>
                    <td colspan="3" style="padding: 0;">
                        <table class="table">
                            <tr ng-repeat="option in benefit.options">
                                <td width="250">{{option.optionType}}</td>
                                <td width="180">${{option.totalCost}}</td>
                                <td width="180">${{option.employeeCost}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="closePlanDetailsModal()">Close</button>
</div>