<div class="panel">
  <div class="panel-head">Health Savings Accounts - {{hsaPlan.hsaPlanName}}<br/>
    <a ng-click="openPlanDetailsModal()"><b>View Details</b></a>
  </div>
  <div class="panel-body">
    <form name="myForm" confirm-unsaved-on-exit>
      <div class="row">
        <div class="col-md-8">
          <div ng-show="!enrollHsa" style="padding-bottom: 10px;">
            <span class="label label-danger">You have chosen NOT to enroll the HSA benefits.</span>
          </div>
          <div class="check-box">
            <input type="checkbox"
            ng-model="enrollHsa"
            name="hsa_enroll"> Yes, I want to elect Health Savings Account.
          </div>
        </div>
      </div>
      <div ng-show="enrollHsa">
        <div class="row" style="margin-top:10px;">
          <div class="col-md-4">
            <div class="form-label">Elected Annual Amount</div>
          </div>
        </div>
        <div class="row" style="margin-top:3px;">
          <div class="col-md-offset-2 col-md-3" style="margin-top:7px;">
            <div>Elect Amount</div>
          </div>
          <div class="col-md-2 input-group">
            <span class="input-group-addon">$</span>
            <input class="form-control" type="text" min="0" max="2550" ui-number-mask="0" ng-model="hsaPlan.electedAmount" />
          </div>
        </div>
        <div class="row"  style="margin-top:10px;">
          <div class="col-md-offset-2 col-md-6">
            <div class="alert alert-info">
              <ul>
                <li>
                  <small>
                    <strong>Self-only HDHP Coverage</strong>: Maximum $3,350
                  </small>
                </li>
                <li>
                  <small>
                    <strong>Family HDHP Coverage</strong>: Maximum $6,650
                  </small>
                </li>
                <li>
                  <small>
                    <strong>Catch-up Contribution</strong>: $1,000
                  </small>
                </li>
                <li>
                  <small>
                    <strong>What does it mean?</strong> get more details from <a href="https://www.irs.gov/publications/p969/ar02.html">IRS</a>
                  </small>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-holder">
  <div class="row">
    <div class="col-sm-6">
      <div class="submit-box benefit-selection-button">
        <a ng-click="save()" class="btn green">Save Selection</a>
      </div>
    </div>
  </div>
</div>
