<!-- Supplemental life insurance -->
<div class="panel" ng-show="companyPlans && companyPlans.length > 0">
  <div class="panel-head">Supplemental Life Insurance<br/><a ng-click="openPlanDetailsModal()" ng-if="isValidCompanyPlanSelected()"><b>View Details</b></a></div>
  <div class="panel-body">
    <form name="myForm" confirm-unsaved-on-exit>
      <div class="row">
        <div class="col-md-4">
          <div class="form-label">Please select life insurance plan to enroll</div>
        </div>
      </div>
      <div class="row" style="margin-top:10px;">
        <div class="col-md-offset-2 col-md-6">
          <div class="select-box">
            <select ng-model="selectedCompanyPlan"
            ng-options="companyPlan as companyPlan.text for companyPlan in companyPlans"
            class="form-control"></select>
          </div>
        </div>
      </div>
      <div ng-if="isValidCompanyPlanSelected()">
        <div class="row" style="margin-top:10px;">
          <div class="col-md-4">
            <div class="form-label">Coverage Situation Election</div>
          </div>
        </div>
        <div>
          <div class="row" style="margin-top:3px;">
            <div class="col-md-offset-1 col-md-4">
              <div class="form-label">Employee</div>
            </div>
          </div>
          <div class="row" style="margin-top:3px;">
            <div class="col-md-offset-2 col-md-3" style="margin-top:7px;">
              <div>Use Tobacco?</div>
            </div>
            <div class="col-sm-1">
              <input type="radio"
              ng-model="supplementalLifeInsurancePlan.selfUseTobacco"
              name="employee_use_tobacco_yes"
              ng-value="true"><span> Yes</span>
            </div>
            <div class="col-sm-1">
              <input type="radio"
              ng-model="supplementalLifeInsurancePlan.selfUseTobacco"
              name="employee_use_tobacco_no"
              ng-value="false"><span> No</span>
            </div>
          </div>
          <div class="row" style="margin-top:3px;">
            <div class="col-md-offset-2 col-md-3" style="margin-top:7px;">
              <div>Elected Amount</div>
            </div>
            <div class="col-md-2 input-group">
              <span class="input-group-addon">$</span>
              <input class="form-control" type="text" min="0" ui-number-mask="0" ng-model="supplementalLifeInsurancePlan.selfElectedAmount" />
            </div>
          </div>
          <div class="row" style="margin-top:3px;" ng-if="enabledFeatures.ADAD">
            <div class="col-md-offset-2 col-md-3" style="margin-top:7px;">
              <input type="checkbox" ng-model="supplementalLifeInsurancePlan.enrollAdadSelf" /> Enroll AD&D 
            </div>
          </div>
        </div>
        <div ng-if="familyInfo.spousePerson">
          <div class="row" style="margin-top:3px;">
            <div class="col-md-offset-1 col-md-4">
              <div class="form-label">Spouse</div>
            </div>
          </div>
          <div class="row" style="margin-top:3px;">
            <div class="col-md-offset-2 col-md-3" style="margin-top:7px;">
              <div>Use Tobacco?</div>
            </div>
            <div class="col-sm-1">
              <input type="radio"
              ng-model="supplementalLifeInsurancePlan.spouseUseTobacco"
              name="spouse_use_tobacco_yes"
              ng-value="true"><span> Yes</span>
            </div>
            <div class="col-sm-1">
              <input type="radio"
              ng-model="supplementalLifeInsurancePlan.spouseUseTobacco"
              name="spouse_use_tobacco_no"
              ng-value="false"><span> No</span>
            </div>
          </div>
          <div class="row" style="margin-top:3px;">
            <div class="col-md-offset-2 col-md-3" style="margin-top:7px;">
              <div>Elected Amount</div>
            </div>
            <div class="col-md-2 input-group">
              <span class="input-group-addon">$</span>
              <input class="form-control" type="text" min="0" ui-number-mask="0" ng-model="supplementalLifeInsurancePlan.spouseElectedAmount" />
            </div>
          </div>
          <div class="row" style="margin-top:3px;" ng-if="enabledFeatures.ADAD">
            <div class="col-md-offset-2 col-md-3" style="margin-top:7px;">
              <input type="checkbox" ng-model="supplementalLifeInsurancePlan.enrollAdadSpouse" /> Enroll AD&D 
            </div>
          </div>
        </div>
        <div ng-if="familyInfo.hasChild">
          <div class="row" style="margin-top:3px;">
            <div class="col-md-offset-1 col-md-4">
              <div class="form-label">Child(ren)</div>
            </div>
          </div>
          <div class="row" style="margin-top:3px;">
            <div class="col-md-offset-2 col-md-3" style="margin-top:7px;">
              <div>Elected Amount</div>
            </div>
            <div class="col-md-2 input-group">
              <span class="input-group-addon">$</span>
              <input class="form-control" type="text" min="0" ui-number-mask="0" ng-model="supplementalLifeInsurancePlan.childElectedAmount" />
            </div>
          </div>
          <div class="row" style="margin-top:3px;" ng-if="enabledFeatures.ADAD">
            <div class="col-md-offset-2 col-md-3" style="margin-top:7px;">
              <input type="checkbox" ng-model="supplementalLifeInsurancePlan.enrollAdadChild" /> Enroll AD&D 
            </div>
          </div>
        </div>
        <div class="row" style="margin-top:10px;">
          <div class="col-md-4">
            <div class="form-label">Calculated Premium</div>
          </div>
        </div>
        <div class="row" style="margin-top:3px;">
          <div class="col-md-offset-2 col-md-2" style="margin-top:7px;">
            <div>Employee</div>
          </div>
          <div class="col-md-8" style="margin-top:7px;">
            <div>${{supplementalLifeInsurancePlan.selfElectedAmount}} x (100%-{{selfRateInfo.benefitReductionPercentage}}%) / $10,000 x ${{selfRateInfo.rate}}/Month = <b>${{getPremiumForDisplay(computeSelfPremium())}}/Month</b></div>
          </div>
        </div>
        <div class="row" style="margin-top:3px;" ng-if="selfRateInfo.benefitReductionPercentage>0">
          <div class="col-md-offset-2 col-md-8">
            <div class="bg-info">* The above premium calculation subjects to <b>{{selfRateInfo.benefitReductionPercentage}}%</b> Benefit Reduction, which applies to the elected coverage amount and the corresponding calculated premium.</div>
          </div>
        </div>
        <div class="row" style="margin-top:3px;" ng-if="familyInfo.spousePerson">
          <div class="col-md-offset-2 col-md-2" style="margin-top:7px;">
            <div>Spouse</div>
          </div>
          <div class="col-md-8" style="margin-top:7px;">
            <div>${{supplementalLifeInsurancePlan.spouseElectedAmount}} x (100%-{{spouseRateInfo.benefitReductionPercentage}}%) / $10,000 x ${{spouseRateInfo.rate}}/Month = <b>${{getPremiumForDisplay(computeSpousePremium())}}/Month</b></div>
          </div>
        </div>
        <div class="row" style="margin-top:3px;" ng-if="familyInfo.spousePerson && spouseRateInfo.benefitReductionPercentage > 0">
          <div class="col-md-offset-2 col-md-8">
            <div class="bg-info">* The above premium calculation subjects to <b>{{spouseRateInfo.benefitReductionPercentage}}%</b> Benefit Reduction, which applies to the elected coverage amount and the corresponding calculated premium.</div>
          </div>
        </div>
        <div class="row" style="margin-top:3px;" ng-if="familyInfo.hasChild">
          <div class="col-md-offset-2 col-md-2" style="margin-top:7px;">
            <div>Child(ren)</div>
          </div>
          <div class="col-md-8" style="margin-top:7px;">
            <div>${{supplementalLifeInsurancePlan.childElectedAmount}} / $10,000 x ${{getChildRate()}}/Month = <b>${{getPremiumForDisplay(computeChildPremium())}}/Month</b></div>
          </div>
        </div>
        <div class="row" ng-show="selectedCompanyPlan.value.useEmployeeAgeForSpouse" style="padding-bottom: 10px;">
          <div class="col-md-offset-2 col-md-2" style="margin-top:7px;">
            <span class="label label-info">The plan selected indicates that employee's age will be used for rate calculation for spouse.</span>
          </div>
        </div>
        <div class="row" style="margin-top:15px;">
          <div class="col-md-4">
            <div class="form-label">Beneficiary</div>
          </div>
        </div>
        <div class="row"  style="margin-top:10px;">
          <div class="col-md-offset-2 col-md-6">
            <div class="form-holder">
              <div ng-repeat="beneficiary in supplementalLifeInsurancePlan.beneficiaryList.mainBeneficiaries">
                <div class="row">
                  <div class="label label-info" style="margin-top:10px;">Beneficiary - {{$index + 1}} </div>
                  <a type="button" ng-click="removeMainBeneficiary(beneficiary)"> (Remove this) </a>
                </div>
                <div class="row">
                  <div class="form-label">First Name</div>
                  <div class="textbox">
                    <input type="text"
                    name="beneficiary_firstname"
                    ng-model="beneficiary.firstName"
                    ng-required="true" />
                    <div class="form-error" ng-show="form.beneficiary_firstname.$dirty && form.beneficiary_firstname.$invalid">
                      <span ng-show="form.beneficiary_firstname.$error.required">First name field is required</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-label">Middle Name</div>
                  <div class="textbox">
                    <input type="text"
                    name="beneficiary_middlename"
                    ng-model="beneficiary.middleName"
                    ng-required="false" />
                  </div>
                </div>
                <div class="row">
                  <div class="form-label">Last Name</div>
                  <div class="textbox">
                    <input type="text"
                    name="beneficiary_lastname"
                    ng-model="beneficiary.lastName"
                    ng-required="true" />
                    <div class="form-error" ng-show="form.beneficiary_lastname.$dirty && form.beneficiary_lastname.$invalid">
                      <span ng-show="form.beneficiary_lastname.$error.required">Last name field is required</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-label">Relationship</div>
                  <div class="textbox">
                    <input type="text"
                    name="beneficiary_relationship"
                    ng-model="beneficiary.relationshipToPlanOwner"
                    ng-required="true" />
                    <div class="form-error" ng-show="form.beneficiary_relationship.$dirty && form.beneficiary_relationship.$invalid">
                      <span ng-show="form.beneficiary_relationship.$error.required">Relationship is required</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-label">Phone Number</div>
                  <div class="textbox">
                    <input tyle="tel"
                    name="beneficiary_phone"
                    ng-model="beneficiary.phone"
                    ng-required="false"
                    ui-mask="(999)999-9999" />
                  </div>
                </div>
                <div class="row">
                  <div class="form-label">Email</div>
                  <div class="textbox">
                    <input type="email"
                    name="beneficiary_email"
                    ng-model="beneficiary.email"
                    ng-required="false"/>
                  </div>
                </div>
                <div class="row">
                  <div class="form-label">Percentage
                    (Please make sure percentage for all beneficiaries adds up to 100%)</div>
                    <div class="input-group">
                      <input class="form-control"
                      type="text"
                      max="100.0"
                      min="0.0"
                      name="beneficiary_percentage"
                      ng-model="beneficiary.benefitAllocationPercentage"
                      ng-required="true"/>
                      <span class="input-group-addon">%</span>
                      <div class="form-error" ng-show="form.beneficiary_percentage.$dirty && form.beneficiary_percentage.$invalid">
                        <span ng-show="form.beneficiary_percentage.$error.required">Percentage is required</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="add-box" style="max-width: 200px;padding-top:20px;">
                <a ng-click="addMainBeneficiary()"
                class="btn green"
                ng-disabled="supplementalLifeInsurancePlan.beneficiaryList.mainBeneficiaries.length >= 4"> + Add a new beneficiary </a>
              </div>
              <div class="form-label">You can select up to 4 beneficiaries.</div>
              <div class="form-holder">
                <div ng-repeat="beneficiary in supplementalLifeInsurancePlan.beneficiaryList.contingentBeneficiaries">
                  <div class="row">
                    <div class="label label-warning" style="margin-top:10px;">Contingent Beneficiary - {{$index + 1}} </div>
                    <a type="button" ng-click="removeContingentBeneficiary(beneficiary)"> (Remove this) </a>
                  </div>
                  <div class="row">
                    <div class="form-label">First Name</div>
                    <div class="textbox">
                      <input type="text"
                      name="beneficiary_firstname"
                      ng-model="beneficiary.firstName"
                      ng-required="true" />
                      <div class="form-error" ng-show="form.beneficiary_firstname.$dirty && form.beneficiary_firstname.$invalid">
                        <span ng-show="form.beneficiary_firstname.$error.required">First name field is required</span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-label">Middle Name</div>
                    <div class="textbox">
                      <input type="text"
                      name="beneficiary_middlename"
                      ng-model="beneficiary.middleName"
                      ng-required="false" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-label">Last Name</div>
                    <div class="textbox">
                      <input type="text"
                      name="beneficiary_lastname"
                      ng-model="beneficiary.lastName"
                      ng-required="true" />
                      <div class="form-error" ng-show="form.beneficiary_lastname.$dirty && form.beneficiary_lastname.$invalid">
                        <span ng-show="form.beneficiary_lastname.$error.required">Last name field is required</span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-label">Relationship</div>
                    <div class="textbox">
                      <input type="text"
                      name="beneficiary_relationship"
                      ng-model="beneficiary.relationshipToPlanOwner"
                      ng-required="true" />
                      <div class="form-error" ng-show="form.beneficiary_relationship.$dirty && form.beneficiary_relationship.$invalid">
                        <span ng-show="form.beneficiary_relationship.$error.required">Relationship is required</span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-label">Phone Number</div>
                    <div class="textbox">
                      <input tyle="tel"
                      name="beneficiary_phone"
                      ng-model="beneficiary.phone"
                      ng-required="false"
                      ui-mask="(999)999-9999" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-label">Email</div>
                    <div class="textbox">
                      <input type="email"
                      name="beneficiary_email"
                      ng-model="beneficiary.email"
                      ng-required="false"/>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-label">Percentage
                      (Please make sure percentage for all beneficiaries adds up to 100%)</div>
                      <div class="input-group">
                        <input class="form-control"
                        type="text"
                        max="100.0"
                        min="0.0"
                        name="beneficiary_percentage"
                        ng-model="beneficiary.benefitAllocationPercentage"
                        ng-required="true"/>
                        <span class="input-group-addon">%</span>
                        <div class="form-error" ng-show="form.beneficiary_percentage.$dirty && form.beneficiary_percentage.$invalid">
                          <span ng-show="form.beneficiary_percentage.$error.required">Percentage is required</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="add-box" style="max-width: 260px;padding-top:20px;">
                  <a ng-click="addContingentBeneficiary()"
                  class="btn green"
                  ng-disabled="supplementalLifeInsurancePlan.beneficiaryList.contingentBeneficiaries.length >= 4"> + Add a new contingent beneficiary </a>
                </div>
                <div class="form-label">You can select up to 4 contingent beneficiaries.</div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="form-holder">
      <div class="row">
        <div class="col-sm-6">
          <div class="submit-box benefit-selection-button">
            <a ng-click="save()" class="btn green">Save Selection</a>
          </div>
        </div>
      </div>
    </div>
