<!-- STD insurance -->
<div class="panel" ng-show="companyLtdPlan">
    <div class="panel-head">Long Term Disability Benefits<br/><a ng-click="openPlanDetailsModal()"><b>View Details</b></a></div>
    <div class="panel-body">
        <form name="myForm" confirm-unsaved-on-exit>
            <div class="row">
                <div class="label label-info col-md-4">
                    <span>Your biweekly premium is <b>${{companyLtdPlan.employeePremium}}</b></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div ng-show="!enrollBenefits" style="padding-bottom: 10px;">
                        <span class="label label-danger">You have chosen NOT to enroll the LTD benefits.</span>
                    </div>
                    <div class="check-box">
                        <input type="checkbox"
                            ng-model="enrollBenefits"
                            name="ltd_enroll"> Yes, I want to enroll the LTD benefits provided by my employer.
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="form-holder">
    <div class="row">
        <div class="col-sm-6">
            <div class="submit-box" style="max-width: 200px;">
                <a ng-click="save()" class="btn green">Save Selection</a>
            </div>
        </div>
    </div>
</div>