<!-- STD insurance -->
<div class="panel" ng-show="companyStdPlan">
  <div class="panel-head">Short Term Disability Benefits<br/><a ng-click="openPlanDetailsModal()"><b>View Details</b></a></div>
  <div class="panel-body">
    <form name="myForm" confirm-unsaved-on-exit>
      <div class="row">
        <div class="label label-info col-md-4" ng-show="hasPremium(companyStdPlan.employeePremium)">
          <span>Your premium per pay period is <b>${{companyStdPlan.employeePremium.toFixed(2)}}</b></span>
        </div>
        <div class="label label-warning col-md-10" ng-hide="hasPremium(companyStdPlan.employeePremium)">
          <span>Your premium per pay period is <b>NOT AVAILABLE</b> because your salary information is missing.</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div ng-show="!enrollBenefits" style="padding-bottom: 10px;">
            <span class="label label-danger">You have chosen to waive the STD benefits.</span>
          </div>
          <div class="check-box">
            <input type="checkbox"
            ng-model="enrollBenefits"
            name="std_enroll"> Yes, I want to enroll the STD benefits provided by my employer.
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="form-holder">
  <div class="row">
    <div class="col-sm-6">
      <div class="submit-box benefit-selection-button">
        <a ng-click="save()" class="btn green">Save Selection</a>
      </div>
    </div>
  </div>
</div>
