<div class="panel">
  <div class="panel-head">Flexible Spending Accounts - {{fsaPlan.fsaPlanName}}<br/>
    <a ng-click="openPlanDetailsModal()"><b>View Details</b></a>
  </div>
  <div class="panel-body">
    <form name="myForm" confirm-unsaved-on-exit>
      <div class="row">
        <div class="col-md-4">
          <div class="form-label">Please specify a reason for change</div>
        </div>
      </div>
      <div class="row" style="margin-top:10px;">
        <div class="col-md-offset-2 col-md-6">
          <div class="select-box">
            <select ng-model="selectedFsaUpdateReason"
            ng-options="fsaUpdateReason as fsaUpdateReason.text for fsaUpdateReason in fsaUpdateReasons"
            class="form-control"></select>
          </div>
        </div>
      </div>
      <div ng-show="isFsaUpdateReasonSelected() && !waivedFsa()">
        <div class="row" style="margin-top:10px;">
          <div class="col-md-4">
            <div class="form-label">Elected Annual Amount</div>
          </div>
        </div>
        <div class="row" style="margin-top:3px;">
          <div class="col-md-offset-2 col-md-3" style="margin-top:7px;">
            <div>Health Account</div>
          </div>
          <div class="col-md-2 input-group">
            <span class="input-group-addon">$</span>
            <input class="form-control" type="text" min="0" max="2550" ui-number-mask="0" ng-model="fsaElection.primary_amount_per_year" ng-required="true" />
          </div>
        </div>
        <div class="row" style="margin-top:3px;">
          <div class="col-md-offset-2 col-md-3" style="margin-top:7px;">
            <div>Dependent Care Account</div>
          </div>
          <div class="col-md-2 input-group">
            <span class="input-group-addon">$</span>
            <input class="form-control" type="text" min="0" max="5000" ui-number-mask="0" ng-model="fsaElection.dependent_amount_per_year" ng-required="true" />
          </div>
        </div>
        <div class="row"  style="margin-top:10px;">
          <div class="col-md-offset-2 col-md-6">
            <div class="alert alert-info">
              <ul>
                <li>
                  <small>
                    <strong>Health Account</strong>: Cannot Exceed the Lesser of the Company Maximum or $2,550.00
                  </small>
                </li>
                <li>
                  <small>
                    <strong>Dependent Care Account</strong>: Maximum $5,000
                  </small>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-holder">
  <div class="row">
    <div class="col-sm-6">
      <div class="submit-box benefit-selection-button">
        <a ng-click="save()" ng-disabled="!isValidToSave()" class="btn green">Save Selection</a>
      </div>
    </div>
  </div>
</div>
