<!-- STD insurance -->
<div class="panel" ng-show="companyStdPlan">
  <div class="panel-head">Short Term Disability Benefits<br/><a ng-click="openPlanDetailsModal()"><b>View Details</b></a></div>
  <div class="panel-body">
    <form name="myForm" confirm-unsaved-on-exit>
      <div class="row">
        <div class="label label-info col-md-4"
          ng-show="hasPremium(companyStdPlan.employeePremium) && !showSelectAmount()">
          <span>Your premium per pay period is <b>${{companyStdPlan.employeePremium.toFixed(2)}}</b></span>
        </div>
        <div class="label label-info col-md-8 pull-left"
          ng-show="hasPremium(companyStdPlan.employeePremium) && showSelectAmount()">
            Your premium per pay period varies based on the benefit amount you select. </br>
            Type in a desired benefit amount to see your premium.
        </div>
        <div class="label label-warning col-md-8 pull-left"
          ng-hide="hasPremium(companyStdPlan.employeePremium)">
          <span>
            Your premium per pay period is <b>NOT AVAILABLE</b> because your salary information is missing.
          </span>
        </div>
      </div>
      <div class="row" style="margin-top: 15px;">
        <div class="col-md-8">
          <div ng-show="!enrollBenefits" style="padding-bottom: 10px;">
            <span class="label label-danger">You have chosen to waive the STD benefits.</span>
          </div>
          <div class="check-box">
            <input type="checkbox"
            ng-model="enrollBenefits"
            name="std_enroll"> Yes, I want to enroll the STD benefits provided by my employer.
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 10px;" ng-show="showSelectAmount()">
        <div class="col-md-4">
          <div class="form-label">How much do you want to select for benefit amount per week?</div>
          <div class="textbox input-group">
            <span class="input-group-addon">$ </span>
            <input
              type="number"
              min="0"
              step="companyStdPlan.stepValue"
              name="select-benefit-amount"
              ng-blur="calculatePremium(selectedAmount)"
              required="companyStdPlan.allowUserSelectAmount"
              ng-model="selectedAmount" />
          </div>
          <div class="form-error-relative" ng-show="form.select-benefit-amount.$dirty && form.select-benefit-amount.$invalid">
            <span ng-show="form.select-benefit-amount.$error.required">Benefit amount field is required</span>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 20px;" ng-show="showSelectAmount()">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><span>Effective Benefit Amount (per Week)*</span></th>
              <th><span>Premium Per Period</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>$ {{companyStdPlan.effectiveBenefitAmount}}</td>
              <td>$ {{companyStdPlan.employeePremium}}</td>
            </tr>
          </tbody>
        </table>
        <p><b>Notes</b>: effective benefit amount may be bounded by benefit plan requirements.</p>
      </div>
    </form>
  </div>
</div>
<div class="form-holder">
  <div class="row">
    <div class="col-sm-6">
      <div class="submit-box benefit-selection-button">
        <a ng-click="save()" class="btn green">Save Selection</a>
      </div>
    </div>
  </div>
</div>
