<div class="breadcrumb">
    <a href="/">Home</a>
    <a ng-href="#/admin">Employer Dashboard</a>
    <span>Add Employee</span>
</div>

<div class="content-header">
    <h1>Add Employee</h1>
    <span class="general-info">Please enter your employee basic information below</span>
</div><!-- / .content-header -->

<div class="content-body">
    <div class="form-holder">
        <form name="form">

            <div class="form-label">Name*</div>
            <div class="textbox">
                <input type="text"
                    name="employee_name"
                    ng-model="addUser.name"
                    ng-required="true">
                <div class="form-error" ng-show="form.employee_name.$dirty && form.employee_name.$invalid">
                  <span ng-show="form.employee_name.$error.required">Employee name field is required</span>
                </div>
            </div>

            <div class="form-label">Email*</div>
            <div class="textbox">
                <input type="email"
                    name="employee_email"
                    ng-model="addUser.email"
                    ng-required="true">
                <div class="form-error" ng-show="form.employee_email.$dirty && form.employee_email.$invalid">
                  <span ng-show="form.employee_email.$error.required">Employee email field is required</span>
                  <span ng-show="form.employee_email.$error.email">Not a valid email address</span>
                </div>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox"
                        name="employee_send_email"
                        ng-model="addUser.send_email"
                        ng-require="false">
                    Send email to Employee to sign up
                </label>
            </div>

            <div class="submit-box">
                <button ng-click="createUser('employee')" class="btn green" ng-disabled="form.$invalid">Add Employee</button>
            </div>

        </form>
    </div><!-- / .form-holder -->
    <div class="back"><a href="javascript:void(0);" onclick="history.back()">&laquo; Back</a></div>
</div><!-- / .content-body -->
