<div class="breadcrumb">
    <a href="/">Home</a>
    <a ng-href="#/clients">Broker Dashboard</a>
    <a href="javascript:void(0);" ng-click="viewBenefits()">View Benefits</a>
    <span>Add Benefit</span>
</div>

<div class="content-header">
    <h1>Add Benefit</h1>
    <span class="general-info">Please use the form below to add a new benefit</span>
</div><!-- / .content-header -->

<div class="content-body">
    <div class="form-holder">
        <form name="form">

            <div class="form-label">Benefit Type</div>
            <div class="select-box">
                <select ng-model="benefit.benefit_type"
                    ng-required="true"
                    name="benefit_type"
                    ng-options="benefit_type for benefit_type in benefit_types"
                    class="form-control"></select>
                <div class="form-error" ng-show="form.benefit_type.$dirty">
                  <span ng-show="form.benefit_type.$error.required">Benefit Type must be selected</span>
                </div>
            </div>

            <div class="form-label">Benefit Name</div>
            <div class="textbox">
                <input type="text"
                    name="benefit_name"
                    ng-model="benefit.benefit_name"
                    ng-required="true">
                <div class="form-error" ng-show="form.benefit_name.$dirty && form.benefit_name.$invalid">
                  <span ng-show="form.benefit_name.$error.required">Benefit name field is required</span>
                </div>
            </div>

            <div class="form-label">Benefit Option</div>
            <div class="select-box">
                <select name="benefit_option_type"
                    ng-model="benefit.benefit_option_type"
                    ng-options="option_type for option_type in benefit_option_types_display"
                    ng-required="true"
                    class="form-control"></select>
                <div class="form-error" ng-show="form.benefit_option_type.$dirty">
                  <span ng-show="form.benefit_option_type.$error.required">Benefit Option must be selected</span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-label">Total Premium</div>
                    <div class="textbox">
                        <input type="text"
                            name="total_premium"
                            ng-model="benefit.total_cost_per_period"
                            ng-required="true">
                        <div class="form-error" ng-show="form.total_premium.$dirty && form.total_premium.$invalid">
                          <span ng-show="form.total_premium.$error.required">Total Premium field is required</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-label">Employee Premium</div>
                    <div class="textbox">
                        <input type="text"
                            name="employee_premium"
                            ng-model="benefit.employee_cost_per_period"
                            ng-required="true">
                        <div class="form-error" ng-show="form.employee_premium.$dirty && form.employee_premium.$invalid">
                          <span ng-show="form.employee_premium.$error.required">Employee Premium field is required</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="submit-box">
                <button ng-click="addBenefit()" class="btn green" ng-disabled="form.$invalid">Add Benefit</button>
            </div>

        </form>
    </div><!-- / .form-holder -->
    <div class="back"><a href="javascript:void(0);" onclick="history.back()">&laquo; Cancel</a></div>
</div><!-- / .content-body -->
