<div class="breadcrumb">
  <a ng-href="#/admin">Employer Dashboard</a>
  <span>Add Employee</span>
</div>


<div class="content-header">
  <h1>Add Employee</h1>
  <span class="general-info">Please enter your employee basic information below</span>
</div><!-- / .content-header -->

<div ng-show="groups.length <= 0" class="alert alert-danger">
  It appears that no employee group has been setup for your company.
  You currently cannot add employee.
  Please contact your broker, or <a href="mailto:support@workbenefits.me?subject=Add%20Employee%20Error">support@workbenefits.me</a>
  to resolve this issue.
</div>

<div class="content-body">
  <div class="form-holder" ng-if="groups.length > 0">
    <form name="form">
      <div ng-show="alreadyExists" class="form-validation-error">
        The user with email "{{addUser.email}}" already exists in our system!
        Please check if your email has been used to register an account before.
        An email is only allowed to register once.
      </div>
      <div ng-show="addError" class="form-validation-error">
        We are sorry but error happened while trying to add the employee. Please email
        <a href="mailto:support@workbenefits.me?subject=Add%20Employee%20Error">support@workbenefits.me</a>
        with detailed steps you've performed before seeing this problem.
      </div>
      <div class="form-label">First Name*</div>
      <div class="textbox">
        <input type="text"
        name="employee_firstname"
        ng-model="addUser.first_name"
        ng-required="true">
        <div class="form-error" ng-show="form.employee_firstname.$dirty && form.employee_firstname.$invalid">
          <span ng-show="form.employee_firstname.$error.required">Employee First name field is required</span>
        </div>
      </div>
      <div class="form-label">Last Name*</div>
      <div class="textbox">
        <input type="text"
        name="employee_lastname"
        ng-model="addUser.last_name"
        ng-required="true">
        <div class="form-error" ng-show="form.employee_lastname.$dirty && form.employee_lastname.$invalid">
          <span ng-show="form.employee_lastname.$error.required">Employee Last name field is required</span>
        </div>
      </div>

      <div class="form-label">Email*</div>
      <div class="textbox">
        <input type="email"
        name="employee_email"
        ng-model="addUser.email"
        ng-required="true">
        <div class="form-error" ng-show="form.employee_email.$dirty && form.employee_email.$invalid">
          <span ng-show="form.employee_email.$error.required">Employee email field is required</span>
          <span ng-show="form.employee_email.$error.email">Not a valid email address</span>
        </div>
      </div>

      <div class="form-label">Employment Type*</div>
      <div class="select-box">
        <select id="employment_type"
          ng-model="addUser.employment_type"
          ng-required="true"
          name="employment_type"
          ng-options="type.name for type in employment_types"
          ng-change="updateSalaryType(addUser)"
          class="form-control" />
        <div class="form-error" ng-show="form.employment_status.$error.required">
          <span>Employment status must be selected</span>
        </div>
      </div>

      <div class="form-label" ng-if="groups.length > 1">The group the employee belongs to*</div>
      <div class="select-box" ng-if="groups.length > 1">
        <select id="gp"
          ng-model="addUser.group_id"
          ng-required="true"
          name="gp"
          ng-options="g.id as g.name for g in groups"
          class="form-control" />
        <div class="form-error" ng-show="form.employee_email.$dirty && form.gp.$error.required">
          <span>Must assign the employee a group</span>
        </div>
      </div>

      <div class="form-label">Manager</div>
      <div class="textbox">
        <input 
          type="text"
          name="employee_manager"
          ng-model="addUser.managerSelected" 
          placeholder="Start typing the name of an employee..." 
          typeahead="manager as manager.first_name + ' ' + manager.last_name for manager in getEmployees($viewValue)"
          ng-required="false"
          autocomplete="off" 
          class="form-control" />
          <div class="form-error" ng-show="managerInvalid(addUser.managerSelected)">
            <span>The manager you selected is an invalid candidate!</span>
          </div>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox"
          name="is_hourly_rate"
          ng-model="isHourlyRate"
          ng-disabled="annualSalaryNotAvailable">
          The new employee receives hourly rate?
        </label>
      </div>

      <div ng-if="!isHourlyRate">
        <div class="form-label">Annual Base Salary*</div>
        <div class="textbox input-group">
          <span class="input-group-addon">$</span>
          <input type="number"
            name="employee_salary"
            ng-model="addUser.annual_base_salary"
            ng-required="isFullTime(addUser)" />
          <div class="form-error" ng-show="form.employee_salary.$dirty && form.employee_salary.$invalid">
            <span ng-show="form.employee_salary.$error.required">Annual base salary is required</span>
          </div>
        </div>
      </div>

      <div ng-if="isHourlyRate">
        <div class="form-label">Hourly Rate*</div>
        <div class="textbox input-group">
          <span class="input-group-addon">$</span>
          <input type="number"
            min="0"
            name="hourly_rate"
            ng-model="addUser.hourly_rate"
            ng-required="!isFullTime(addUser)" />
          <div class="form-error" ng-show="form.hourly_rate.$dirty && form.hourly_rate.$invalid">
            <span ng-show="form.hourly_rate.$error.required">Hourly rate is required for part time employees</span>
          </div>
        </div>
        <div class="form-label">Projected hours per Month*</div>
        <div class="textbox input-group">
          <input type="number"
            min="0"
            name="projected_hour_per_month"
            ng-model="addUser.projected_hour_per_month"
            ng-required="!isFullTime(addUser)" />
          <span class="input-group-addon"> Hours </span>
          <div class="form-error" ng-show="form.projected_hour_per_month.$dirty && form.projected_hour_per_month.$invalid">
            <span ng-show="form.projected_hour_per_month.$error.required">Hourly rate is required for part time employees</span>
          </div>
        </div>
      </div>

      <div class="form-label">Date of Hire*</div>
      <div class="datebox">
        <bm-date-picker model="addUser.date_of_hire"
          required="true"
          name="date_of_hire"
          fieldname="'date_of_hire'"
          dirty="form.date_of_hire.$dirty" />
        <div class="form-inline-error" ng-show="form.date_of_hire.$dirty && form.date_of_hire.$invalid">
          <span ng-show="form.date_of_hire.$invalid">Please enter a valid Date</span>
        </div>
      </div>

      <div class="form-label">Benefit Start Date*</div>
      <div class="datebox">
        <bm-date-picker model="addUser.benefit_start_date"
          required="true"
          name="benefit_start_date"
          fieldname="'benefit_start_date'"
          dirty="form.benefit_start_date.$dirty" />
        <div class="form-inline-error" ng-show="form.benefit_start_date.$dirty && form.benefit_start_date.$invalid">
          <span ng-show="form.benefit_start_date.$invalid">Please enter a valid Date</span>
        </div>
      </div>

      <div ng-show="!addUser.send_email">
        <div class="form-label">Password*</div>
        <div class="textbox">
          <input type="password"
          name="employee_password"
          ng-model="addUser.password"
          ng-required="!addUser.send_email"
          ng-change="validatePassword(addUser.password, addUser.password_confirm)">
        </div>
        <div class="form-label">Confirm password*</div>
        <div class="textbox">
          <input type="password"
          name="employee_password_confirm"
          ng-model="addUser.password_confirm"
          ng-required="!addUser.send_email"
          ng-change="validatePassword(addUser.password, addUser.password_confirm)">
          <div class="form-error" ng-hide="validatePassword(addUser.password, addUser.password_confirm)">
            <span>{{passwordValidationError}}</span>
          </div>
        </div>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox"
          name="is_employee_new"
          ng-model="addUser.new_employee"
          ng-require="false">
          New Employee
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"
          name="employee_send_email"
          ng-model="addUser.send_email"
          ng-require="false">
          Send email to Employee to sign up
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"
          name="employee_create_docs"
          ng-model="addUser.create_docs"
          ng-require="false"/>
          Auto create all documents
        </label>
      </div>
      <div class="template-field-section" ng-show="addUser.create_docs">
        Fill out the fields below, so we can create all the documents
        <div ng-repeat="field in templateFields">
          <div class="form-label">
            {{field.key}}
          </div>
          <div class="textbox">
            <input type="text"
            name="{{field.value}}"
            ng-model="field.value"
            ng-required="addUser.create_docs">
          </div>
        </div>
      </div>
      <div class="submit-box">
        <button ng-click="createUser('employee')" class="btn green" ng-disabled="createUserInvalid() || form.$invalid">Add Employee</button>
      </div>

    </form>
  </div><!-- / .form-holder -->
  <div class="back"><a href="javascript:void(0);" onclick="history.back()">&laquo; Back</a></div>
</div><!-- / .content-body -->
