<div class="breadcrumb">
    <a href="/">Home</a>
    <a ng-href="#/clients">Broker Dashboard</a>
    <a href="javascript:void(0);" ng-click="viewBenefits()">View Benefits</a>
    <span>Add Benefit</span>
</div>

<div class="content-header">
    <h1>Add Benefit</h1>
    <span class="general-info">Please use the form below to add a new benefit</span>
</div><!-- / .content-header -->

<div class="content-body">
    <div class="benefit-form-holder">
        <form name="form" class="dynamic-form">
            <div class="form-holder">
                <div class="form-label">Benefit Type</div>
                <div class="select-box">
                    <select id="benefit_type_select" 
                        ng-model="benefit.benefit_type"
                        ng-required="true"
                        name="benefit_type"
                        ng-options="benefit_type for benefit_type in benefit_types"
                        class="form-control"></select>
                    <div class="form-error" ng-show="form.benefit_type.$dirty">
                      <span ng-show="form.benefit_type.$error.required">Benefit Type must be selected</span>
                    </div>
                </div>
                <div ng-show="benefitTypeSelected(benefit.benefit_type)">
                    <div class="form-label">Benefit Name</div>
                    <div class="textbox">
                        <input type="text"
                            name="benefit_name"
                            ng-model="benefit.benefit_name"
                            ng-required="true">
                        <div class="form-error" ng-show="form.benefit_name.$dirty && form.benefit_name.$invalid">
                          <span ng-show="form.benefit_name.$error.required">Benefit name field is required</span>
                        </div>
                    </div>
                </div>
            </div><!-- / .form-holder -->
            <div ng-show="benefitTypeSelected(benefit.benefit_type)">
                <div class="row">
                    <div class="table-responsive table-holder">
                        <table class="table table-striped benefit-table" id="plan_option_table">
                            <thead>
                                <th><div>Benefit Plan Option</div></th>
                                <th><div>Total Premium<br />(per pay period)</div></th>
                                <th><div>Employee Premium<br />(per pay period)</div></th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="option in benefit.benefit_option_types" b-option="{{option.name}}">
                                    <td>{{option.name}}</td>
                                    <td b-option="{{option.name}}" field-name="total">
                                        $ <input type="number" placeholder="Total Premium" show-dollar="1" value="{{option.total_cost_per_period}}" />
                                    </td>
                                    <td b-option="{{option.name}}" field-name="employee">
                                        $ <input type="number" placeholder="Employee Premium" show-dollar="1" value="{{option.employee_cost_per_period}}" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row" ng-show="isTypeMedical(benefit.benefit_type)">
                    <div class="table-responsive table-holder">
                        <table class="table table-striped benefit-table" id="details_container_table">
                            <thead>
                                <tr>
                                    <th>
                                        <div>
                                            Benefit Options
                                        </div>
                                    </th>
                                    <!-- existing types-->
                                    <th>
                                        <div class="editable-container">
                                            <a ng-click="handleElementEvent($event)">Add New Plan</a>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="details_container_table_body">
                                <tr ng-repeat="policyKey in policyKeyArray" option-key="{{policyKey.name}}">
                                    <td>{{policyKey.name}}</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-show="optionEmptyError" class="validation-error">
                            * Benefit plan data is required. See highlighted input fields
                        </div>
                        <div ng-show="inputUnfilledError" class="validation-error">
                            * Please fill out all the input fields because all these values are required.
                        </div>
                        <div ng-show="noPolicyTypeError" class="validation-error">
                            * Please make sure you created a benefit option set. Please click on the "Add New Plan" link "
                        </div>
                    </div>
                </div>

                <div class="submit-box">
                    <button ng-click="addBenefit()" class="btn green" ng-disabled="form.$invalid">Add Benefit</button>
                </div>
            </div>
        </form>
    <div class="back"><a href="javascript:void(0);" onclick="history.back()">&laquo; Cancel</a></div>
</div><!-- / .content-body -->
