<div class="breadcrumb">
    <a href="/">Home</a>
    <a ng-href="#/clients">Broker Dashboard</a>
    <span>Broker Dashboard</span>
</div>

<div class="content-header">
    <h1>Employee List for {{companyName}}</h1>
    <span class="general-info">Total <b>{{clientCount}}</b> employees</span>
    <div class="cta"><span class="btn green" ng-click="back()">Back</span></div>
</div><!-- / .content-header -->

<div class="content-body">
    <div class="table-responsive table-holder">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span>Name</span></th>
                    <th width="300"><span>Selected Plan</span></th>
                    <th width="250"><span>Enrolled Member</span></th>
                    <th width="150"><span>Last Update</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employeeList | orderBy:'name'">
                    <td style="vertical-align: top;"><a ng-click="viewDetails(employee.user.id)">{{employee.user.first_name}} {{employee.user.last_name}}</a></td>
                    <td colspan="3" style="padding: 0;">
                        <table class="table">
                            <tr ng-repeat="plan in employee.benefits">
                                <td width="300">{{plan.selectedPlanName}} 
                                    <span ng-show="plan.selectedPlanType">({{plan.selectedPlanType}})</span>
                                    <div ng-show="plan.pcp"> PCP Number: {{plan.pcp}}</div></td>
                                <td width="250">
                                    <text ng-repeat="person in plan.enrolled">{{person.name}} 
                                        <span ng-show="person.relationship">({{person.relationship}})</span> 
                                        <br />
                                    </text>
                                </td>
                                <td width="150">{{plan.lastUpdatedTime}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div><!-- / .content-body -->
