<div class="breadcrumb">
    <a ng-click="backToDashboard()">{{person.role}} Dashboard</a>
    <span>{{person.first_name}} {{person.last_name}}</span>
</div>

<div class="content-header">
    <h1>{{info.type_display}} Information of {{person.first_name}} {{person.last_name}}</h1>
    <div class="cta" ng-hide="editMode"><a ng-click="addNewDirectDepositAccount()" class="btn green">Add Account</a></div>

    <div class="row" ng-hide="hasDirectDeposit">
        <div class="panel-body">
            <ul class="list-group">
                <h4>You do not have direct deposit with us yet.</h4>
            </ul>
        </div>
    </div>
</div><!-- / .content-header -->

<div class="content-body">
    <!-- Here is the info table for the employee direct deposit -->
    <div class="row" ng-show="hasDirectDeposit && !addingNewAccount">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel" ng-repeat="account in directDepositAccounts">
                <h4 class="label label-info col-md-5">Direct Deposit #{{$index + 1}}</h4>
                <div class="panel-body">
                    <ul class="list-group" ng-hide="account.inEditMode">
                        <li class="list-group-item">
                            <h4 class="col-md-5">Account Type</h4>
                            <div class="col-md-7">{{account.account_type}}</div>
                            <div style="clear:both"></div>
                        </li>
                        <li class="list-group-item">
                            <h4 class="col-md-5">Account Issurer</h4>
                            <div class="col-md-7">{{account.bank_name}}</div>
                            <div style="clear:both"></div>
                        </li>
                        <li class="list-group-item">
                            <h4 class="col-md-5">Routing Number</h4>
                            <div class="col-md-7">{{account.routing}}</div>
                            <div style="clear:both"></div>
                        </li>
                        <li class="list-group-item">
                            <h4 class="col-md-5">Account Number</h4>
                            <div class="col-md-7">{{account.account}}</div>
                            <div style="clear:both"></div>
                        </li>
                        <li class="list-group-item" ng-show="account.remainder_of_all">
                            <h4 style="text-align:center">Remainder of Net Pay</h4>
                        </li>
                        <li class="list-group-item" ng-show="!account.remainder_of_all">
                            <h4 class="col-md-5">Amount</h4>
                            <div class="col-md-7">{{account.amount}}</div>
                            <div style="clear:both"></div>
                        </li>
                        <li class="list-group-item" ng-show="!account.remainder_of_all">
                            <h4 class="col-md-5">Percentage</h4>
                            <div class="col-md-7">{{account.percentage}} %</div>
                            <div style="clear:both"></div>
                        </li>
                        <li class="list-group-item" ng-if="account.attachment">
                            <h4 class="col-md-5">Attachment</h4>
                            <div class="col-md-7">{{account.attachment}}</div>
                            <div style="clear:both"></div>
                        </li>
                    </ul>

                    <!-- Here is the form to update existing direct deposit account -->
                    <form name="form" ng-show="account.inEditMode">
                        <div class="row">
                            <div class="form-label">Account Type</div>
                            <div class="textbox">
                                <select ng-model="account.account_type"
                                    ng-required="true"
                                    name="account.account_type"
                                    ng-options="type for type in bankAccountTypes"
                                    class="form-control"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-label">Routing Number</div>
                            <div class="textbox">
                                <input type="text"
                                    name="routing_number"
                                    ng-model="account.routing"
                                    ng-required="true" />
                                <div class="form-error" ng-show="form.routing_number.$dirty && form.routing_number.$invalid">
                                  <span ng-show="form.routing_number.$error.required">Routing number is required</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-label">Account Number</div>
                            <div class="textbox">
                                <input type="text"
                                    name="account_number"
                                    ng-model="account.account"
                                    ng-required="true" />
                                <div class="form-error" ng-show="form.account_number.$dirty && form.account_number.$invalid">
                                  <span ng-show="form.account_number.$error.required">Account number is required</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-label">Name of your Bank</div>
                            <div class="textbox">
                                <input type="text"
                                    name="bank_name"
                                    ng-model="account.bank_name"
                                    ng-required="true" />
                                <div class="form-error" ng-show="form.bank_name.$dirty && form.bank_name.$invalid">
                                  <span ng-show="form.bank_name.$error.required">Your bank's name is required</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="form-label">
                                <input type="checkbox"
                                    name="remainder_of_all"
                                    ng-model="account.remainder_of_all"
                                    ng-required="false" />

                                Remaining of Net Pay
                             </label>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-label">Amount</div>
                                <div class="textbox">
                                    <input type="number"
                                        name="amount"
                                        ng-model="account.amount"
                                        ng-required="false" 
                                        ng-disabled="account.remainder_of_all"/>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-label"> -OR- </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-label">Percentage</div>
                                    <div class="textbox input-group">
                                        <input type="number"
                                            name="percentage"
                                            ng-model="account.percentage"
                                            ng-required="false" 
                                            ng-disabled="account.remainder_of_all"/>
                                        <span class="input-group-addon">%</span>
                                    </div>
                            </div>
                        </div>
                    </form>

                    <div class="col-md-4" ng-hide="account.inEditMode">
                            <a ng-click="deleteDirectDeposit(account)" class="btn green">Remove this (#{{$index + 1}})</a>
                        </div>
                        <div class="col-md-4" ng-hide="account.inEditMode">
                            <a ng-click="editDirectDeposit(account)" class="btn green">Edit this (#{{$index + 1}})</a>
                        </div>
                        <div class="col-md-4" ng-show="account.inEditMode">
                            <a ng-click="updateDirectDeposit(account)" class="btn green">Save this (#{{$index + 1}})</a>
                        </div>
                        <div class="col-md-4" ng-show="account.inEditMode">
                            <a ng-click="exitEditMode(account)" class="btn">Cancel</a>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Here is the edit table for the employee direct deposit -->
    <div class="form-holder col-md-10 col-md-offset-1" ng-show="addingNewAccount">
        <form name="form" ng-repeat="account in newDirectDepositAccounts">
            <div class="row">
                <div class="label label-info">Bank Account - {{$index + 1}} </div>
                <a type="button" ng-click="removeBankAccount(account)"> (Remove this) </a>
            </div>
            <div class="row">
                <div class="form-label">Account Type</div>
                <div class="textbox">
                    <select ng-model="account.account_type"
                        ng-required="true"
                        name="account.account_type"
                        ng-options="type for type in bankAccountTypes"
                        class="form-control"></select>
                </div>
            </div>
            <div class="row">
                <div class="form-label">Routing Number</div>
                <div class="textbox">
                    <input type="text"
                        name="routing_number"
                        ng-model="account.routing"
                        ng-required="true" />
                    <div class="form-error" ng-show="form.routing_number.$dirty && form.routing_number.$invalid">
                      <span ng-show="form.routing_number.$error.required">Routing number is required</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-label">Account Number</div>
                <div class="textbox">
                    <input type="text"
                        name="account_number"
                        ng-model="account.account"
                        ng-required="true" />
                    <div class="form-error" ng-show="form.account_number.$dirty && form.account_number.$invalid">
                      <span ng-show="form.account_number.$error.required">Account number is required</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-label">Name of your Bank</div>
                <div class="textbox">
                    <input type="text"
                        name="bank_name"
                        ng-model="account.bank_name"
                        ng-required="true" />
                    <div class="form-error" ng-show="form.bank_name.$dirty && form.bank_name.$invalid">
                      <span ng-show="form.bank_name.$error.required">Your bank's name is required</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="form-label">
                    <input type="checkbox"
                        name="remainder_of_all"
                        ng-model="account.remainder_of_all"
                        ng-required="false" />
                        
                    Remaining of Net Pay
                 </label>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-label">Amount</div>
                    <div class="textbox">
                        <input type="number"
                            name="amount"
                            ng-model="account.amount"
                            ng-required="false" 
                            ng-disabled="account.remainder_of_all" />
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-label"> -OR- </div>
                </div>
                <div class="col-md-5">
                    <div class="form-label">Percentage (without % sign)</div>
                    <div class="textbox input-group">
                        <input type="number"
                            name="percentage"
                            ng-model="account.percentage"
                            ng-required="false" 
                            ng-disabled="account.remainder_of_all" />
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
            </div>
        </form>
        <div class="add-box col-md-4" style="padding-bottom:10px;">
            <button ng-click="addBankAccount()" class="btn green"> + Add Account </button>
        </div>
        <div class="submit-box col-md-4">
            <button ng-click="submitDirectDeposit()" class="btn green" ng-disabled="form.$invalid">Submit</button>
        </div>
        <div class="cancel-box col-md-4">
            <button ng-click="viewExistingDirectDepositAccounts()" class="btn info">Cancel</button>
        </div>
    </div><!-- / .form-holder -->
    <div class="back col-md-12"><a href="javascript:void(0);" ng-click="backToDashboard()">&laquo; Back</a></div>
</div> <!-- content-header -->
