<div class="breadcrumb">
    <span>Employee Dashboard</span>
</div>

<div class="content-header">
    <h1>My Benefits</h1>
    <span class="general-info">You have total <b>{{benefitCount}}</b> benefits</span>
    <div class="cta"><a href="#/employee/benefits/{{employee_id}}" class="btn green" >Modify Benefits</a></div>
</div><!-- / .content-header -->

<div class="content-body">

    <div class="table-responsive table-holder table" ng-if="benefits.length>0">
        <div class="table-sub-title">
            Selected Benefits
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span>Benefit Name</span></th>
                    <th width="250"><span>Type</span></th>
                    <th width="180"><span>Premium<br />Per pay period</span></th>
                    <th width="300"><span>Enrolled member</span></th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="benefitElement in benefits">
                    <td style="vertical-align: top;">
                        <div>
                            {{benefitElement.benefit.benefit_plan.name}}
                        </div>
                        <div class="benefit-pcp-display" ng-if="benefitElement.pcp">
                            PCP#: {{benefitElement.pcp}}
                        </div>
                    </td>
                    <td width="250">{{benefitElement.benefit.benefit_option_type}}</td>
                    <td width="180">${{benefitElement.benefit.employee_cost_per_period}}</td>
                    <td width="300">
                        <div class="inner-td-div" ng-repeat="enrolled in benefitElement.enrolleds">
                            {{enrolled.person.relationship.capitalize()}} : {{enrolled.person.first_name}} {{enrolled.person.last_name}} <span ng-show="enrolled.pcp && benefitElement.benefit.benefit_plan.benefit_type.name === 'Medical'">(PCP#: {{enrolled.pcp}})</span>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="table-responsive table-holder table" ng-if="waivedBenefits.length>0">
        <div class="table-sub-title">Waived Benefits</div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span>Benefit Type Name</span></th>
                    <th><span>Reason</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="waivedBenefit in waivedBenefits">
                    <td >{{waivedBenefit.benefit_type.name}}</td>
                    <td >{{waivedBenefit.reason}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive table-holder" ng-show="supplementalLifeInsuranceEnabled">
        <div class="table-sub-title">Life Insurance</div>
        <table class="table table-striped" ng-if="isLifeInsuranceWaived(familyInsurancePlan)">
            <thead>
                <tr>
                    <th width="180"><span>Life Insurance</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="180">No active life insurance plan</td>
                </tr>
            </tbody>    
        </table>
        <table class="table table-striped" ng-if="!isLifeInsuranceWaived(familyInsurancePlan)">
            <thead>
                <tr>
                    <th width="180"><span>Plan Name</span></th>
                    <th width="250"><span>Family Member</span></th>
                    <th width="120"><span>Elected Coverage Amount (USD)</span></th>
                    <th width="180"><span>Beneficiary</span></th>
                    <th width="120"><span>Last Update</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="180">{{familyInsurancePlan.mainPlan.life_insurance.life_insurance_plan.name}}</td>
                    <td colspan="2" style="padding: 0;">
                        <table class="table">
                            <tr ng-repeat="memberPlan in familyInsurancePlan.memberPlans">
                                <td width="250">{{memberPlan.full_name}} ({{memberPlan.relationship}})</td>
                                <td width="120">${{memberPlan.insurance_amount}}</td>
                            </tr>
                        </table>
                    </td>
                    <td width="180">
                        <span class="inline" ng-repeat="beneficiary in familyInsurancePlan.mainPlan.life_insurance_beneficiary"> {{$index + 1}}. {{beneficiary.first_name}} {{beneficiary.last_name}}; </br></span>
                    </td>
                    <td width="120">{{familyInsurancePlan.mainPlan.last_update_date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive table-holder">
        <table class="table table-striped" ng-show="!basicLifeInsurancePlan.enrolled">
            <thead>
                <tr>
                    <th width="180"><span>Basic Life Insurance</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="180">No active basic life insurance plan</td>
                </tr>
            </tbody>    
        </table>
        <div class="table-sub-title" ng-show="basicLifeInsurancePlan.enrolled">Basic Life Insurance</div>
        <table class="table table-striped" ng-show="basicLifeInsurancePlan.enrolled">
            <thead>
                <tr>
                    <th width="180"><span>Plan Name</span></th>
                    <th width="120"><span>Elected Coverage Amount (USD)</span></th>
                    <th width="180"><span>Beneficiary</span></th>
                    <th width="120"><span>Last Update</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="180">{{basicLifeInsurancePlan.life_insurance.life_insurance_plan.name}}</td>
                    <td width="180">{{basicLifeInsurancePlan.life_insurance.insurance_amount}}</td>
                    <td width="180">
                        <span class="inline" ng-repeat="beneficiary in basicLifeInsurancePlan.life_insurance_beneficiary"> {{$index + 1}}. {{beneficiary.first_name}} {{beneficiary.last_name}}; </br></span>
                    </td>
                    <td width="120">{{basicLifeInsurancePlan.life_insurance.last_update_date}}</td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="table-responsive table-holder table">
        <div class="table-sub-title">Flexible Spending Account</div>
        <table class="table-striped">
            <thead>
                <tr>
                    <th><span>Account Type</span></th>
                    <th><span>Elected Annual Amount (USD)</span></th>
                    <th><span>Last Update</span></th>
                    <th><span>Last Update Reason</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Primary Account</td>
                    <td>${{fsaElection.primary_amount_per_year}}</td>
                    <td rowspan="2" style="vertical-align:middle;">{{fsaElection.last_update_date_time}}</td>
                    <td rowspan="2" style="vertical-align:middle;">{{fsaElection.update_reason}}</td>
                </tr>
                <tr>
                    <td>Dependent Care Account</td>
                    <td>${{fsaElection.dependent_amount_per_year}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div><!-- / .content-body -->

<div class="content-header">
    <h1>My Payroll</h1>
    <span class="general-info">View/edit your payroll information here</span>
</div><!-- / .content-header -->

<div class="content-body">
    <div class="table-responsive table-holder table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span>Payroll Information</span></th>
                    <th><span>Action</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Direct deposit</td>
                    <td>
                        <a class="btn inline" ng-click="ViewDirectDeposit(false)"> View</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div><!-- / .content-body -->

<div class="content-header">
    <h1>My Documents</h1>
    <span class="general-info">You have total <b>{{documentCount}}</b> documents</span>
</div><!-- / .content-header -->

<div class="content-body">
    <div class="table-responsive table-holder table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span>Document Name</span></th>
                    <th><span>Action</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="document in documents">
                    <td>{{document.name}}</td>
                    <td>
                        <a class="btn inline" ng-click="ViewDocument(document.id)"> View</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div><!-- / .content-body -->

<div class="content-header">
    <h1>My Profile</h1>
    <span class="general-info">View/edit your information here</span>
</div><!-- / .content-header -->

<div class="content-body">
    <div class="table-responsive table-holder">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span>Information Type</span></th>
                    <th><span>Action</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>I-9</td>
                    <td>
                        <a class="btn inline" ng-click="ViewInfo('i9')"> View </a>
                        <!-- <a class="btn inline" ng-click="EditInfo('i9')"> Edit </a> -->
                    </td>
                </tr>
                <tr>
                    <td>W-4</td>
                    <td>
                        <a class="btn inline" ng-click="ViewInfo('w4')"> View </a>
                        <!-- <a class="btn inline" ng-click="EditInfo('w4')"> Edit </a> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div><!-- / .content-body -->
