<div class="breadcrumb">
    <a href="/">Home</a>
    <a ng-href="#/admin">Employer Dashboard</a>
    <span>View Benefits</span>
</div>

<div class="content-header">
    <h1>View Benefits</h1>
    <span class="general-info">You have total <b>{{benefitCount}}</b> employees</span>
</div><!-- / .content-header -->

<div class="content-body">

    <div class="table-responsive table-holder" ng-repeat="benefitArray in companyBenefitsArray">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span>{{benefitArray.type}}</span></th>
                    <th width="250"><span>Types</span></th>
                    <th width="180"><span>Total Premiums</span></th>
                    <th width="180"><span>Employee Premiums</span></th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="benefit in benefitArray.benefitList">
                    <td style="vertical-align: top;">{{benefit.name}}</td>
                    <td colspan="3" style="padding: 0;">
                        <table class="table">
                            <tr ng-repeat="option in benefit.options">
                                <td width="250">{{option.optionType}}</td>
                                <td width="180">${{option.totalCost}}</td>
                                <td width="180">${{option.employeeCost}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="back"><a href="javascript:void(0);" onclick="history.back()">&laquo; Back</a></div>
</div><!-- / .content-body -->
