<div class="breadcrumb">
  <span ng-href="#/admin">Employer Dashboard</span>
</div>

<div class="content-header">
  <h1>Welcome, {{curUser.first_name}}</h1>
  <span class="general-info">Account Type: Employer</span>
</div>

<div class="content-body">
  <div class="dashboard-card">
    <div class="info-row">
      <div class="col-xs-4 img-col"><span class="flaticon-user135"></span></div>
      <div class="col-xs-8 info-col">
        <h3>{{employeeCount}}</h3>
        <p class="title">Employees</p>
      </div>
    </div>
    <div class="action-row">
      <div class="col-xs-6"><a ng-click="addEmployeeClick(company.id)">Add</a></div>
      <div class="col-xs-6"><a ng-click="viewEmployeeClick(company.id)">View</a></div>
    </div>
  </div><!-- / .dashboard-card -->
  <div class="dashboard-card" ng-show="enabledFeatures.RangedTimeCard">
    <div class="info-row">
      <div class="col-xs-4 img-col"><span class="flaticon-reminder5"></span></div>
      <div class="col-xs-8 info-col">
        <p class="title">Time Attendance</p>
      </div>
    </div>
    <div class="action-row">
      <div class="col-xs-12"><a ng-click="viewTimePunchCards()">View</a></div>
    </div>
  </div><!-- / .dashboard-card -->
  <div class="dashboard-card" ng-hide="disabledFeatures.Timeoff">
    <div class="info-row">
      <div class="col-xs-4 img-col"><span class="flaticon-file46"></span></div>
      <div class="col-xs-8 info-col">
        <p class="title">Paid Time Off (PTO)</p>
      </div>
    </div>
    <div class="action-row">
      <div class="col-xs-6"><a ng-click="viewTimeOffRequests()">Requests</a></div>
      <div class="col-xs-6"><a ng-click="viewTimeOffQuota()">Quota</a></div>
    </div>
  </div><!-- / .dashboard-card -->
  <div class="dashboard-card">
    <div class="info-row">
      <div class="col-xs-4 img-col"><span class="flaticon-heart260"></span></div>
      <div class="col-xs-8 info-col">
        <p class="title">Benefits</p>
      </div>
    </div>
    <div class="action-row">
      <div class="col-xs-6"><a ng-click="viewBenefitsClick(company.id)">View Benefits</a></div>
      <div class="col-xs-6"><a ng-click="viewBenefitElection(company.id)">View Employee Selection</a></div>
    </div>
  </div><!-- / .dashboard-card -->
  <div class="dashboard-card">
    <div class="info-row">
      <div class="col-xs-4 img-col"><span class="flaticon-rounded47"></span></div>
      <div class="col-xs-8 info-col">
        <h3>{{templateCount}}</h3>
        <p class="title">Documents</p>
      </div>
    </div>
    <div class="action-row">
      <div class="col-xs-6"><a ng-click="viewDocumentTemplate(company.id)">Templates</a></div>
      <div class="col-xs-6"><a ng-click="viewEmployeeClick(company.id)">Documents</a></div>
    </div>
  </div><!-- / .dashboard-card -->
  <div class="dashboard-card">
    <div class="info-row">
      <div class="col-xs-4 img-col"><span class="flaticon-bell34"></span></div>
      <div class="col-xs-8 info-col">
        <h3>{{vendorsCount}}</h3>
        <p class="title">Vendors</p>
      </div>
    </div>
    <div class="action-row">
      <div class="col-xs-6"><a ng-click="viewVendors()">View</a></div>
      <div class="col-xs-6"><a ng-click="viewBrokers(company.id)">Brokers</a></div>
    </div>
  </div><!-- / .dashboard-card -->
  <div class="dashboard-card" ng-show="enabledFeatures.ProjectManagement">
    <div class="info-row">
      <div class="col-xs-4 img-col"><span class="flaticon-circular177"></span></div>
      <div class="col-xs-8 info-col">
        <p class="title">Project Management</p>
      </div>
    </div>
    <div class="action-row">
      <div class="col-xs-6"><a ng-click="viewContractors()">Contractors</a></div>
      <div class="col-xs-6"><a ng-click="viewProjects()">Projects</a></div>
    </div>
  </div>
  <div class="dashboard-card">
    <div class="info-row">
      <div class="col-xs-4 img-col"><span class="flaticon-cellphone51"></span></div>
      <div class="col-xs-8 info-col">
        <p class="title">Support</p>
      </div>
    </div>
    <div class="action-row">
      <div class="col-xs-12"><a ng-click="viewSupport()">View</a></div>
    </div>
  </div><!-- / .dashboard-card -->
</div><!-- / .content-body -->
