<div class="breadcrumb">
  <span ng-href="#/employee">Employee Dashboard</span>
</div>

<div class="content-header">
  <h1>Welcome, {{curUser.first_name}}</h1>
  <span class="general-info">Account Type: Employee</span>
</div>

<div class="content-body">
  <div ng-if="showTimeTrackingSection()">
      <div class="dashboard-card" ng-if="showTimeoff()">
        <div class="info-row">
          <div class="col-xs-4 img-col"><span class="flaticon-logout5"></span></div>
          <div class="col-xs-8 info-col">
            <h4>Timeoff Requests</h4>
          </div>
        </div>
        <div class="action-row">
          <div class="col-xs-12"><a ng-click="viewTimeoff()">View</a></div>
        </div>
      </div><!-- / .dashboard-card -->
      <div class="dashboard-card" ng-if="showTimePunchCards()">
        <div class="info-row">
          <div class="col-xs-4 img-col"><span class="flaticon-circular177"></span></div>
          <div class="col-xs-8 info-col">
            <h4>Time Tracking</h4>
          </div>
        </div>
        <div class="action-row">
          <div class="col-xs-12"><a ng-click="viewTimePunchCards()">View</a></div>
        </div>
      </div><!-- / .dashboard-card -->
  </div>

  <div ng-if="showBenefitSection()">
    <div class="dashboard-card">
      <div class="info-row">
        <div class="col-xs-4 img-col"><span class="flaticon-heart260"></span></div>
        <div class="col-xs-8 info-col">
          <h4>Benefits</h4>
        </div>
      </div>
      <div class="action-row">
        <div class="col-xs-6"><a ng-click="viewBenefits()">View</a></div>
        <div class="col-xs-6"><a ng-click="viewEmployeeSupportPage()">Wellness</a></div>
      </div>
    </div><!-- / .dashboard-card -->
  </div>

  <div class="dashboard-card" ng-if="showPayrollSection()">
    <div class="info-row">
      <div class="col-xs-4 img-col"><span class="flaticon-pie52"></span></div>
      <div class="col-xs-8 info-col">
        <h4>My Payroll</h4>
      </div>
    </div>
    <div class="action-row">
      <div class="col-xs-6" ng-if="showPayrollW4Section()">
        <a ng-click="viewPayrollW4()">W4</a>
      </div>
      <div class="col-xs-6" ng-if="showPayrollDirectDepositSection()">
        <a ng-click="viewPayrollDirectDeposit()">Direct Deposit</a>
      </div>
    </div>
  </div><!-- / .dashboard-card -->

  <div class="dashboard-card">
    <div class="info-row">
      <div class="col-xs-4 img-col"><span class="flaticon-rounded47"></span></div>
      <div class="col-xs-8 info-col">
        <h4>Documents</h4>
      </div>
    </div>
    <div class="action-row">
      <div class="col-xs-6"><a ng-click="viewDocuments()">View</a></div>
      <div class="col-xs-6"><a ng-click="viewUploads()">Uploads</a></div>
    </div>
  </div><!-- / .dashboard-card -->

  <div class="dashboard-card" ng-if="showProfileI9()">
    <div class="info-row">
      <div class="col-xs-4 img-col"><span class="flaticon-user135"></span></div>
      <div class="col-xs-8 info-col">
        <h4>My Profile</h4>
      </div>
    </div>
    <div class="action-row">
      <div class="col-xs-6"><a ng-click="gotoSettings()">Self</a></div>
      <div class="col-xs-6"><a ng-click="goToFunctionalView('/employee/family/')">Family</a></div>
    </div>
  </div><!-- / .dashboard-card -->

  <div ng-if="showProfileI9()">
      <div class="dashboard-card">
        <div class="info-row">
          <div class="col-xs-4 img-col"><span class="flaticon-user135"></span></div>
          <div class="col-xs-8 info-col">
            <h4>Employment Profile</h4>
          </div>
        </div>
        <div class="action-row">
          <div class="col-xs-12"><a ng-click="viewProfileI9()">View</a></div>
        </div>
      </div><!-- / .dashboard-card -->
  </div>

</div>
