<div class="breadcrumb">
    <a href="/">Home</a>
    <a ng-href="#/admin">Employee Dashboard</a>
    <span>View Document</span>
</div>

<script type="text/javascript" src="js/flashcanvas.js"></script>
<script src="js/jSignature.min.js"></script>

<div class="content-header">
    <h1>Document</h1>
</div><!-- / .content-header -->

<div class="col-md-10">
    <div class="signature-container">
        <div id="doc_signature" class="signature-pad"></div>
        <div class="signature-submit">
            <button ng-click="clearSignature()" class="btn btn-primary btn-labeled">
                Reset
            </button>
            <button ng-click="signDocument()" class="btn btn-primary btn-labeled">
                <span class="btn-label icon fa fa-plus"></span>Sign
            </button>
        </div>
        <input type="hidden" name="signatureHiddenData" value="{{signatureImage}}"/>
    </div>
</div>
<div class="col-md-1">
</div>
<div style="clear:both">
</div>
