<div class="breadcrumb">
  <a ng-click="backToDashboard()">{{role}} Dashboard</a>
  <span>{{employee.first_name}} {{employee.last_name}}</span>
</div>

<div class="content-header">
  <h1>Employee {{employee.first_name}} {{employee.last_name}}</h1>
  <div class="cta" ng-if="showEditButton"><a ng-click="editEmployeeDetail()" class="btn green">Edit</a></div>
  <div class="cta" ng-if="terminateEmployeeButton"><a ng-click="terminateEmployment()" class="btn red">Terminate Employment</a></div>
  <div class="cta employee-terminate" ng-show="terminateMessage">{{terminateMessage}}</div>
</div><!-- / .content-header -->

<div class="content-body">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class='panel'>
        <div class='panel-heading' ng-click="basicInfoExpanded = !basicInfoExpanded">
          <b class="clickable"><span class="fa fa-toggle-down"></span>  Basic Information</b>
        </div>
        <div class="panel-body" collapse="!basicInfoExpanded">
          <ul class="list-group">
            <li class="list-group-item">
              <h4 class="col-md-5">
                First Name
              </h4>
              <div class="col-md-7">
                {{employee.first_name}}
              </div>
              <div style="clear:both"></div>
            </li>
            <li class="list-group-item">
              <h4 class="col-md-5">
                Last Name
              </h4>
              <div class="col-md-7">
                {{employee.last_name}}
              </div>
              <div style="clear:both"></div>
            </li>
            <li class="list-group-item">
              <h4 class="col-md-5">
                Email
              </h4>
              <div class="col-md-7">
                {{employee.email}}
              </div>
              <div style="clear:both"></div>
            </li>
            <li class="list-group-item" ng-if='employee.birth_date'>
              <h4 class="col-md-5">
                Birthday
              </h4>
              <div class="col-md-7">
                {{employee.birth_date}}
              </div>
              <div style="clear:both"></div>
            </li>
            <li class="list-group-item" ng-if='employee.gender'>
              <h4 class="col-md-5">
                Gender
              </h4>
              <div class="col-md-7">
                {{employee.gender}}
              </div>
              <div style="clear:both"></div>
            </li>
            <li class="list-group-item" ng-repeat="phone in employee.phones">
              <h4 class="col-md-5">
                {{phone.phone_type.capitalize()}} Phone
              </h4>
              <div class="col-md-7">
                {{phone.number}}
              </div>
              <div style="clear:both"></div>
            </li>
            <li class="list-group-item" ng-repeat="address in employee.addresses">
              <h4 class="col-md-5">
                {{address.address_type.capitalize()}} Address
              </h4>
              <div class="col-md-7">
                {{address.street_1}} {{address.street_2}} <br />
                {{address.city}}, {{address.state}} {{address.zipcode}}
              </div>
              <div style="clear:both"></div>
            </li>
          </ul>
        </div>
      </div>
      <div class='panel' ng-show="employee.employeeProfile">
        <div class='panel-heading' ng-click="employeeProfileExpanded = !employeeProfileExpanded">
          <b class="clickable"><span class="fa fa-toggle-down"></span>  Employee Profile</b>
          <a ng-click="editEmployeeProfile();$event.stopPropagation();" ng-if="!isBroker">
            <span class="fa fa-2x fa-pencil pull-right"></span>
          </a>
        </div>
        <div class="panel-body" collapse="!employeeProfileExpanded">
          <ul class="list-group">
            <li class="list-group-item">
              <h4 class="col-md-5">
                Employee Number
              </h4>
              <div class="col-md-7">
                {{employee.employeeProfile.employeeNumber}}
              </div>
              <div style="clear:both"></div>
            </li>
            <li class="list-group-item">
              <h4 class="col-md-5">
                Job Title
              </h4>
              <div class="col-md-7">
                {{employee.employeeProfile.jobTitle}}
              </div>
              <div style="clear:both"></div>
            </li>
            <li class="list-group-item">
              <h4 class="col-md-5">
                Employment Type
              </h4>
              <div class="col-md-7">
                {{employee.employeeProfile.employmentType}}
              </div>
              <div style="clear:both"></div>
            </li>
            <li class="list-group-item">
              <h4 class="col-md-5">
                Employment Status
              </h4>
              <div class="col-md-7">
                {{employee.employeeProfile.employmentStatus}}
              </div>
              <div style="clear:both"></div>
            </li>
            <li class="list-group-item">
              <h4 class="col-md-5">
                Manager
              </h4>
              <div class="col-md-7">
                {{getManagerName(employee.employeeProfile)}}
              </div>
              <div style="clear:both"></div>
            </li>
            <li class="list-group-item">
              <h4 class="col-md-5">
                Employment Start Date
              </h4>
              <div class="col-md-7">
                {{employee.employeeProfile.startDateForDisplay()}}
              </div>
              <div style="clear:both"></div>
            </li>
            <li class="list-group-item">
              <h4 class="col-md-5">
                Employment Termination Date
              </h4>
              <div class="col-md-7">
                {{employee.employeeProfile.endDateForDisplay()}}
              </div>
              <div style="clear:both"></div>
            </li>
            <li class="list-group-item">
              <h4 class="col-md-5">
                Benefit Start Date
              </h4>
              <div class="col-md-7">
                {{employee.employeeProfile.benefitStartDateForDisplay()}}
              </div>
              <div style="clear:both"></div>
            </li>
            <li class="list-group-item">
              <h4 class="col-md-5">
                Profile Last Updated Time
              </h4>
              <div class="col-md-7">
                {{employee.employeeProfile.lastUpdateDateTime}}
              </div>
              <div style="clear:both"></div>
            </li>
          </ul>
        </div>
      </div>
      <div class='panel'>
        <div class='panel-heading' ng-click="compensationExpanded = !compensationExpanded">
          <b class="clickable"><span class="fa fa-toggle-down"></span>  Compensation</b>
          <a ng-click="addCompensation();$event.stopPropagation();" ng-if="!isBroker">
            <span class="fa fa-2x fa-plus-square-o pull-right"></span>
          </a>
        </div>
        <div class="panel-body" collapse="!compensationExpanded">
          <div ng-show="compensations.length === 0">
            No compensation record for {{employee.first_name}} {{employee.last_name}} yet.
            <a ng-click="addCompensation()">Add one now?</a>
          </div>
          <!-- display annual salary for full time employees -->
          <table class="table table-striped" ng-show="isFullTime(employee) && compensations.length > 0">
            <thead>
              <tr>
                <th><span>Annual Salary</span></th>
                <th><span>Hourly Rate</span></th>
                <th><span>Hours (Est.)</span></th>
                <th><span>Increase Percentage</span></th>
                <th><span>Effective Date</span></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="compensation in compensations">
                <td>
                  <span ng-hide="compensation.salary">N/A</span>
                  <span ng-show="compensation.salary">$ {{compensation.salary}}  </span>
                  <span ng-show="compensation.isCurrent && compensation.salary">
                    (<i class="fa fa-asterisk"></i>)
                  <span>
                </td>
                <td>
                  <span ng-hide="compensation.hourlyRate">N/A</span>
                  <span ng-show="compensation.hourlyRate">$ {{compensation.hourlyRate}}  </span>
                  <span ng-show="compensation.isCurrent && compensation.hourlyRate">
                    (<i class="fa fa-asterisk"></i>)
                  <span>
                </td>
                <td>
                  <span ng-hide="compensation.projectedHourPerMonth">N/A</span>
                  <span ng-show="compensation.projectedHourPerMonth">
                    $ {{compensation.projectedHourPerMonth}} hrs/month
                  </span>
                </td>
                <td>
                  <span ng-show="compensation.increasePercentage">
                    {{compensation.increasePercentage}} %
                  </span>
                  <span ng-show="!compensation.increasePercentage">
                    Not Applicable
                  </span>
                </td>
                <td>{{compensation.effectiveDate}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr><td colspan="4">(*) Current compensation;</td></tr>
            </tfoot>
          </table><!-- full time employee compensation -->
          <!-- display hourly rate and projected hour per month for part time employees -->
          <table class="table table-striped" ng-show="!isFullTime(employee) && compensations.length > 0">
            <thead>
              <tr>
                <th><span>Hourly Rate</span></th>
                <th><span>Projected Hour per Month</span></th>
                <th><span>Effective Date</span></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="compensation in compensations">
                <td>
                  <span>$ {{compensation.hourlyRate}}  </span>
                  <span ng-show="compensation.isCurrent">
                    (<i class="fa fa-asterisk"></i>)
                  <span>
                </td>
                <td>
                  <span>{{compensation.projectedHourPerMonth}} hours/month</span>
                </td>
                <td>{{compensation.effectiveDate}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr><td>(*) Current compensation;</td></tr>
            </tfoot>
          </table><!-- part time employee compensation -->
        </div>
      </div>
      <div class='panel' ng-show="employee.emergency_contact.length > 0">
        <div class='panel-heading' ng-click="emergencyContactExpanded = !emergencyContactExpanded">
          <b class="clickable"><span class="fa fa-toggle-down"></span>  Emergency Contact</b>
        </div>
        <div class="panel-body" collapse="!emergencyContactExpanded">
          <ul class="list-group" ng-repeat="emergency in employee.emergency_contact">
            <li class="list-group-item">
              <h4 class="col-md-5">
                Name
              </h4>
              <div class="col-md-7">
                {{emergency.first_name}}&nbsp;{{emergency.last_name}}
              </div>
              <div style="clear:both"></div>
            </li>
            <li class="list-group-item">
              <h4 class="col-md-5">
                Relationship
              </h4>
              <div class="col-md-7">
                {{emergency.relationship}}
              </div>
              <div style="clear:both"></div>
            </li>
            <li class="list-group-item">
              <h4 class="col-md-5">
                Phone Number
              </h4>
              <div class="col-md-7">
                {{emergency.phone}}
              </div>
              <div style="clear:both"></div>
            </li>
          </ul>
        </div>
      </div>
      <div class='panel' ng-show="employee.i9.length > 0">
        <div class='panel-heading' ng-click="I9Expanded = !I9Expanded">
          <b class="clickable"><span class="fa fa-toggle-down"></span>  I-9 Information</b>
        </div>
        <div class="panel-body" collapse="!I9Expanded">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="entry in employee.i9">
              <h4 class="col-md-5">{{entry.display_name}}</h4>
              <div class="col-md-7">{{entry.value}}</div>
              <div style="clear:both"></div>
            </li>
          </ul>
        </div>
      </div>
      <div class='panel' ng-show="employee.w4.length > 0">
        <div class='panel-heading' ng-click="W4Expanded = !W4Expanded">
          <b class="clickable"><span class="fa fa-toggle-down"></span>  W4 Information</b>
        </div>
        <div class="panel-body" collapse="!W4Expanded">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="entry in employee.w4">
              <h4 class="col-md-5">{{entry.display_name}}</h4>
              <div class="col-md-7">{{entry.value}}</div>
              <div style="clear:both"></div>
            </li>
          </ul>
        </div>
      </div>
      <bm-employee-phraseology-manager ng-if="employee.employeeProfile.personId"
                                       employee-person-id="employee.employeeProfile.personId"
                                       company-id="employee.employeeProfile.companyId">
      </bm-employee-phraseology-manager>
    </div>
  </div>

  <div class="back"><a href="javascript:void(0);" ng-click="backToList()">&laquo; Back</a></div>
</div> <!-- content-header -->
