<div class="breadcrumb">
    <a ng-href="#/employee">Employee Dashboard</a>
    <span>Update Benefits</span>
</div>

<div class="content-header">
    <h1>Modify Benefits</h1>
    <span class="general-info">Please use the form below to update your benefit</span>
    <div class="cta"><a ng-click="addMember()" class="btn green" >Add a family member</a></div>
</div><!-- / .content-header -->

<div class="content-body">
    <div class="panel" ng-repeat="benefitTypePlan in availablePlans">
        <div class="panel-head">{{benefitTypePlan.benefit_type}} Plan</div>
        <div class="panel-body">
            <div class="select-box">
                <select ng-model="benefitTypePlan.selected"
                    ng-required="true"
                    name="{{benefitTypePlan.type}}_benefit_plan"
                    ng-options="plan.benefit.benefit_plan.name + ', ' + plan.benefit.benefit_option_type + ' (Premium: $' + plan.benefit.employee_cost_per_period + ')' for plan in benefitTypePlan.benefitList"
                    class="form-control"></select>
            </div>
            <div class="row">
                <div class="col-sm-4"><div class="form-label">Select Members:</div></div>
                <div class="col-sm-8">
                    <span class="checkbox" ng-repeat="member in benefitTypePlan.selected.eligibleMemberCombo.familyList">
                        <label>
                            <input type="checkbox" class="px" ng-model="member.selected" id="{{benefitTypePlan.type}}_family" ng-change="memberSelected(benefitTypePlan.selected, member)">
                            <span class="lbl">{{member.first_name}} {{member.last_name}}</span>
                        </label>
                    </span>
                </div>
            </div>
            <div class="row benefit-pcp-row" ng-if="isMedicalBenefitType(benefitTypePlan)">
                <div class="col-md-4">
                    <div class="form-label">Primary Care Physician Number</div>
                    <div class="form-sub-text">
                        You can retrieve your Primary Care Physician Number at the benefit provider website
                    </div>
                </div>
                <div class="col-md-8 pcp-container">
                    <input type="text" ng-model="benefitTypePlan.selected.pcp"/>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-head">Life Insurance</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-label">Please select life insurance plan to enroll</div>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-offset-2 col-md-6">
                    <div class="select-box">
                        <select ng-model="selectedLifeInsurancePlan"
                            ng-options="lifeInsurancePlan as lifeInsurancePlan.text for lifeInsurancePlan in lifeInsurancePlans"
                            class="form-control"></select>
                    </div>
                </div>
            </div>
            <div ng-if="!isWaiveLifeInsuranceSelected()">
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-4">
                        <div class="form-label">Elected Insurance Amount</div>
                    </div>
                </div>
                <div class="row" style="margin-top:3px;" ng-repeat="memberPlan in familyLifeInsurancePlan.memberPlans">
                    <div class="col-md-offset-2 col-md-3" style="margin-top:7px;">
                        <div>{{memberPlan.full_name}} ({{memberPlan.relationship}})</div>
                    </div>
                    <div class="col-md-2 input-group">
                        <span class="input-group-addon">$</span>
                        <input class="form-control" type="text" min="0" max="2550" ui-number-mask="0" ng-model="memberPlan.insurance_amount" />
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-4">
                        <div class="form-label">Insurance Beneficiary</div>
                    </div>
                </div>
                <div class="row"  style="margin-top:10px;">
                    <div class="col-md-offset-2 col-md-6">
                        <div class="form-holder">
                            <form name="form" ng-repeat="beneficiary in familyLifeInsurancePlan.mainPlan.life_insurance_beneficiary">
                                <div class="row">
                                    <div class="label label-info">Beneficiary - {{$index + 1}} </div>
                                    <a type="button" ng-click="removeBeneficiary(beneficiary)"> (Remove this) </a>
                                </div>
                                <div class="row">
                                    <div class="form-label">First Name</div>
                                    <div class="textbox">
                                        <input type="text"
                                            name="beneficiary_firstname"
                                            ng-model="beneficiary.first_name"
                                            ng-required="true" />
                                        <div class="form-error" ng-show="form.beneficiary_firstname.$dirty && form.beneficiary_firstname.$invalid">
                                            <span ng-show="form.beneficiary_firstname.$error.required">First name field is required</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-label">Middle Name</div>
                                    <div class="textbox">
                                        <input type="text"
                                            name="beneficiary_middlename"
                                            ng-model="beneficiary.middle_name"
                                            ng-required="false" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-label">Last Name</div>
                                    <div class="textbox">
                                        <input type="text"
                                            name="beneficiary_lastname"
                                            ng-model="beneficiary.last_name"
                                            ng-required="true" />
                                        <div class="form-error" ng-show="form.beneficiary_lastname.$dirty && form.beneficiary_lastname.$invalid">
                                            <span ng-show="form.beneficiary_lastname.$error.required">Last name field is required</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-label">Relationship</div>
                                    <div class="textbox">
                                        <input type="text"
                                            name="beneficiary_relationship"
                                            ng-model="beneficiary.relationship"
                                            ng-required="true" />
                                        <div class="form-error" ng-show="form.beneficiary_relationship.$dirty && form.beneficiary_relationship.$invalid">
                                            <span ng-show="form.beneficiary_relationship.$error.required">Relationship is required</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-label">Phone Number</div>
                                    <div class="textbox">
                                        <input tyle="tel"
                                            name="beneficiary_phone"
                                            ng-model="beneficiary.phone"
                                            ng-required="false"
                                            ui-mask="(999)999-9999" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-label">Email</div>
                                    <div class="textbox">
                                        <input type="email"
                                            name="beneficiary_email"
                                            ng-model="beneficiary.email"
                                            ng-required="false"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-label">Percentage 
                                    (Please make sure percentage for all beneficiaries adds up to 100%)</div>
                                    <div class="textbox">
                                        <input type="text"
                                            max="100.0"
                                            min="0.0"
                                            name="beneficiary_percentage"
                                            ng-model="beneficiary.percentage"
                                            ng-required="true"/>
                                        <div class="form-error" ng-show="form.beneficiary_percentage.$dirty && form.beneficiary_percentage.$invalid">
                                            <span ng-show="form.beneficiary_percentage.$error.required">Percentage is required</span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="add-box" style="max-width: 200px;">
                            <a ng-click="addBeneficiary()"
                                class="btn green"
                                ng-disabled="familyLifeInsurancePlan.mainPlan.life_insurance_beneficiary.length >= 4"> + Add a new beneficiary </a>
                            <div class="form-label">You can select up to 4 beneficiaries.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-head">Flexible Spending Accounts</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-label">Please specify the reason for any updates</div>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-offset-2 col-md-6">
                    <div class="select-box">
                        <select ng-model="selectedFsaUpdateReason"
                            ng-options="fsaUpdateReason as fsaUpdateReason.text for fsaUpdateReason in fsaUpdateReasons"
                            class="form-control"></select>
                    </div>
                </div>
            </div>
            <div ng-if="isFsaUpdateReasonSelected()">
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-4">
                        <div class="form-label">Elected Annual Amount</div>
                    </div>
                </div>
                <div class="row" style="margin-top:3px;">
                    <div class="col-md-offset-2 col-md-3" style="margin-top:7px;">
                        <div>Primary Account</div>
                    </div>
                    <div class="col-md-2 input-group">
                        <span class="input-group-addon">$</span>
                        <input class="form-control" type="text" min="0" max="2550" ui-number-mask="0" ng-model="fsaElection.primary_amount_per_year" />
                    </div>
                </div>
                <div class="row" style="margin-top:3px;">
                    <div class="col-md-offset-2 col-md-3" style="margin-top:7px;">
                        <div>Dependent Care Account</div>
                    </div>
                    <div class="col-md-2 input-group">
                        <span class="input-group-addon">$</span>
                        <input class="form-control" type="text" min="0" max="5000" ui-number-mask="0" ng-model="fsaElection.dependent_amount_per_year" />
                    </div>
                </div>
                <div class="row"  style="margin-top:10px;">
                    <div class="col-md-offset-2 col-md-6">
                        <div class="alert alert-info">
                            <ul>
                                <li>
                                    <small>
                                        <strong>Primary Account</strong>: Cannot Exceed the Lesser of the Company Maximum or $2,550.00
                                    </small>
                                </li>
                                <li>
                                    <small>
                                        <strong>Dependent Care Account</strong>: Maximum $5,000
                                    </small>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-holder">
        <div class="row">
            <div class="col-sm-6">
                <div class="submit-box" style="max-width: 200px;">
                    <a ng-click="save()" class="btn green">Save Selection</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="back"><a href="javascript:void(0);" onclick="history.back()">Cancel</a></div>
            </div>
        </div>
    </div>


    <h2>Benefits details from your company are listed below:</h2>

    <!-- Here is the medical benefit section -->

    <div class="table-responsive table-holder" ng-show="medicalBenefitGroup.benefitNameArray.length > 0">
        <table class="table table-striped medical-plan-display-table">
            <thead>
                <th colspan="2"><span>{{medicalBenefitGroup.groupTitle}}</span></th>
                <th colspan="6" ng-repeat="benefitName in medicalBenefitGroup.benefitNameArray" class="benefit-name">
                    <span>{{benefitName.name}}</span>
                </th>
            </thead>
            <tbody>
                <tr class="title-row">
                    <td colspan="2" class="plan-row-head"><span>Plans Premium<br />(per pay period)</span></td>
                    <td ng-repeat="benefitOption in medicalBenefitGroup.benefitOptionMetaArray" colspan="{{benefitOption.colspan}}">
                        <span>{{benefitOption.name}}</span>
                    </td>
                </tr>
                <tr class="value-row" ng-repeat="optionValue in medicalBenefitGroup.benefitOptionValueArray">
                    <td colspan="2" class="row-head"><span>{{optionValue.optionName}}</span></td>
                    <td ng-repeat="cost in optionValue.benefitCostArray" colspan="{{cost.colspan}}"><span>{{cost.value}}</span></td>
                </tr>
                <tr class="title-row">
                    <td colspan="2"><span>Options</span></td>
                    <td ng-repeat="benefitPolicy in medicalBenefitGroup.policyNameArray", colspan="{{benefitPolicy.colspan}}">
                        <span>{{benefitPolicy.name}}</span>
                    </td>
                </tr>
                <tr class="value-row" ng-repeat="policyListMember in medicalBenefitGroup.policyList">
                    <td colspan="2" class="row-head"><span>{{policyListMember.name}}</span></td>
                    <td ng-repeat="policyValue in policyListMember.valueArray", colspan="{{policyValue.colspan}}">
                        <span>{{policyValue.value}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Here is the non medical benefit section -->
    <div class="table-responsive table-holder" ng-repeat="benefitArray in nonMedicalBenefitArray">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span>{{benefitArray.type}}</span></th>
                    <th width="250"><span>Types</span></th>
                    <th width="180"><span>Total Premiums</span></th>
                    <th width="180"><span>Employee Premiums</span></th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="benefit in benefitArray.benefitList">
                    <td style="vertical-align: top;">{{benefit.name}}</td>
                    <td colspan="3" style="padding: 0;">
                        <table class="table">
                            <tr ng-repeat="option in benefit.options">
                                <td width="250">{{option.optionType}}</td>
                                <td width="180">${{option.totalCost}}</td>
                                <td width="180">${{option.employeeCost}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div><!-- / .content-body -->
