<div class="breadcrumb">
    <a ng-href="/dashboard">Dashboard</a>
    <span>Employee Information</span>
</div>

<div class="content-header">
    <h1>Edit Your Information</h1>
    <span class="general-info">You can edit the information associated with your account here</span>
</div><!-- / .content-header -->

<div class="content-body">
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <a href="javascript:void(0);" ng-click="editI9()" ng-class="isUpdateI9 ? 'list-group-item active':'list-group-item' ">
                    <h4 class="list-group-item-heading">Edit I-9 Information</h4>
                </a>
                <a href="javascript:void(0);" ng-click="editW4()" ng-class="isUpdateW4? 'list-group-item active':'list-group-item'">
                    <h4 class="list-group-item-heading">Edit W4 Information</h4>
                </a>
            </div>
        </div>

        <div class="col-md-8">
            <div class="form-holder" ng-show="isUpdateW4">
                <h4>Please let us know how to withhold your paycheck for Income Tax</h4>
                <form name="taxForm" ng-controller="onboardTax">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="radio-label">
                                <label class="control-label">How do you choose to withhold for tax?</label>
                            </div>
                            <div class="radio-container">
                                <div class="col-md-4 col">
                                    <input type="radio" name="withholdingType" ng-model="employee.withholdingType" value="single">
                                    Single
                                </div>
                                <div class="col-md-4 col">
                                    <input type="radio" name="withholdingType" ng-model="employee.withholdingType" value="married">
                                    Married
                                </div>
                                <div class="col-md-12 col">
                                    <input type="radio" name="withholdingType" ng-model="employee.withholdingType" value="higher">
                                    Married, but withold at higher Single rate
                                </div>
                                <div class="notes" style="clear:both;">Note, if married, but legally separated, or spouse is a nonresident alien, check the "Single" box</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <label class="control-label">Enter the number of dependents&nbsp;</label>
                            <span class="textbox">
                                <input type="number"
                                    min="0"
                                    ng-model="employee.dependent_count"
                                    ng-required="true"
                                    ng-name = "dependent_count" />
                            </span>

                        </li>
                        <li class="list-group-item">
                            <div class="radio-label">
                                <label class="control-label">Will you file as head of household on your tax return?</label>
                            </div>
                            <div class="radio-container">
                                <div class="col-md-2">
                                    <input type="radio" name="household" ng-model="employee.headOfHousehold" value="0" checked />
                                    No
                                </div>
                                <div class="col-md-2">
                                    <input type="radio" name="household" ng-model="employee.headOfHousehold" value="1" />
                                    Yes
                                </div>
                                <div style="clear:both"></div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="radio-label">
                                <label class="control-label">Will you claim at least $1900 for tax credit as <b>child or dependent care expenses</b>?</label>
                            </div>
                            <div class="radio-container">
                                <div class="col-md-2">
                                    <input type="radio" name="childExpense" ng-model="employee.childExpense" value="0" checked />
                                    No
                                </div>
                                <div class="col-md-2">
                                    <input type="radio" name="childExpense" ng-model="employee.childExpense" value="1" />
                                    Yes
                                </div>
                                <div style="clear:both"></div>
                            </div>
                        </li>
                    </ul>
                    <div ng-click="acknowledgeW4()" class="inner-td-div">
                        <a target="_blank" href="/static/documents/w4.pdf">
                            <input type="checkbox" 
                                name="downloadW4"
                                id="downloadW4"
                                ng-model="employee.downloadW4"/>
                        <span>Click to download W-4 and acknowledge you have read the entire W-4 form
                        </span></a>
                    </div>
                    <div class="submit-box">
                        <div class="row">
                            <div class="col-sm-6"><a class="btn green">Previous</a></div>
                            <div class="col-sm-6">
                                <button ng-click="submit()" class="btn green" ng-disabled="form.$invalid || !employee.downloadW4">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- / .form-holder -->

            <div class="form-holder" ng-show="isUpdateI9" ng-controller="onboardEmployment">
                <h4>Please provide your eligibility of employment</h4>
                <form name="form">
                    <ul><li class="list-group-item">
                    <div class="form-label">I am</div>
                    <div class="select-box">
                        <select name="authorization_type"
                            ng-model="employee.auth_type"
                            ng-required="true"
                            class="form-control">
                            <option value="Citizen">A citizen of the United States</option>
                            <option value="Noncitizen">A noncitizen national of the United States</option>
                            <option value="PResident">A lawful permanent resident</option>
                            <option value="Aaw">An alien authorized to work</option>
                        </select>
                    </div>

                    <div ng-show="employee.auth_type == 'Aaw'">
                        <div class="form-label">Expiration Date</div>
                        <div class="datebox">
                            <input name="expirationDate"
                                ng-model="employee.auth_expiration"
                                type="text"
                                placeholder="YYYY-MM-dd"
                                ng-required="false"/>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                    ng-model="employee.expiration_na"
                                    name="expirationNA" />
                                NA
                             </label>
                        </div>
                    </div>

                    <div ng-show="employee.auth_type == 'PResident' || employee.auth_type=='Aaw'">
                        <div class="form-label">Alien Registration Number/USCIS number</div>
                        <div class="textbox">
                            <input name="USCISNumber"
                                ng-model="employee.authNumber"
                                type="text"
                                ui-mask="999-999-999"
                                ng-required="true"/>
                        </div>
                    </div>

                    <div ng-show="employee.auth_type=='Aaw'">
                        <center>Or</center>
                    </div>

                    <div ng-show="employee.auth_type=='Aaw'">
                        <div class="form-label">Form I-94 Admission Number</div>
                        <div class="textbox">
                            <input name="I94Number"
                                ng-model="employee.I94Id"
                                type="text"/>
                        </div>

                        <div class="form-label">Foreign Passport Number</div>
                        <div class="textbox">
                            <input name="foreignPassportNumber"
                                ng-model="employee.passportId"
                                type="text"/>
                        </div>

                        <div class="form-label">Country of Issuance</div>
                        <div class="textbox">
                            <input name="foreignPassportCountry"
                                ng-model="employee.passportCountry"
                                type="text"/>
                        </div>

                    </div>

                    <div class="signature-container" ng-show="employee.auth_type">
                        <div class="panel">
                            <div class="panel-heading">
                                <span class="panel-title">Please sign below</span>
                            </div>
                            <div class="panel-body">
                                <div id="auth_signature" class="signature-pad"></div>
                            </div>
                        </div>
                        <div ng-click="acknowledgedI9()" class="inner-td-div">
                            <a target="_blank" href="/static/documents/i-9.pdf">
                                <input type="checkbox" 
                                    name="downloadI_9"
                                    id="downloadI_9"
                                    ng-model="employee.downloadI9"/>
                            <span>Click to download I-9 and acknowledge you have read the entire I-9 form
                            </span></a>
                        </div>
                        <div class="submit-box">
                            <div class="row">
                                <div class="col-sm-6">
                                    <button ng-click="clearSignature()" class="btn green">
                                        Reset
                                    </button>
                                </div>
                                <div class="col-sm-6">
                                    <button ng-click="signDocument('/employee')" class="btn green" ng-disabled="!employee.downloadI9">
                                        Submit
                                    </button>
                                </div>
                            </div>
                            <input type="hidden" name="signatureHiddenData" ng-value="{{signatureImage}}"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- row -->
    <div class="back"><a href="javascript:void(0);" ng-click="backToDashboard()">&laquo; Cancel</a></div>
</div><!-- / .content-body -->
