<!-- Employee Signup Partial Page -->

<div class="content-header">
  <h1>Welcome</h1>
  <span class="general-info">Please use the form below to sign up as an Employee</span>
</div><!-- / .content-header -->

<div class="content-body">
  <div class="form-holder">
    <form name="form" ng-submit="submit()">

      <div class="form-label">Username*</div>
      <div class="textbox">
        <input type="text" id="username" name="username" ng-required="true" ng-model="employee.username">
        <div class="form-error" ng-show="form.username.$dirty && form.username.$invalid">
          <span ng-show="form.username.$error.required">Username field is required</span>
        </div>
      </div>

      <div class="form-label">Password*</div>
      <div class="textbox">
        <input type="password" id="inputPassword" name="password" ng-model="employee.password" ng-required="true" placeholder="Password Help Text">
      </div>

      <div class="form-label">Confirm Password*</div>
      <div class="textbox">
        <input type="password" id="inputPassword" name="password_confirm" ng-model="employee.password_confirm" ng-required="true" placeholder="Password Help Text">
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" class="px" name="agree_terms" ng-model="employee.agree_terms" ng-required="true">
          I agree to <a href="/EmployeeTerms" target="_blank">terms and policy</a>
        </label>
      </div>

      <div class="submit-box">
        <button type="submit" class="btn green" ng-disabled="form.$invalid">Sign Up</button>
      </div>

    </form>
  </div><!-- / .form-holder -->
  <div class="back"><a href="javascript:void(0);" onclick="history.back()">&laquo; Back</a></div>
</div><!-- / .content-body -->
