<div class="breadcrumb">
  <a ng-click="backToDashboard()">{{getCurRoleString()}} Dashboard</a>
  <span>Employee Benefit Elections</span>
</div>

<div class="content-header">
  <h1>Employee Benefit Elections</h1>
  <div><a ng-href="{{exportCompanyEmployeeSummaryUrl}}"><b>Download Complete Report</b></a></div>
  <div><a ng-href="{{exportCompanyEmployeeDirectDepositUrl}}" ng-show="isCurRoleAdmin()"><b>Download Direct Deposit Report</b></a></div>
  <div><a ng-href="{{exportCompanyEmployeeLifeBeneficiarySummaryUrl}}"><b>Download Life Insurance Beneficiary Report</b></a></div>
  <div><a ng-if="false" ng-href="{{exportCompanyBenefitsBillingSummaryUrl}}"><b>Download Benefits Billing Report</b></a></div>
  <div><a ng-href="{{exportCompanyEmployeeSummaryPdfUrl}}"><b>Download Employee Summary PDF</b></a></div>
  <div class="cta"><span class="btn green" ng-click="back()">Back</span></div>
</div><!-- / .content-header -->

<div class="content-body">
  <h6>Company 1095C Data</h6>
  <div class="row">
    <div class="well col-md-10" ng-if="!valid1095C()">
      You do not have Affordable Care Act Form 1095C filled for this company yet.
      <br /><a ng-click="open1095CModal()">Click here</a> to add data
    </div>
    <div class="col-md-10">
      <table class="table table-striped" ng-if="valid1095C()">
        <thead>
          <tr>
            <th>
              <span>1095C Data</span>
              <span><a ng-click="open1095CModal()">Modify</a></span>
            </th>
            <th ng-repeat="item in sorted1095CData" style="text-align:center;">{{item.period}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b>Offer of Coverage Code</b></td>
            <td ng-repeat = "item in sorted1095CData">{{item.offer_of_coverage}}</td>
          </tr>
          <tr>
            <td><b>Employee Share of Lowest Cost Monthly Premium, for Self-Only Minimum Value Coverage</b></td>
            <td ng-repeat = "item in sorted1095CData"><span ng-if="item.employee_share">$</span>{{item.employee_share}}</td>
          </tr>
          <tr>
            <td><b>Applicable Section 4980H Safe Harbor</b></td>
            <td ng-repeat = "item in sorted1095CData">{{item.safe_harbor}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <h6>Employee Benefit Enrollment Summary</h6>
  <div class="dashboard-card">
    <div class="info-row">
      <div class="col-xs-4 img-col"><span class="flaticon-user135"></span></div>
      <div class="col-xs-8 info-col">
        <h3>{{summary.notStarted.length}} / {{summary.total}}</h3>
        <p>Not started with enrollment</p>
      </div>
      <div class="action-row" ng-click="viewNotStarted()" ng-class="{'highlight': employees == summary.notStarted}">
        <a ng-click="viewNotStarted()">View</a>
      </div>
    </div>
  </div><!-- / .dashboard-card -->
  <div class="dashboard-card">
    <div class="info-row">
      <div class="col-xs-4 img-col"><span class="flaticon-user135"></span></div>
      <div class="col-xs-8 info-col">
        <h3>{{summary.notComplete.length}} / {{summary.total}}</h3>
        <p>Enrollment in progress</p>
      </div>
      <div class="action-row" ng-click="viewNotComplete()" ng-class="{'highlight': employees == summary.notComplete}">
        <a ng-click="viewNotComplete()">View</a>
      </div>
    </div>
  </div><!-- / .dashboard-card -->
  <div class="dashboard-card">
    <div class="info-row">
      <div class="col-xs-4 img-col"><span class="flaticon-user135"></span></div>
      <div class="col-xs-8 info-col">
        <h3>{{summary.completed.length}} / {{summary.total}}</h3>
        <p>Enrollment Completed</p>
      </div>
      <div class="action-row" ng-click="viewCompleted()" ng-class="{'highlight': employees == summary.completed}">
        <a ng-click="viewCompleted()">View</a>
      </div>
    </div>
  </div><!-- / .dashboard-card -->
  <div class="row" ng-show="employees">
    <div class="col-sm-3" ng-repeat="employee in employees | orderBy:'lastName'">
      <span dropdown on-toggle="toggled(open)">
        <a href id="employee-menu-{{employee.id}}" dropdown-toggle>
          {{employee.firstName}} {{employee.lastName}}  <i class="fa fa-caret-square-o-down"></i>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="employee-menu-{{employee.id}}">
          <li role="menuitem"><a ng-click="viewDetails(employee.id)">View Selected Benefits</a></li>
          <li role="menuitem">
            <a ng-click="open1095CModal(employee.id)" ng-if="!valid1095C()">Download 1095-C</a>
            <a ng-href="{{getEmployee1095cUrl(employee.id)}}" ng-if="valid1095C()">Download 1095-C</a>
          </li>
        </ul>
      </span>
    </div>
  </div>
</div><!-- / .content-body -->
