<div class="breadcrumb">
  <a ng-click="backToDashboard()">{{getCurRoleString()}} Dashboard</a>
  <span>Employee Benefit Elections</span>
</div>

<div class="content-header">
  <h1>Employee Benefit Elections</h1>
  <div><a ng-href="{{exportCompanyEmployeeSummaryUrl}}"><b>Download Complete Report</b></a></div>
  <div><a ng-href="{{exportCompanyEmployeeDirectDepositUrl}}" ng-show="isCurRoleAdmin()"><b>Download Direct Deposit Report</b></a></div>
  <div><a ng-href="{{exportCompanyEmployeeLifeBeneficiarySummaryUrl}}"><b>Download Life Insurance Beneficiary Report</b></a></div>
  <div><a ng-if="false" ng-href="{{exportCompanyBenefitsBillingSummaryUrl}}"><b>Download Benefits Billing Report</b></a></div>
  <div><a ng-href="{{exportCompanyEmployeeSummaryPdfUrl}}"><b>Download Employee Summary PDF</b></a></div>
  <div class="cta"><span class="btn green" ng-click="back()">Back</span></div>
</div><!-- / .content-header -->

<div class="content-body">
  <h6>Employee Benefit Enrollment Summary</h6>
  <div class="dashboard-card">
    <div class="info-row">
      <div class="col-xs-4 img-col"><span class="flaticon-user135"></span></div>
      <div class="col-xs-8 info-col">
        <h3>{{notStarted.length}} / {{totalCount}}</h3>
        <p>Not started with enrollment</p>
      </div>
      <div class="action-row" ng-click="viewNotStarted()" ng-class="{'highlight': employees == notStarted}">
        <a ng-click="viewNotStarted()">View</a>
      </div>
    </div>
  </div><!-- / .dashboard-card -->
  <div class="dashboard-card">
    <div class="info-row">
      <div class="col-xs-4 img-col"><span class="flaticon-user135"></span></div>
      <div class="col-xs-8 info-col">
        <h3>{{notComplete.length}} / {{totalCount}}</h3>
        <p>Enrollment in progress</p>
      </div>
      <div class="action-row" ng-click="viewNotComplete()" ng-class="{'highlight': employees == notComplete}">
        <a ng-click="viewNotComplete()">View</a>
      </div>
    </div>
  </div><!-- / .dashboard-card -->
  <div class="dashboard-card">
    <div class="info-row">
      <div class="col-xs-4 img-col"><span class="flaticon-user135"></span></div>
      <div class="col-xs-8 info-col">
        <h3>{{completed.length}} / {{totalCount}}</h3>
        <p>Enrollment Completed</p>
      </div>
      <div class="action-row" ng-click="viewCompleted()" ng-class="{'highlight': employees == completed}">
        <a ng-click="viewCompleted()">View</a>
      </div>
    </div>
  </div><!-- / .dashboard-card -->
  <div class="row" ng-show="employees">
    <div class="col-sm-3" ng-repeat="employee in employees | orderBy:'lastName'">
      <a ng-click="viewDetails(employee.id)">{{employee.firstName}} {{employee.lastName}}</a>
    </div>
  </div>  
</div><!-- / .content-body -->
