<div class="breadcrumb">
  <a ng-click="backToDashboard()">{{getCurRoleString()}} Dashboard</a>
  <span>{{getCurRoleString()}} Dashboard</span>
</div>

<div class="content-header">
  <h1>Employee Benefit Elections</h1>
  <div><a ng-href="{{exportCompanyEmployeeSummaryUrl}}"><b>Download Complete Report</b></a></div>
  <div><a ng-href="{{exportCompanyEmployeeDirectDepositUrl}}" ng-show="isCurRoleAdmin()"><b>Download Direct Deposit Report</b></a></div>
  <div><a ng-href="{{exportCompanyEmployeeLifeBeneficiarySummaryUrl}}"><b>Download Life Insurance Beneficiary Report</b></a></div>
  <div><a ng-if="false" ng-href="{{exportCompanyBenefitsBillingSummaryUrl}}"><b>Download Benefits Billing Report</b></a></div>
  <div><a ng-href="{{exportCompanyEmployeeSummaryPdfUrl}}"><b>Download Employee Summary PDF</b></a></div>
  <div class="cta"><span class="btn green" ng-click="back()">Back</span></div>
</div><!-- / .content-header -->

<div class="content-body">
  <h6>Benefit Enrollment Summary</h6>
  <div class="dashboard-card">
    <div class="info-row">
      <div class="col-xs-4 img-col"><span class="flaticon-heart260"></span></div>
      <div class="col-xs-8 info-col">
        <h3>{{employees.length}}</h3>
        <p>Total Employees</p>
      </div>
      <div class="action-row">
      </div>
    </div>
  </div><!-- / .dashboard-card -->
  <div class="dashboard-card">
    <div class="info-row">
      <div class="col-xs-4 img-col"><span class="flaticon-heart260"></span></div>
      <div class="col-xs-8 info-col">
        <h3>{{startedCount}}</h3>
        <p>Employee Started Enrollment</p>
      </div>
      <div class="action-row">
      </div>
    </div>
  </div><!-- / .dashboard-card -->
  <div class="dashboard-card">
    <div class="info-row">
      <div class="col-xs-4 img-col"><span class="flaticon-heart260"></span></div>
      <div class="col-xs-8 info-col">
        <h3>{{completedCount}}</h3>
        <p>Employee Completed Enrollment</p>
      </div>
      <div class="action-row">
      </div>
    </div>
  </div><!-- / .dashboard-card -->
  <h6>Employee List</h6>
  <div class="row">
    <div class="col-sm-4" ng-repeat="employee in employees | orderBy:'user.last_name'">
      <a ng-click="viewDetails(employee.user.id)">{{employee.user.first_name}} {{employee.user.last_name}}</a>
    </div>
  </div>  
</div><!-- / .content-body -->
