<div class="breadcrumb">
  <a ng-href="/dashboard">Dashboard</a>
  <span>Account Settings</span>
</div>

<div class="content-header">
  <h1>Edit Your Account Settings</h1>
  <span class="general-info">You can edit the information associated with your account here</span>
</div><!-- / .content-header -->

<div class="content-body">
  <div class="attention" ng-show="onboard">
    <span class="fa fa-warning"></span>You have to complete your personal information before you can proceed to the next step!
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="list-group">
        <a href="javascript:void(0);" ng-click="editPersonal()" ng-class="isUpdatePersonalInfo? 'list-group-item active':'list-group-item' ">
          <h4 class="list-group-item-heading">Edit Basic Information</h4>
        </a>
        <a href="javascript:void(0);" ng-click="changePassword()" ng-class="isUpdatePassword? 'list-group-item active':'list-group-item'">
          <h4 class="list-group-item-heading">Change Your Password</h4>
        </a>
      </div>
    </div>

    <div class="col-md-8">
      <div class="form-holder" ng-show="isUpdatePassword">
        <form name="password_form">
          <ul class="list-group"><li class="list-group-item">
            <div class="form-label">Current Password*</div>
            <div class="textbox">
              <input type="password"
              name="current_password"
              ng-model="profile.current_password"
              ng-required="true">
              <div class="form-error" ng-show="password_form.current_password.$dirty && password_form.current_password.$invalid">
                <span ng-show="password_form.current_password.$error.required">Current Password is required</span>
              </div>
            </div>
            <div class="form-label">New Password*</div>
            <div class="textbox">
              <input type="password"
              name="new_password"
              ng-model="profile.new_password"
              ng-required="true">
              <div class="form-error" ng-show="password_form.new_password.$dirty && password_form.new_password.$invalid">
                <span ng-show="password_form.new_password.$error.required">New password is required</span>
              </div>
            </div>
            <div class="form-label">Confirm New Password*</div>
            <div class="textbox">
              <input type="password"
              name="confirm_password"
              ng-model="profile.confirm_new_password"
              ng-required="true">
              <div class="form-error" ng-show="password_form.confirm_password.$dirty && password_form.confirm_password.$invalid">
                <span ng-show="password_form.confirm_password.$error.required">You have to type your new password again</span>
              </div>
            </div>
          </li></ul>

          <div class="submit-box">
            <button ng-click="saveNewPassword()" class="btn green" ng-disabled="password_form.$invalid">Save</button>
          </div>

        </form>
      </div><!-- / .form-holder -->
      <div class="form-holder" ng-show="isUpdatePersonalInfo">
        <bm-personal-info-editor target="employeeId" onboard="onboard" editor-user-id="employeeId"/>
      </div>
    </div>
  </div><!-- row -->
</div><!-- / .content-body -->
