<div class="breadcrumb">
  <a ng-href="#/admin">Employer Dashboard</a>
  <span>View Employee</span>
</div>

<div class="content-header">
  <h1>View Employee</h1>
  <span class="general-info">You have total <b>{{employeeCount}}</b> employees</span>
  <div class="cta"><span class="btn green" ng-click="addLink('employee')">Add Employee</span></div>
</div><!-- / .content-header -->

<div class="content-body">
  <div class="table-responsive table-holder">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><span>Name</span></th>
          <th><span>Actions</span></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="employees.length==0">
          <td colspan="2" class="no-related-users">
            There is no employee entered for this company
          </td>
        </tr>
        <tr ng-repeat="employee in employees">
          <td><a ng-click="viewEmployeeDetail(employee)">{{employee.user.first_name}} {{employee.user.last_name}}</a></td>
          <td>
            <span class="btn inline" ng-if="employee.docEntry.hasDocument()" ng-click="documentLink(employee.user.id, employee.docEntry)" ng-class="{green:employee.docEntry.isAllSigned()}">View documents</span>
            <span class="btn inline" ng-if="!employee.docEntry.hasDocument()" ng-click="documentLink(employee.user.id, employee.docEntry)">Create documents</span>
            <span class="btn inline doc-buttons" ng-click="uploadLink(employee.user.id)">
              Uploads
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="back"><a ng-click="gotoEmployerDashboardLink()">&laquo; Back</a></div>
</div><!-- / .content-body -->
