<div class="breadcrumb">
    <a href="/">Home</a>
    <a ng-href="#/admin">Employer Dashboard</a>
    <span>View Employee</span>
</div>

<div class="content-header">
    <h1>View Employee</h1>
    <span class="general-info">You have total <b>{{employeeCount}}</b> employees</span>
    <div class="cta"><span class="btn green" ng-click="addLink('employee')">Add Employee</span></div>
</div><!-- / .content-header -->

<div class="content-body">
    <div class="table-responsive table-holder">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span>Name</span></th>
                    <th><span>Actions</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="employees.length==0">
                    <td colspan="2" class="no-related-users">
                       There is no employee entered for this company
                   </td>
                </tr>
                <tr ng-repeat="employee in employees">
                    <td>{{employee.user.full_name}}</td>
                    <td>
                        <span class="btn inline" ng-click="documentLink(employee.user.id, 'Offer Letter')">Offer Letter</span>
                        <span class="btn inline" ng-click="documentLink(employee.user.id, 'Employee Agreement')">Employee Agreement</span>
                        <span class="btn inline" ng-click="addClient()">Send Invitation</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="back"><a ng-click="gotoEmployerDashboardLink()">&laquo; Back</a></div>
</div><!-- / .content-body -->
