<script type="text/javascript" src="/static/js/flashcanvas.js"></script>
<script src="/static/js/jSignature.min.js"></script>

<div class="breadcrumb">
    <a href="/">Home</a>
    <a ng-href="#/admin">Employer Dashboard</a>
    <a ng-href="#/admin/employee/{{companyId}}">View Employees</a>
    <span>View {{documentType}}</span>
</div>

<div class="content-header">
    <h1>View {{documentType}}</h1>
    <div class="cta"><span class="btn green" ng-click="createNewLetter()">Add {{documentType}}</span></div>
</div><!-- / .content-header -->

<div class="content-body">
    <div class="table-responsive table-holder" ng-if="!_.isEmpty(documentList)">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span>Name</span></th>
                    <th><span>Template</span></th>
                    <th><span>Actions</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="doc in documentList">
                    <td>{{doc.name}}</td>
                    <td>{{doc.template.name}}</td>
                    <td><span class="btn inline" ng-click="viewExistingLetter(doc)">View</span></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="panel colourable" ng-show="anyActiveDocument()">
        <div class="panel-heading">
            <span class="panel-title">{{activeDocument.name}}</span>
        </div>
        <div class="panel-body">
            {{activeDocument.content}}
        </div>
    </div>

    <div class="template-holder" ng-show="addMode || templateContent">
        <h2>View {{documentType}} Template</h2>
        <div class="form-holder">
            <form name="form">
                <div class="form-label">Template Name</div>
                <div class="textbox">
                    <p>{{curDocument.name}}</p>
                </div>
                <div class="textbox">
                    <textarea class="form-control"
                        ng-model="curDocument.content"
                        rows="10"> </textarea>
                </div>
                <div class="submit-box">
                    <button ng-click="Send(employeeId)" class="btn green">
                        Email PDF to
                    </button>
                    <button ng-click="Send(employeeId)" class="btn green">
                        Download PDF
                    </button>
                </div>
            </form>
        </div>
    </div><!-- / .template-holder -->

    <div class="back pull-left"><a ng-click="viewEmployeesLink()">&laquo; Back</a></div>

</div><!-- / .content-body -->
