<div class="content-header" style="overflow:auto;">
  <h1>State Tax Elections</h1>
  <div class="view-instruction">
    <p>Please use this view to specify your state tax election(s)</p>
  </div>
  <div class="cta-above-table"><span class="btn green" ng-click="createElection()" ng-disabled="!canCreateNewElection()">Create New Election</span></div>
</div><!-- / .content-header -->
<div class="content-body">
  <table class="table table-striped" ng-if="hasExistingElections()">
    <thead>
      <tr>
        <th><span>State</span></th>
        <th><span>Time of Latest Submission</span></th>
        <th><span>Actions</span></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="election in elections">
        <td>{{election.state}}</td>
        <td>{{election.getUpdatedTimeStampForDisplay()}}</td>
        <td>
            <span class="btn inline" ng-click="editElection(election)">View / Edit</span>
            <span class="btn inline" ng-click="deleteElection(election)" confirm="This will delete this election. Please confirm.">Delete</span>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="panel panel-info" ng-if="!hasExistingElections()">
    <div class="panel-body">
      You do not have tax election for any state yet. Please use the "Create New Election" button to create a new state tax election. 
    </div>
  </div>
    <div class="cta col-md-4 col-md-offset-8" ng-if="showFinishButton()"><a ng-click="onFinishClicked()" class="btn green" >Finish</a></div>
</div>
