<div class="breadcrumb">
  <a ng-click="backToDashboard()">Admin Dashboard</a>
</div>

<div class="content-header">
  <h1>Company Information</h1>
</div><!-- / .content-header -->

<div class="content-body">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class='panel'>
        <div class='panel-heading' ng-click="departmentInfoExpanded = !departmentInfoExpanded">
          <b class="clickable"><span class="fa fa-toggle-down"></span>Departments</b>
        </div>
        <div class="panel-body" collapse="!departmentInfoExpanded">
          <bm-department-manager company-id="companyId"></bm-department-manager>
        </div>
      </div>
    </div>
  </div>
</div>
