<div class="modal-header">
  <h4 class="modal-title">{{modalHeader}}</h4>
</div>
<div class="modal-body col-md-12">
  <div class="form-holder col-md-10 col-md-offset-1">
    <form name="form">
      <div class="form-label">Job Name*</div>
      <div class="textbox">
          <input type="text"
            ng-model="contextJob.job"
            placeholder="Start typing the job name"
            ng-required="true"
            name="job"
            class="form-control">
          <div class="form-validation-error" ng-show="form.job.$dirty && form.job.$invalid">
            <span ng-show="form.job.$error.required">Job name is a required field</span>
          </div>
      </div>

      <div class="form-label">Job Description*</div>
      <div class="textbox">
        <input type="text"
          name="description"
          ng-model="contextJob.description"
          ng-required="true"/>
        <div class="form-validation-error" ng-show="form.description.$dirty && form.description.$invalid">
            <span ng-show="form.description.$error.required">Description is a required field</span>
        </div>
      </div>

      <div class="form-label">Job Code</div>
      <div class="textbox">
        <input type="text"
          name="code"
          ng-model="contextJob.code"
          ng-required="false"/>
      </div>

    </form>
  </div>
</div>

<div class="modal-footer">
  <div class="button-group">
    <button class="btn btn-info" ng-click="save()" style="width: 20%" ng-disabled="!isValidToSave()">Save</button>
    <button class="btn btn-primary" ng-click="cancel()" style="width: 20%">Cancel</button>
  </div>
</div>
