<div class="breadcrumb">
  <a ng-href="#/admin">Admin Dashboard</a>
  <a ng-click="goContractors()">Contractors</a>
  <span>Insurance Ceritificate</span>
</div>

<div class="content-header">
  <h1>Manage Insurance Certificate for {{contractor.name}}</h1>
  <div class="cta">
    <span class="btn green" ng-click="openCreateOrEditModal()">Add Insurance Certificate</span>
  </div>
  <div class="view-instruction">
    <p> Please use the <span class="green-link">Add Insurance Certificate</span> button to create a new insurance certificate</p>
  </div>
</div><!-- / .content-header -->
<div class="content-body">
  <div class="panel" ng-if="!hasActiveInsurances()">
    <div class="panel-heading">
      <span>Insurance Certificates</span>
    </div>
    <div class="panel-body">
      <p>There are currently no insurance certificate created for contractor {{contractor.name}}</p>
      <p>Please <a ng-click="openCreateOrEditModal()">click here</a> to add an insurance certificate.</p>
    </div>
  </div>
  <div class="panel" ng-if="hasActiveInsurances()">
    <div class="panel-heading">
      Active Insurance Certificates
    </div>
    <div class="panel-body">
      <table class="table table-striped" >
        <thead>
          <th><span>Certificate Type</span></th>
          <th><span>Policy Expires</span></th>
          <th><span>Amount</span></th>
          <th><span>Uploaded</span></th>
        </thead>
        <tbody>
          <tr ng-repeat="insurance in activeInsurances">
            <td>
                &nbsp;<a ng-click="openCreateOrEditModal(insurance)">{{insurance.type}}</a>
            </td>
            <td>{{insurance.policy.endDateDisplay}}</td>
            <td>${{insurance.policy.coveredAmount}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel" ng-if="hasExpiredInsurances()">
    <div class="panel-heading">
      Expired Insurance Certificates
    </div>
    <div class="panel-body">
      <table class="table table-striped" >
        <thead>
          <th><span>Certificate Type</span></th>
          <th><span>Policy Expires</span></th>
          <th><span>Amount</span></th>
          <th><span>Uploaded</span></th>
        </thead>
        <tbody>
          <tr ng-repeat="insurance in expiredInsurances">
            <td>
                &nbsp;<a ng-click="openCreateOrEditModal(insurance)">{{insurance.type}}</a>
            </td>
            <td>{{insurance.policy.endDateDisplay}}</td>
            <td>${{insurance.policy.coveredAmount}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="back"><a href="javascript:void(0);" onclick="history.back()">&laquo; Back</a></div>