// Colors
$green: #58A445;
$light-green: #8CC63E;
$blue: #00ADEF;
$black: #151A1E;
$black-font: #58585B;
$gray-font: #A0A2A3;
$light-gray: #FBFBF7;
$light-blue: #F7FAFA;

// Font Sizes
$size-xs: 11px;
$size-sm: 13px;
$size: 16px;
$size-md: 21px;
$size-lg: 32px;

// Gutters
$gutter-lg: 60px;
$gutter-md: 40px;
$gutter: 20px;
$gutter-sm: 10px;
$gutter-xs: 6px;

// Dashboard layout
$header-height: 55px;
$content-padding-left: 55px;
$aside-width: 270px;
$tab-height: 50px;
$border: 1px solid #E9E7E2;
$border-blue: 1px solid #E2E7EA;
