// Colors
$green: #58A445;
$blue: #00ADEF;
$black: #151A1E;

// Font Sizes
$size-xs: 11px;
$size-sm: 13px;
$size: 16px;
$size-md: 21px;
$size-lg: 32px;

// Gutters
$gutter-lg: 60px;
$gutter-md: 40px;
$gutter: 20px;
$gutter-sm: 10px;
$gutter-xs: 6px;
