<div class="breadcrumb">
  <a ng-href="#/employee">Employee Dashboard</a>
  <span>PTO</span>
</div>

<div class="content-header">
  <h1>View PTO requests</h1>
  <span class="general-info">View my paid time off requests</span>
</div><!-- / .content-header -->

<div class="content-body">
    <div class="panel" ng-show="!requestedPTOs.length">
        <div class="panel-heading">
            PTO Requested
        </div>
        <div class="panel-body">
            There are no PTO requested. <a ng-click="requestPTO()">Click here</a> to make a PTO request.
        </div>
    </div>
    <div class="table-responsive" ng-show="requestedPTOs.length">
        <div class="table-sub-title">
          PTO Requested
        </div>
        <table class="table table-striped" >
          <thead>
            <th><span>PTO Start</span></th>
            <th><span>length</span></th>
            <th><span>Date and time created</span></th>
          </thead>
          <tbody>
            <tr class="row" ng-repeat="pto in requestedPTOs">
                <td>{{pto.start}}</td>
                <td>{{pto.length}} day(s)</td>
                <td>{{pto.created}}</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
<div class="back"><a href="javascript:void(0);" onclick="history.back()">&laquo; Back</a></div>
</div><!-- / .content-body -->