<div class="content-header">
  <h1>Work Timesheet</h1>
  <span class="general-info" ng-hide="adminMode">Track and report my work hours on weekly basis</span>
  <span class="general-info" ng-show="adminMode">View the work hour reported by employees</span>
  <div class="view-instruction" ng-hide="adminMode">
    <p>Please use the below form to view and submit timesheet to track and report your work hours on weekly basis.</p>
  </div>
  <div class="view-instruction" ng-show="adminMode">
    <p>You can find the total hours submitted by employees for selected week</p>
  </div>
</div><!-- / .content-header -->

<div class="content-body">
  <div class="panel">
    <div class="panel-heading">
        Select Week
    </div>
    <div class="panel-body">
        <div class="col-md-4">
            <div class="select-box">
                <select
                    id="display_week"
                    ng-model="selectedDisplayWeek"
                    name="display_week"
                    ng-options="weekItem.weekDisplayText for weekItem in listOfWeeks"
                    class="form-control"
                    ng-change="reloadTimesheet()"></select>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4" ng-show="adminMode">
          <a ng-click="downloadWeeklyTimeSheetReport()">Download weekly worktime report</a>
        </div>
    </div>
  </div>
  <div class="panel" ng-hide="adminMode">
    <div class="panel-heading">
        Your Work Hour Timesheet for the Week: <b>{{selectedDisplayWeek.weekDisplayText}}</b>
    </div>
    <div class="panel-body">
      <div class="col-md-10">
        <bm-work-timesheet-week-manager
          admin-mode="adminMode"
          timesheet="timesheet"
          save-result="saveResult(savedTimeSheet)">
        </bm-work-timesheet-week-manager>
      </div>
    </div>
  </div>
  <div class="panel" ng-show="adminMode">
    <div class="panel-heading">
      The work hours submitted for week <b>{{selectedDisplayWeek.weekDisplayText}}</b>
    </div>
    <div class="panel-body">
      <table class="table table-striped benefit-table fix-layout-table"
        id="plan_items_table"
        ng-show="employeeWorkHourList.length > 0">
        <thead>
          <th><div>Name</div></th>
          <th width="100"><div>Base Hours</div></th>
          <th width="100"><div>Overtime Hours</div></th>
          <th><div>Time Submitted</div></th>
          <th width="100"><div>Action</div></th>
        </thead>
        <tbody>
          <tr ng-repeat="employeeWorkHour in employeeWorkHourList">
            <td>
              <span>{{employeeWorkHour.employee.firstName}} {{employeeWorkHour.employee.lastName}}</span>
            </td>
            <td width="100">{{employeeWorkHour.timecards[0].getTotalBaseHours()}}</td>
            <td width="100">{{employeeWorkHour.timecards[0].getTotalOvertimeHours()}}</td>
            <td>{{employeeWorkHour.updatedTimestamp}}</td>
            <td width="100"><span>
                <a ng-click="viewDetails(employeeWorkHour)">Edit</a>
              </span></td>
          </tr>
        </tbody>
      </table>
      <div class="" ng-show="employeeWorkHourList.length == 0">
        There are no submitted work hours for week {{selectedDisplayWeek.weekDisplayText}}
      </div>
    </div>
  </div>
</div>
