  <form name="myForm">
      <div class="row">
          <div class="col-md-12">
              <h6>Base Hours</h6>
              <table class="table table-striped benefit-table fix-layout-table" id="base_hours_table">
                  <thead>
                    <th><div>Sunday</div></th>
                    <th><div>Monday</div></th>
                    <th><div>Tuesday</div></th>
                    <th><div>Wednesday</div></th>
                    <th><div>Thursday</div></th>
                    <th><div>Friday</div></th>
                    <th><div>Saturday</div></th>
                    <th><div>Total</div></th>
                  </thead>
                  <tbody>
                    <tr>
                        <td>
                          <input 
                              type="number"
                              min="0"
                              max="24"
                              step="0.5"
                              name="sunday_hour"
                              ng-model="timesheet.timecards[0].workHours.sunday.hours"
                              ng-if="allowEdit()"
                              class="full-width">
                          <span ng-if="!allowEdit()">{{timesheet.timecards[0].workHours.sunday.hours}}</span>
                        </td>
                        <td>
                          <input 
                              type="number"
                              min="0"
                              max="24"
                              step="0.5"
                              name="monday_hour"
                              ng-model="timesheet.timecards[0].workHours.monday.hours"
                              ng-if="allowEdit()"
                              class="full-width">
                          <span ng-if="!allowEdit()">{{timesheet.timecards[0].workHours.monday.hours}}</span>
                        </td>
                        <td>
                          <input 
                              type="number"
                              min="0"
                              max="24"
                              step="0.5"
                              name="tuesday_hour"
                              ng-model="timesheet.timecards[0].workHours.tuesday.hours"
                              ng-if="allowEdit()"
                              class="full-width">
                          <span ng-if="!allowEdit()">{{timesheet.timecards[0].workHours.tuesday.hours}}</span>
                        </td>
                        <td>
                          <input 
                              type="number"
                              min="0"
                              max="24"
                              step="0.5"
                              name="wednesday_hour"
                              ng-model="timesheet.timecards[0].workHours.wednesday.hours"
                              ng-if="allowEdit()"
                              class="full-width">
                          <span ng-if="!allowEdit()">{{timesheet.timecards[0].workHours.wednesday.hours}}</span>
                        </td>
                        <td>
                          <input 
                              type="number"
                              min="0"
                              max="24"
                              step="0.5"
                              name="thursday_hour"
                              ng-model="timesheet.timecards[0].workHours.thursday.hours"
                              ng-if="allowEdit()"
                              class="full-width">
                          <span ng-if="!allowEdit()">{{timesheet.timecards[0].workHours.thursday.hours}}</span>
                        </td>
                        <td>
                          <input 
                              type="number"
                              min="0"
                              max="24"
                              step="0.5"
                              name="friday_hour"
                              ng-model="timesheet.timecards[0].workHours.friday.hours"
                              ng-if="allowEdit()"
                              class="full-width">
                          <span ng-if="!allowEdit()">{{timesheet.timecards[0].workHours.friday.hours}}</span>
                        </td>
                        <td>
                          <input 
                              type="number"
                              min="0"
                              max="24"
                              step="0.5"
                              name="saturday_hour"
                              ng-model="timesheet.timecards[0].workHours.saturday.hours"
                              ng-if="allowEdit()"
                              class="full-width">
                          <span ng-if="!allowEdit()">{{timesheet.timecards[0].workHours.saturday.hours}}</span>
                        </td>
                        <td>
                          <span><b>{{timesheet.timecards[0].getTotalBaseHours()}}</b></span>
                        </td>
                    </tr>
                  </tbody>
              </table>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <h6>Overtime Hours</h6>
              <table class="table table-striped benefit-table fix-layout-table" id="overtime_hours_table">
                  <thead>
                    <th><div>Sunday</div></th>
                    <th><div>Monday</div></th>
                    <th><div>Tuesday</div></th>
                    <th><div>Wednesday</div></th>
                    <th><div>Thursday</div></th>
                    <th><div>Friday</div></th>
                    <th><div>Saturday</div></th>
                    <th><div>Total</div></th>
                  </thead>
                  <tbody>
                    <tr>
                        <td>
                          <input 
                              type="number"
                              min="0"
                              max="24"
                              step="0.5"
                              name="sunday_overtime_hour"
                              ng-model="timesheet.timecards[0].overtimeHours.sunday.hours"
                              ng-if="allowEdit()"
                              class="full-width">
                          <span ng-if="!allowEdit()">{{timesheet.timecards[0].overtimeHours.sunday.hours}}</span>
                        </td>
                        <td>
                          <input 
                              type="number"
                              min="0"
                              max="24"
                              step="0.5"
                              name="monday_overtime_hour"
                              ng-model="timesheet.timecards[0].overtimeHours.monday.hours"
                              ng-if="allowEdit()"
                              class="full-width">
                          <span ng-if="!allowEdit()">{{timesheet.timecards[0].overtimeHours.monday.hours}}</span>
                        </td>
                        <td>
                          <input 
                              type="number"
                              min="0"
                              max="24"
                              step="0.5"
                              name="tuesday_overtime_hour"
                              ng-model="timesheet.timecards[0].overtimeHours.tuesday.hours"
                              ng-if="allowEdit()"
                              class="full-width">
                          <span ng-if="!allowEdit()">{{timesheet.timecards[0].overtimeHours.tuesday.hours}}</span>
                        </td>
                        <td>
                          <input 
                              type="number"
                              min="0"
                              max="24"
                              step="0.5"
                              name="wednesday_overtime_hour"
                              ng-model="timesheet.timecards[0].overtimeHours.wednesday.hours"
                              ng-if="allowEdit()"
                              class="full-width">
                          <span ng-if="!allowEdit()">{{timesheet.timecards[0].overtimeHours.wednesday.hours}}</span>
                        </td>
                        <td>
                          <input 
                              type="number"
                              min="0"
                              max="24"
                              step="0.5"
                              name="thursday_overtime_hour"
                              ng-model="timesheet.timecards[0].overtimeHours.thursday.hours"
                              ng-if="allowEdit()"
                              class="full-width">
                          <span ng-if="!allowEdit()">{{timesheet.timecards[0].overtimeHours.thursday.hours}}</span>
                        </td>
                        <td>
                          <input 
                              type="number"
                              min="0"
                              max="24"
                              step="0.5"
                              name="friday_overtime_hour"
                              ng-model="timesheet.timecards[0].overtimeHours.friday.hours"
                              ng-if="allowEdit()"
                              class="full-width">
                          <span ng-if="!allowEdit()">{{timesheet.timecards[0].overtimeHours.friday.hours}}</span>
                        </td>
                        <td>
                          <input 
                              type="number"
                              min="0"
                              max="24"
                              step="0.5"
                              name="saturday_overtime_hour"
                              ng-model="timesheet.timecards[0].overtimeHours.saturday.hours"
                              ng-if="allowEdit()"
                              class="full-width">
                          <span ng-if="!allowEdit()">{{timesheet.timecards[0].overtimeHours.saturday.hours}}</span>
                        </td>
                        <td>
                          <span><b>{{timesheet.timecards[0].getTotalOvertimeHours()}}</b></span>
                        </td>
                    </tr>
                  </tbody>
              </table>
          </div>
      </div>
      <div class="row" ng-if="allowEdit()">
          <div class="col-md-12">
              <div class="alert alert-info">
                  Please note:
                  <ul>
                      <li>
                          <small>* All <b>'Base Hours'</b> fields are required for submission. If no work hour to report for a calendar weekday, please report 0.</small>
                      </li>
                      <li>
                          <small>* All <b>'Overtime Hours'</b> fields are optional.</small>
                      </li>
                      <li>
                          <small>* Number of total work hours reported for any weekday should be within the range of 0 to 24.</small>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="row" ng-if="allowEdit()">
        <div class="col-md-12">
            <div class="submit-box">
              <a confirm="{{saveTimesheetConfirmText}}" ng-click="saveTimesheet()" class="btn green" ng-disabled="!isTimesheetValidForSave()">Submit</a>
            </div>
        </div>
      </div>
  </form>