  <form name="myForm">
    <div class="row" ng-repeat="timecard in timesheet.timecards">
      <h6 ng-show="timecard.state"> Time Sheet for {{getTimeCardState(timecard)}}</h6>
      <div class="table-title form-validation-error" ng-show="!timecard.state">Please select a state</div>
      <table class="table table-striped benefit-table fix-layout-table">
        <thead>
          <th class="long-cell">
            <div ng-show="allowEdit()" style="float:left;padding-left:20px; padding-right:5px;">
              <select
                ng-options="state for state in allStates track by state"
                ng-model="timecard.state"
                ng-required="'true'"
                ng-change="stateSelected(timecard)"
                style="-webkit-appearance: menulist-button; max-width:90px;" />
            </div>
            <div ng-show="allowEdit()" style="vertical-align:middle; padding-left:0px; padding-right:0px;">
              <a class="delete-cross" confirm="{{deleteTimeCardConfirm}}" ng-click="removeCard(timecard)">X</a>
            </div>
            <div ng-show="!allowEdit()"><b>{{timecard.state}}</b></div>
          </th>
          <th><div>Sunday</div></th>
          <th><div>Monday</div></th>
          <th><div>Tuesday</div></th>
          <th><div>Wednesday</div></th>
          <th><div>Thursday</div></th>
          <th><div>Friday</div></th>
          <th><div>Saturday</div></th>
          <th><div>Total</div></th>
        </thead>
        <tbody>
          <tr>
            <td>Base Hours</td>   
            <td>
              <input 
                  type="number"
                  min="0"
                  max="24"
                  step="0.5"
                  name="sunday_hour"
                  ng-model="timecard.workHours.sunday.hours"
                  ng-if="allowEdit()"
                  class="full-width">
              <span ng-if="!allowEdit()">{{timecard.workHours.sunday.hours}}</span>
            </td>
            <td>
              <input 
                  type="number"
                  min="0"
                  max="24"
                  step="0.5"
                  name="monday_hour"
                  ng-model="timecard.workHours.monday.hours"
                  ng-if="allowEdit()"
                  class="full-width">
              <span ng-if="!allowEdit()">{{timecard.workHours.monday.hours}}</span>
            </td>
            <td>
              <input 
                  type="number"
                  min="0"
                  max="24"
                  step="0.5"
                  name="tuesday_hour"
                  ng-model="timecard.workHours.tuesday.hours"
                  ng-if="allowEdit()"
                  class="full-width">
              <span ng-if="!allowEdit()">{{timecard.workHours.tuesday.hours}}</span>
            </td>
            <td>
              <input 
                  type="number"
                  min="0"
                  max="24"
                  step="0.5"
                  name="wednesday_hour"
                  ng-model="timecard.workHours.wednesday.hours"
                  ng-if="allowEdit()"
                  class="full-width">
              <span ng-if="!allowEdit()">{{timecard.workHours.wednesday.hours}}</span>
            </td>
            <td>
              <input 
                  type="number"
                  min="0"
                  max="24"
                  step="0.5"
                  name="thursday_hour"
                  ng-model="timecard.workHours.thursday.hours"
                  ng-if="allowEdit()"
                  class="full-width">
              <span ng-if="!allowEdit()">{{timecard.workHours.thursday.hours}}</span>
            </td>
            <td>
              <input 
                  type="number"
                  min="0"
                  max="24"
                  step="0.5"
                  name="friday_hour"
                  ng-model="timecard.workHours.friday.hours"
                  ng-if="allowEdit()"
                  class="full-width">
              <span ng-if="!allowEdit()">{{timecard.workHours.friday.hours}}</span>
            </td>
            <td>
              <input 
                  type="number"
                  min="0"
                  max="24"
                  step="0.5"
                  name="saturday_hour"
                  ng-model="timecard.workHours.saturday.hours"
                  ng-if="allowEdit()"
                  class="full-width">
              <span ng-if="!allowEdit()">{{timecard.workHours.saturday.hours}}</span>
            </td>
            <td>
              <span><b>{{timecard.getTotalBaseHours()}}</b></span>
            </td>
        </tr>
        <tr>
          <td>Overtime Hours</td>
                    
          <td>
            <input 
                type="number"
                min="0"
                max="24"
                step="0.5"
                name="sunday_overtime_hour"
                ng-model="timecard.overtimeHours.sunday.hours"
                ng-if="allowEdit()"
                class="full-width">
            <span ng-if="!allowEdit()">{{timecard.overtimeHours.sunday.hours}}</span>
          </td>
          <td>
            <input 
                type="number"
                min="0"
                max="24"
                step="0.5"
                name="monday_overtime_hour"
                ng-model="timecard.overtimeHours.monday.hours"
                ng-if="allowEdit()"
                class="full-width">
            <span ng-if="!allowEdit()">{{timecard.overtimeHours.monday.hours}}</span>
          </td>
          <td>
            <input 
                type="number"
                min="0"
                max="24"
                step="0.5"
                name="tuesday_overtime_hour"
                ng-model="timecard.overtimeHours.tuesday.hours"
                ng-if="allowEdit()"
                class="full-width">
            <span ng-if="!allowEdit()">{{timecard.overtimeHours.tuesday.hours}}</span>
          </td>
          <td>
            <input 
                type="number"
                min="0"
                max="24"
                step="0.5"
                name="wednesday_overtime_hour"
                ng-model="timecard.overtimeHours.wednesday.hours"
                ng-if="allowEdit()"
                class="full-width">
            <span ng-if="!allowEdit()">{{timecard.overtimeHours.wednesday.hours}}</span>
          </td>
          <td>
            <input 
                type="number"
                min="0"
                max="24"
                step="0.5"
                name="thursday_overtime_hour"
                ng-model="timecard.overtimeHours.thursday.hours"
                ng-if="allowEdit()"
                class="full-width">
            <span ng-if="!allowEdit()">{{timecard.overtimeHours.thursday.hours}}</span>
          </td>
          <td>
            <input 
                type="number"
                min="0"
                max="24"
                step="0.5"
                name="friday_overtime_hour"
                ng-model="timecard.overtimeHours.friday.hours"
                ng-if="allowEdit()"
                class="full-width">
            <span ng-if="!allowEdit()">{{timecard.overtimeHours.friday.hours}}</span>
          </td>
          <td>
            <input 
                type="number"
                min="0"
                max="24"
                step="0.5"
                name="saturday_overtime_hour"
                ng-model="timecard.overtimeHours.saturday.hours"
                ng-if="allowEdit()"
                class="full-width">
            <span ng-if="!allowEdit()">{{timecard.overtimeHours.saturday.hours}}</span>
          </td>
          <td>
            <span><b>{{timecard.getTotalOvertimeHours()}}</b></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row" ng-if="allowEdit()">
      <div class="col-md-12">
          <div class="alert alert-info">
              Please note:
              <ul>
                  <li>
                      <small>* All <b>'Base Hours'</b> fields are required for submission. If no work hour to report for a calendar weekday, please report 0.</small>
                  </li>
                  <li>
                      <small>* All <b>'Overtime Hours'</b> fields are optional.</small>
                  </li>
                  <li>
                      <small>* Number of total work hours reported for any weekday should be within the range of 0 to 24.</small>
                  </li>
              </ul>
          </div>
      </div>
  </div>
  <div class="row" ng-if="allowEdit()">
    <div class="col-md-4">
      <a ng-click="addTimeCard()" class="btn green">Add timesheet for another State</a>
    </div>
    <div class="col-md-4 col-md-offset-4">
      <div class="submit-box">
        <a confirm="{{saveTimesheetConfirmText}}" ng-click="saveTimesheet()" class="btn green" ng-disabled="!isTimesheetValidForSave()">Submit</a>
      </div>
    </div>
  </div>
</form>