<div class="breadcrumb">
  <a ng-href="#/admin">Employer Dashboard</a>
  <span>ACA Reports</span>
</div>


<div class="content-header">
  <h1>ACA Reports</h1>
</div><!-- / .content-header -->

<div class="content-body">
  <div class="dashboard-card">
    <div class="info-row">
      <div class="col-xs-4 img-col"><span class="flaticon-file46"></span></div>
      <div class="col-xs-8 info-col">
        <h4>Form 1094C</h4>
      </div>
    </div>
    <div class="action-row">
      <div class="col-xs-6"><a ng-click="edit1094CInfo()">Edit</a></div>
      <div class="col-xs-6"><a ng-href="{{getCompany1094CUrl()}}">Download</a></div>
    </div>
  </div><!-- / .dashboard-card -->
</div><!-- / .content-body -->
