<form name="form">
  <h3 class="sub-title">Update employee's login password.</h3>
  <ul class="list-group"><li class="list-group-item">
    <div class="form-label">Enter New Password</div>
    <div class="textbox">
      <input type="password"
        name="newPassword"
        ng-model="newPassword"
        ng-required="true" />
    </div>
    <div class="form-label">Re-enter New Password</div>
    <div class="textbox">
      <input type="password"
        name="passwordRepeat"
        ng-model="passwordRepeat"
        ng-required="true" />
    </div>
  </li></ul>

  <div class="submit-box col-md-4 col-md-offset-1">
    <button ng-click="save()" class="btn green" ng-disabled="form.$invalid && !validPassword()">
      Submit
    </button>
  </div>
  <div class="col-md-4 col-md-offset-2">
    <button onclick="resetPassword()" class="btn green">
      Reset
    </button>
  </div>
</form>
