<hr ng-if="showTopBar" />

<div class="form-label">{{topLabelText}}</div>
<isteven-multi-select    
            input-model="companyGroups"    
            output-model="selectedGroupsModel"
            button-label="name"
            item-label="name"
            tick-property="ticked"
            helper-elements="all none"
        >
</isteven-multi-select>

<!-- <ui-select multiple ng-model="selectModel.outputBrowsers2">
    <ui-select-match placeholder="Select browsers...">{{$item.name}} &lt;{{$item.maker}}&gt;</ui-select-match>
    <ui-select-choices repeat="browser in modernBrowsers | filter: $select.search">
      <span ng-bind="browser.name"></span>
    </ui-select-choices>
  </ui-select>
  <p>Selected: {{selectModel.outputBrowsers2[0]}}</p> -->