<div class="table-responsive table-holder">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><span>Name</span></th>
        <th><span>Actions</span></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="group in groups">
        <td><a ng-click="editGroupInfo(group)">{{group.name}}</a></td>
        <td>
          <span class="btn inline" ng-click="editGroupInfo(group)">Edit</span>
          <span class="btn inline" ng-click="deleteGroup(group)" confirm="Are you sure?">Delete</span>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="cta">
    <span class="btn green" ng-click="addNewGroup()" style="width: 20%">
      Add new group
    </span>
  </div>
</div>
