<div class="modal-header">
    <h4 class="modal-title">Specific Employee 1095C data</h4>
</div>
<div class="modal-body col-md-12">
  <h6>Please fill out the following form to specify employee 1095C data</h6>
  <table class="table table-striped horizontal">
    <thead>
      <tr>
        <th><span>1095C Data</span></th>
        <th ng-repeat="employeeItem in employee1095CData" style="text-align:center;">
          {{employeeItem.period}}
        </th>
      </tr>
    </thead>
    <tbody>
    <tr>
        <td>Employee Offer of</br>Coverage Code</td>
        <td ng-repeat = "employeeItem in employee1095CData">
          <input type="text" style="text-align:center" class="input-upper" ng-model="employeeItem.offer_of_coverage" />
        </td>
      </tr>
      <tr>
        <td>Company Default</br>Offer of Coverage Code</td>
        <td style="text-align:center" ng-repeat = "item in sorted1095CData">{{item.offer_of_coverage}}</td>
      </tr>
      <tr>
        <td>Employee Share</br>of Premium $</td>
        <td ng-repeat = "employeeItem in employee1095CData">
          <input type="number" style="text-align:center" class="input-upper" ng-model="employeeItem.employee_share" />
        </td>
      </tr>
      <tr>
        <td>Company Default</br>Employee Share of Premium $</td>
        <td style="text-align:center" ng-repeat = "item in sorted1095CData">{{item.employee_share}}</td>
      </tr>
      <tr>
        <td>Employee Safe</br>Harbor Code</td>
        <td ng-repeat = "employeeItem in employee1095CData">
          <input type="text" style="text-align:center" class="input-upper" ng-model="employeeItem.safe_harbor" />
        </td>
      </tr>
      <tr>
        <td>Company Default</br>Safe Harbor</td>
        <td style="text-align:center" ng-repeat = "item in sorted1095CData">{{item.safe_harbor}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
    <div class="button-group">
        <button class="btn btn-info" ng-click="save()" ng-disabled="form.$invalid" style="width:20%;">Save</button>
        <button class="btn btn-primary" ng-click="cancel()" style="width:20%;">Cancel</button>
    </div>
</div>
