<div class="modal-header">
    <h4 class="modal-title">Company 1095-C Form</h4>
</div>
<div class="modal-body col-md-12">
    <h6>Please fill out the following form to create your 1095-C document</h6>
    <table class="table table-striped horizontal">
        <thead>
          <tr>
            <th>
              <span>1095C Data</span> 
            </th>
            <th ng-repeat="item in sorted1095CData" style="text-align:center;">{{item.period}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b>Offer of Coverage Code</b></td>
            <td ng-repeat = "item in sorted1095CData">
                <input type="text" style="text-align:center" class="input-upper" ng-model="item.offer_of_coverage"/>
            </td>
          </tr>
          <tr>
            <td>
                <b>Employee Share of Lowest Cost Monthly Premium, for Self-Only Minimum Value Coverage</b>
                <span class="input-group-addon" style="width:20px;">$</span>
            </td>
            <td ng-repeat = "item in sorted1095CData">
                <input type="text" style="text-align:center" ng-model="item.employee_share" />
            </td>
          </tr>
          <tr>
            <td><b>Applicable Section 4980H Safe Harbor</b></td>
            <td ng-repeat = "item in sorted1095CData">
                <input type="text" style="text-align:center" class="input-upper" ng-model="item.safe_harbor" />
            </td>
          </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <div class="button-group">
        <button class="btn btn-info" ng-click="save()" ng-disabled="form.$invalid" style="width:20%;">Save</button>
        <button class="btn btn-primary" ng-click="cancel()" style="width:20%;">Cancel</button>
    </div>
</div>