<div class="content-header"></div>
<div class="content-body" ng-show="employeeQuotas">
  <div class="table-responsive">
    <div class="table-title">
      Timeoff Quota Information for all employees
    </div>
    <table class="table table-striped" >
      <thead>
        <th><span>Employee</span></th>
        <th><span>Types</span></th>
        <th><span>Accrued Hours to Date</span></th>
        <th><span>Banked Hours Balance</span></th>
      </thead>
      <tbody>
        <tr ng-repeat="quotaPerEmployee in employeeQuotas">
          <td>
            {{quotaPerEmployee.employee.first_name}} {{quotaPerEmployee.employee.last_name}}
          </td>
          <td>
            <span ng-if="!quotaPerEmployee.quota">
              N/A
            </span>
            <div ng-if="quotaPerEmployee.quota" ng-repeat="quotaInfoItem in quotaPerEmployee.quota.quotaInfoCollection">
              {{quotaInfoItem.timeoffType}}
            <div>
          </td>
          <td>
            <span ng-if="!quotaPerEmployee.quota">
              N/A
            </span>
            <div ng-if="quotaPerEmployee.quota" ng-repeat="quotaInfoItem in quotaPerEmployee.quota.quotaInfoCollection">
              {{quotaInfoItem.accrualSpecs ? quotaInfoItem.accrualSpecs.accruedHours : ''}}
            <div>
          </td>
          <td>
            <span ng-if="!quotaPerEmployee.quota">
              N/A
            </span>
            <div ng-if="quotaPerEmployee.quota" ng-repeat="quotaInfoItem in quotaPerEmployee.quota.quotaInfoCollection">
              {{quotaInfoItem.bankedHours}}
            <div>
          </td>
        </tr>
      </tbody>
    </table>
  </div><!-- TimeOff Limit Table -->
</div>