<div class="content-header">
  <h1>View Time Off requests</h1>
  <div class="cta">
    <span class="btn green" ng-click="requestTimeOff()">Request Time-Off</span>
  </div>
  <div class="view-instruction">
    <p> Please use the <span class="green-link">Request Time-Off Button</span> to create a new time-off request</p>
  </div>
</div><!-- / .content-header -->

<div class="content-body">
  <div class="table-responsive" ng-if="showQuotaInfo()">
    <div class="table-title">
      Timeoff Quota Information
    </div>
    <table class="table table-striped" >
      <thead>
        <th><span>Type</span></th>
        <th><span>Banked Hours Balance</span></th>
      </thead>
      <tbody>
        <tr ng-repeat="quotaInfo in quotaData.quotaInfoCollection">
          <td>{{quotaInfo.timeoffType}}</td>
          <td>{{quotaInfo.bankedHours.toFixed(1)}}</td>
        </tr>
      </tbody>
    </table>
  </div><!-- TimeOff Limit Table -->
  <div class="panel" ng-if="!hasPendingRequests() && !hasDecidedRequests()">
    <div class="panel-body">
        There are no time requested. <a ng-click="requestTimeOff()">Click here</a> to make a time off request.
    </div>
  </div>
  <div class="table-responsive" ng-if="hasPendingRequests()">
    <div class="table-title">
      Pending Timeoff Requests
    </div>
    <table class="table table-striped" >
      <thead>
        <th><span>Type</span></th>
        <th><span>Start</span></th>
        <th><span>Duration</span></th>
        <th><span>Approver Email</span></th>
        <th><span>Date and time created</span></th>
        <th><span>Actions</span></th>
      </thead>
      <tbody>
        <tr ng-repeat="timeOff in pendingRequests">
          <td>{{timeOff.type}}</td>
          <td>{{timeOff.start}}</td>
          <td>{{timeOff.duration}} hour(s)</td>
          <td>{{timeOff.approver}}</td>
          <td>{{timeOff.created}}</td>
          <td><a ng-click="cancelRequest(timeOff)">Cancel</a></td>
        </tr>
      </tbody>
    </table>
  </div> <!-- TimeOff Request Result Table -->
  <div class="table-responsive" ng-if="hasDecidedRequests()">
    <div class="table-title">
      Decided Timeoff Requests
    </div>
    <table class="table table-striped" >
      <thead>
        <th><span>Type</span></th>
        <th><span>Start</span></th>
        <th><span>Duration</span></th>
        <th><span>Status</span></th>
        <th><span>Approver Email</span></th>
        <th><span>Decision Time</span></th>
      </thead>
      <tbody>
        <tr ng-repeat="timeOff in decidedRequests">
          <td>{{timeOff.type}}</td>
          <td>{{timeOff.start}}</td>
          <td>{{timeOff.duration}} hour(s)</td>
          <td>{{timeOff.status}}</td>
          <td>{{timeOff.approver}}</td>
          <td>{{timeOff.decisionTime}}</td>
        </tr>
      </tbody>
    </table>
  </div> <!-- TimeOff Request Result Table -->
</div>
