<div class="content-header">
  <h1>View Time Off requests</h1>
  <div class="cta" ng-show="enableRequestorFeatures">
    <span class="btn green" ng-click="requestTimeOff()">Request Time-Off</span>
  </div>
  <div class="view-instruction" ng-show="enableRequestorFeatures">
    <p> Please use the <span class="green-link">Request Time-Off Button</span> to create a new time-off request</p>
  </div>
</div><!-- / .content-header -->

<div class="content-body">
  <div class="table-responsive" ng-if="showQuotaInfo()">
    <div class="table-title">
      Timeoff Quota Information
    </div>
    <table class="table table-striped" >
      <thead>
        <th><span>Type</span></th>
        <th><span>Accrued Hours to Date</span></th>
        <th><span>Banked Hours Balance</span></th>
      </thead>
      <tbody>
        <tr ng-repeat="quotaInfo in quotaData.quotaInfoCollection">
          <td>{{quotaInfo.timeoffType}}</td>
          <td>{{quotaInfo.accrualSpecs ? quotaInfo.accrualSpecs.accruedHours : ''}}</td>
          <td>{{quotaInfo.bankedHours}}</td>
        </tr>
      </tbody>
    </table>
  </div><!-- TimeOff Limit Table -->
  <div class="panel" ng-if="!hasSelfRequests() && enableRequestorFeatures">
    <div class="panel-body">
        There are no time requested. <a ng-click="requestTimeOff()">Click here</a> to make a time off request.
    </div>
  </div>
  <div class="table-responsive" ng-if="hasSelfRequests() && enableRequestorFeatures">
    <div class="table-title">
      Timeoff Requested
    </div>
    <table class="table table-striped" >
      <thead>
        <th><span>Type</span></th>
        <th><span>Start</span></th>
        <th><span>Duration</span></th>
        <th><span>Status</span></th>
        <th><span>Approver Email</span></th>
        <th><span>Date and time created</span></th>
      </thead>
      <tbody>
        <tr ng-repeat="timeOff in requestedTimeOffs">
          <td>{{timeOff.type}}</td>
          <td>{{timeOff.start}}</td>
          <td>{{timeOff.duration}} hour(s)</td>
          <td>{{timeOff.status}}</td>
          <td>{{timeOff.approver}}</td>
          <td>{{timeOff.created}}</td>
        </tr>
      </tbody>
    </table>
  </div> <!-- TimeOff Request Result Table -->
  <br />
  <br />
  <div class="panel" ng-show="!hasDirectReportRequests() && !enableRequestorFeatures">
    <div class="panel-heading">
        Time Off Requested
    </div>
    <div class="panel-body">
        There are no time requested pending your action.
    </div>
  </div>
  <div class="table-responsive" ng-show="hasDirectReportRequests()">
    <div class="table-title">
      Time Off requests from your direct reports
    </div>
    <table class="table table-striped" >
      <thead>
        <th><span>Requestor</span></th>
        <th><span>Type</span></th>
        <th><span>Start</span></th>
        <th><span>Duration</span></th>
        <th><span>Date and time created</span></th>
        <th><span>Status</span></th>
      </thead>
      <tbody>
        <tr ng-repeat="request in requestsFromDirectReports">
          <td> {{request.requestor.firstName}} {{request.requestor.lastName}}</td>
          <td>{{request.type}}</td>
          <td>{{request.start}}</td>
          <td>{{request.duration}} hour(s)</td>
          <td>{{request.created}}</td>
          <td ng-if="request.actionNeeded">
            <a ng-click="updateStatus(request, 'APPROVED')">Approve</a> / <a ng-click="updateStatus(request, 'DENIED')">Deny</a>
          </td>
          <td ng-if="!request.actionNeeded">{{request.status}}</td>
        </tr>
      </tbody>
    </table>
  </div> <!-- TimeOff Request Action Table -->
</div>
