<script type="text/javascript" src="/static/js/flashcanvas.js"></script>
<script src="/static/js/jSignature.min.js"></script>

<!-- Commuter -->
<div class="panel">
  <div class="panel-head">{{panelHeader}}<br/></div>
  <div class="panel-body">
    <div class="signature-display-container" ng-if="inViewMode() && signatureExists()">
        <div class="signature-action-container">
          <div class="signature-image-container">
            <img ng-src="{{signature.signatureImage}}" alt="signature" />
          </div>
          <div class="text-right col-md-10" style="padding-bottom: 20px;">
            {{signature.createdDateForDisplay}}
          </div>
          <div style="clear:both"></div>
        </div>
    </div> 
    <div class="signature-display-container" ng-if="!inViewMode() && signatureExists()">
        <div class="terms-container" ng-if="description">{{description}}</div>
        <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="electSign">
              I elect to sign the document
            </label>
        </div>
        <div class="signature-action-container" ng-if="electSign">
          <div class="signature-image-container">
            <img ng-src="{{signature.signatureImage}}" alt="signature" />
          </div>
          <div class="text-right col-md-10" style="padding-bottom: 20px;">
            {{signature.createdDateForDisplay}}
          </div>
          <div class="signature-reset col-md-6 pull-left">
            <button ng-click="confirmSign()" class="btn green" ng-disabled="!allowSign()">
              {{confirmSignButtonText}}
            </button>
          </div>
          <div style="clear:both"></div>
        </div>
    </div>
    <div class="signature-container" ng-show="!inViewMode() && !signatureExists()">
        <div class="terms-container" ng-if="description">{{description}}</div>
        <div id="doc_signature" class="employee-doc-signature-pad col-md-12"></div>
        <div class="signature-action-container">
          <div class="signature-reset col-md-6 pull-left">
            <button ng-click="clearSignature()" class="btn">
              Reset
            </button>
          </div>
          <div class="signature-reset col-md-6 pull-right">
            <button ng-click="confirmSign()" class="btn green" ng-disabled="!allowSign()">
              {{confirmSignButtonText}}
            </button>
          </div>
          <div style="clear:both"></div>
          <input type="hidden" name="signatureHiddenData" value="{{signature.signatureImage}}"/>
        </div>
    </div>
    <div ng-if="inViewMode() && !signatureExists()">
    No signature found.
    </div>
  </div>
</div>