#content-wrapper
{
    width:90%;
    margin-left:40px;
}

.main-content
{
    margin-top: 20px;
}

ul.client-list 
{
    list-style-type:none;
}

ul.client-list li
{
    margin-bottom:20px;
    border-bottom:1px dotted black;
    height:40px;
}

ul.client-list li span.client-name
{
    font-size:16px;
}

.employer-dashboard-header
{
    margin-bottom:20px;
}

.employer-dashboard-body ul.client-list li
{
    border-bottom:none;
}

.employer-user-label
{
    text-align: center;
}

.employer-user-row
{
    margin-top:20px;
    margin-bottom:20px;

}

.no-related-users
{
    margin-top:30px;
    text-align: center;
    margin-bottom:30px;
    font-size:20px;
}
.header-container
{
    height:50px;
}

.form-validation-error
{
    color:red;
    font-size: :14px;
}
.employer-benefit .panel-heading
{
    height:40px;
}
.in-form-instruction
{
    font-size: 12px;
    font-weight: bold;
}
.form-sub-text{
    font-size:10px;
    font-weight: normal;
}

.form-group input.ng-invalid.ng-dirty {
    background-color: #F5D7D3;
  }
.form-inline-error{
    color:red;
    padding-bottom: 10px;
}
.template-field
{
    width:100%;
}
.action-result-message
{
    margin-bottom:10px;
    font-weight: bold;
}
.enrolled
{
    margin-left:30px;
}
.signature-pad
{
    width:430px;
}
.employee-doc-signature-pad
{
    width:600px;
}
.terms-container
{
    margin-bottom:40px;
}
.signature-container
{
    margin-bottom:20px;
}
.signature-saved-successful
{
    margin-bottom:10px;
    margin-top:10px;
    text-align: center;
    font-color:gray;
    font-weight: bold;
}
.signature-image-container
{
    padding-bottom:20px;
}
.signature-saved-fail
{
    margin-bottom:10px;
    margin-top:10px;
    font-size:16px;
    font-weight:bold;
    color:red;
    text-align: center;
}
.remove-policy-type{
    color:red;
    margin-left:5px;
    vertical-align: text-top;
}
.editable-container{
    cursor:pointer;
}

th .editable-container{
    font-weight: bold;
}
.benefit-form-holder{
    padding:20px 20px;
}
.benefit-table{
    margin:auto;
    position:relative;
}
.benefit-table th div{
    padding:10px 20px;
}
.dynamic-form .submit-box{
    padding-top: 20px;
    max-width:200px;
    margin:auto;
}
.dynamic-form .validation-error{
    color:red;
    margin-left:20px;
}
.unfilled-input{
    border: solid 2px red;
}
.medical-plan-display-table .benefit-name span{
    text-align: center;
}
.medical-plan-display-table .title-row{
    font-weight: bold;
}
.medical-plan-display-table .value-row .row-head span{
    margin-left:10px;
}
.pcp-container{
    vertical-align: bottom;
    padding-top:20px;
}
.benefit-pcp-display{
    font-size: 11px;
    margin-top:10px;
}
.inner-td-div{
    margin-bottom:10px;
}
.table-striped td{
    border-left:solid 1px #e4e4e4;
}
.table-striped thead{
    border-left:solid 1px #e4e4e4;    
    border-right:solid 1px #e4e4e4;
}
.table-sub-title{
    font-weight: bold;
    margin-bottom:10px;
}
.attention{
    font-size:12px;
    font-weight: bold;
    background-color: #faf8c8;
    margin-bottom:20px;
    padding:10px;
}
input.input-upper {
  text-transform: uppercase;
}
span.doc-buttons{
    margin-left:5px;
}