<div class="row col-md-10 col-md-offset-1">
  <div class="panel panel-info" ng-show="directDepositAccounts.length === 0">
    <div class="panel-body">
      You do not have direct deposit account with us yet.
    </div>
  </div>
  <div class="panel panel-info" ng-repeat="account in directDepositAccounts">
    <div class="panel-heading">Direct Deposit # {{$index + 1}}
      <button ng-click="editDirectDepositAccount(account)" class="pull-right">Edit</button>
      <button ng-click="deleteDirectDepositAccont(account)" class="pull-right">Delete</button>
    </div>
    <div class="panel-body">
      <div class="list-group-item col-md-3" style="min-height:85px;">
        <h4 class="col-md-12">Account Type</h4>
        <div class="col-md-12 text-right">{{account.account_type}}</div>
      </div>
      <div class="list-group-item col-md-3" style="min-height:85px;">
        <h4 class="col-md-12">Account Issuer</h4>
        <div class="col-md-12 text-right">{{account.bank_name}}</div>
      </div>
      <div class="list-group-item col-md-3" style="min-height:85px;">
        <h4 class="col-md-12">Routing #</h4>
        <div class="col-md-12 text-right">{{account.routing}}</div>
      </div>
      <div class="list-group-item col-md-3" style="min-height:85px;">
        <h4 class="col-md-12">Account #</h4>
        <div class="col-md-12 text-right">{{account.account}}</div>
      </div>
      <div class="list-group-item col-md-3" style="min-height:85px;">
        <h4 class="col-md-12">Amount</h4>
        <div class="col-md-12 text-right">$ {{account.amount}}</div>
      </div>
      <div class="list-group-item col-md-3" style="min-height:85px;">
        <h4 class="col-md-12">Percentage</h4>
        <div class="col-md-12 text-right">{{account.percentage}} %</div>
      </div>
      <div class="list-group-item col-md-3" style="min-height:85px">
        <h4 class="col-md-12" style="font-size:90%;">Remainder of Net Pay</h4>
        <div class="col-md-12 text-right">{{account.remainder_of_all}}</div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="cta col-md-3 col-md-offset-5"><a ng-click="addDirectDepositAccount()" class="btn green" >Add A New Account</a></div>
</div>
