<div class="row col-md-12">
    <div class="table-responsive table-holder table">
        <table class="table table-striped">
            <thead>
                <th><span>Account Type</span></th>
                <th><span>Account Issuer</span></th>
                <th><span>Routing Number</span></th>
                <th><span>Account Number</span></th>
                <th><span>Amount</span></th>
                <th><span>Percentage</span></th>
                <th><span>Reminder of Net Pay?</span></th>
                <th><span>Action</span></th>
            </thead>
            <tbody>
                <tr ng-repeat="account in direct_deposit_accounts">
                    <td>{{account.type}}</td>
                    <td>{{account.bank_name}}</td>
                    <td>{{account.routing}}</td>
                    <td>{{account.account}}</td>
                    <td>{{account.amount}}</td>
                    <td>{{account.percentage}}</td>
                    <td>{{account.reminder}}</td>
                    <td><i class="fa fa-minus-circle fa-3x"></i></td>
                </tr>
                <tr>
                    <td><input ng-model="new_account.type"/></td>
                    <td><input ng-model="new_account.type"/></td>
                    <td><input ng-model="new_account.type"/></td>
                    <td><input ng-model="new_account.type"/></td>
                    <td><input ng-model="new_account.type"/></td>
                    <td><input ng-model="new_account.type"/></td>
                    <td><input ng-model="new_account.type"/></td>
                    <td><i class="fa fa-plus-circle fa-3x"></i></td>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="cta col-md-2 col-md-offset-5"><a ng-click="saveDirectDeposit()" class="btn green" >Save</a></div>
</div>
