<div class="col-md-10">
    <h4>{{headerSubjectText}}</h4>
    <table class="table table-striped">
        <thead>
          <tr>
            <th><span>Documents</span></th>
            <th>
                <span ng-if="!readOnlyMode">Yes, I have received and reviewed the document</span>
                <span ng-if="readOnlyMode">Date Signed</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="document in documents">
            <td>
                <a ng-if="document.downloadUrl" ng-href="{{document.downloadUrl}}" target="_blank">{{document.name}}</a>
                <a ng-if="!document.upload" ng-click="showDocument(document)">{{document.name}}</a>
            </td>
            <td>
                <input ng-if="!readOnlyMode" type="checkbox" ng-model="document.accepted">
                <span ng-if="readOnlyMode">{{document.signature ? document.signature.createTimeForDisplay : ''}}</span>
            </td>
          </tr>
        </tbody>
    </table>
    <bm-signature-picker user-id="userId" on-confirm-sign="signDocuments(resultSignature)" allow-sign-predicate="allDocumentsAccepted()" ng-if="!readOnlyMode"></bm-signature-picker>
</div>