<div class="breadcrumb">
  <a ng-href="#/admin">Employer Dashboard</a>
  <a ng-href="#/admin/employee/{{companyId}}">View Employees</a>
  <span>View documents</span>
</div>

<div class="content-header">
  <h1>View documents</h1>
  <div class="cta"><span class="btn green" ng-click="createNewLetter()">Add Document</span></div>
</div><!-- / .content-header -->

<div class="content-body">
  <div class="table-responsive table-holder" ng-if="!_.isEmpty(documentList)">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><span>Name</span></th>
          <th><span>Actions</span></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="doc in documentList">
          <td>{{doc.name}}</td>
          <td>
            <span class="btn inline" ng-click="viewExistingLetter(doc)">View</span>
            <span class="btn inline" ng-click="deleteExistingLetter(doc)">Delete</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="panel colourable" ng-show="anyActiveDocument()">
    <div class="panel-heading">
      <span class="panel-title">{{activeDocument.name}}</span>
    </div>
    <div class="panel-body">
      <div ng-if="inTextMode()">
          <textarea
          class="col-md-12"
          name="document_content"
          ng-model="activeDocument.content"
          wrap="true"
          cols="100"
          rows="10">{{activeDocument.content}}</textarea>
          <div class="update-button col-md-12">
            <button type="button"
            ng-disabled="signaturePresent"
            class="btn green"
            ng-click="updateExistingLetter()">Update</button>
          </div>
      </div>
      <div ng-if="inUploadMode()">
        <div class="form-label">Document File</div>
        <bmuploadviewer view-title="" upload-list="{{getDocumentUploadsForDisplay()}}"></bmuploadviewer>
      </div>
    </div>
    <bm-signature-picker signature-id="signatureId" view-mode></bm-signature-picker>
  </div>

  <div class="back pull-left"><a ng-click="viewEmployeesLink()">&laquo; Back</a></div>

</div><!-- / .content-body -->
