<div class="breadcrumb">
  <span>Employee Onboard</span>
</div>

<div class="content-header">
  <h1>Employee Onboard</h1>
  <span class="general-info">WorkBenefitsMe works with your company to ensure all of employee information is collected from you</span>
</div><!-- / .content-header -->

<div class="content-body">
  <div class="row">

    <div class="col-md-4">
      <div class="list-group">
        <a ng-href="#/employee/onboard/index/{{employeeId}}" class="list-group-item">
          <h4 class="list-group-item-heading">Basic Information</h4>
          <p class="list-group-item-text">Personal information</p>
        </a>
        <a ng-href="#/employee/onboard/employment/{{employeeId}}" class="list-group-item">
          <h4 class="list-group-item-heading">Employment Authorization</h4>
          <p class="list-group-item-text">Employment and proof of eligibility</p>
        </a>
        <a href="#/employee/onboard/tax/{{employeeId}}" class="list-group-item">
          <h4 class="list-group-item-heading">Tax information (W-4)</h4>
          <p class="list-group-item-text">Information about your W-4 and state tax withholding form</p>
        </a>
        <a href="#/employee/onboard/complete/{{employeeId}}" class="list-group-item active">
          <h4 class="list-group-item-heading">Term and Signature</h4>
          <p class="list-group-item-text">Please acknowledge the information by providing us your signature</p>
        </a>
      </div>
    </div>

    <div class="col-md-5">
      <bm-signature-picker user-id="employeeId" on-confirm-sign="submit(resultSignature)" panel-header-text="signaturePanelHeaderText" description-text="signatureDescriptionText" sign-button-text="signButtonText"></bm-signature-picker>
    </div>

  </div><!-- / .row -->
</div><!-- / .content-body -->
