<ul class="breadcrumb breadcrumb-page">
    <div class="breadcrumb-label text-light-gray">You are here: </div>
    <li><a href="/">Home</a></li>
    <li class="active">Employee Onboard</li>
</ul>

<script type="text/javascript" src="js/flashcanvas.js"></script>
<script src="js/jSignature.min.js"></script>

<div class="page-header">
    <div class="row">
        <!-- Page header, center on small screens -->
        <h1 class="col-xs-12 text-center text-left-sm">
            Benefitmy works with your company to ensure all of employee information is collected from you
        </h1>
    </div>
</div> <!-- / .page-header -->
<div class="col-md-4">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title"> Overview</span>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <a ng-href="#/employee/onboard/index/{{employeeId}}" class="list-group-item">
                    <h4 class="list-group-item-heading">Basic Information</h4>
                    <p class="list-group-item-text">Personal information</p>
                </a>
                <a ng-href="#/employee/onboard/employment/{{employeeId}}" class="list-group-item">
                    <h4 class="list-group-item-heading">Employment Authorization</h4>
                    <p class="list-group-item-text">Employment and proof of eligibility</p>
                </a>
                <a href="#/employee/onboard/tax/{{employeeId}}" class="list-group-item">
                    <h4 class="list-group-item-heading">Tax information (W-4)</h4>
                    <p class="list-group-item-text">Information about your W-4 and state tax withholding form</p>
                </a>
                <a href="#/employee/onboard/complete/{{employeeId}}" class="list-group-item active">
                    <h4 class="list-group-item-heading">Term and Signature</h4>
                    <p class="list-group-item-text">Please acknowledge the information by providing us your signature</p>
                </a>
            </div>
        </div> 
    </div>   
</div>
<div class="col-md-8">
    <div class="signature-container">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Please agree to the statement below and sign</span>
            </div>
            <div class="panel-body">
                <div class="terms-container">
                    I hereby acknowledge that all the information I provided before are to the best of my knowledge and all the facts I stated are true.
                    I am aware that if I provided faulty information, I would be liable to the penalties by law
                </div>
                <div id="term_signature" class="signature-pad"></div>
            </div>
            <div class="panel-footer text-right">
                <button ng-click="clearSignature()" class="btn btn-primary btn-labeled">
                    Reset
                </button>
                <button ng-click="submit()" class="btn btn-primary btn-labeled">
                    <span class="btn-label icon fa fa-plus"></span>Sign and Next 
                </button>
                <input type="hidden" name="signatureHiddenData" value="{{termSignatureData}}"/>
            </div>
        </div>
    </div>
</div>
<div style="clear:both"></div>