<div class="breadcrumb">
    <a href="/">Home</a>
    <span>Employee Onboard</span>
</div>

<script type="text/javascript" src="/static/js/flashcanvas.js"></script>
<script src="/static/js/jSignature.min.js"></script>

<div class="content-header">
    <h1>Employee Onboard</h1>
    <span class="general-info">Benefitmy works with your company to ensure all of employee information is collected from you</span>
</div><!-- / .content-header -->

<div class="content-body">
    <div class="row">

        <div class="col-md-4">
            <div class="list-group">
                <a ng-href="#/employee/onboard/index/{{employeeId}}" class="list-group-item">
                    <h4 class="list-group-item-heading">Basic Information</h4>
                    <p class="list-group-item-text">Personal information</p>
                </a>
                <a ng-href="#/employee/onboard/employment/{{employeeId}}" class="list-group-item active">
                    <h4 class="list-group-item-heading">Employment Authorization</h4>
                    <p class="list-group-item-text">Employment and proof of eligibility</p>
                </a>
                <a href="#/employee/onboard/tax/{{employeeId}}" class="list-group-item">
                    <h4 class="list-group-item-heading">Tax information (W-4)</h4>
                    <p class="list-group-item-text">Information about your W-4 and state tax withholding form</p>
                </a>
                <a href="#/employee/onboard/complete/{{employeeId}}" class="list-group-item">
                    <h4 class="list-group-item-heading">Term and Signature</h4>
                    <p class="list-group-item-text">Please acknowledge the information by providing us your signature</p>
                </a>
            </div>
        </div>

        <div class="col-md-8">
            <div class="form-holder">
                <form name="form">
                    <ul class="list-group"><li class="list-group-item">
                    <div class="form-label">I am</div>
                    <div class="select-box">
                        <select name="authorization_type"
                            ng-model="employee.auth_type"
                            ng-required="true"
                            class="form-control">
                            <option value="Citizen">A citizen of the United States</option>
                            <option value="Noncitizen">A noncitizen national of the United States</option>
                            <option value="PResident">A lawful permanent resident</option>
                            <option value="Aaw">An alien authorized to work</option>
                        </select>
                    </div>

                    <div ng-show="employee.auth_type == 'Aaw'">
                        <div class="form-label">Expiration Date</div>
                        <div class="datebox">
                            <input name="expirationDate"
                                ng-model="employee.auth_expiration"
                                type="date"
                                ui-mask="mm/dd/yyyy"
                                ng-required="false"/>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                    ng-model="employee.expiration_na"
                                    name="expirationNA" />
                                NA
                             </label>
                        </div>
                    </div>

                    <div ng-show="employee.auth_type == 'PResident' || employee.auth_type=='Aaw'">
                        <div class="form-label">Alien Registration Number/USCIS number</div>
                        <div class="textbox">
                            <input name="USCISNumber"
                                ng-model="employee.authNumber"
                                type="text"
                                ui-mask="999-999-999"
                                ng-required="true"/>
                        </div>
                    </div>

                    <div ng-show="employee.auth_type=='Aaw'">
                        <center>Or</center>
                    </div>

                    <div ng-show="employee.auth_type=='Aaw'">
                        <div class="form-label">Form I-94 Admission Number</div>
                        <div class="textbox">
                            <input name="I94Number"
                                ng-model="employee.I94Id"
                                type="number"/>
                        </div>

                        <div class="form-label">Foreign Passport Number</div>
                        <div class="textbox">
                            <input name="foreignPassportNumber"
                                ng-model="employee.passportId"
                                type="text"/>
                        </div>

                        <div class="form-label">Country of Issuance</div>
                        <div class="textbox">
                            <input name="foreignPassportCountry"
                                ng-model="employee.passportCountry"
                                type="text"/>
                        </div>

                    </div>

                    <div class="signature-container" ng-show="employee.auth_type">
                            <div class="panel">
                                <div class="panel-heading">
                                    <span class="panel-title">Please sign below</span>
                                </div>
                                <div class="panel-body">
                                    <div id="auth_signature" class="signature-pad"></div>
                                </div>
                            </div>
                            <div class="submit-box">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <button ng-click="clearSignature()" class="btn green">
                                            Reset
                                        </button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button ng-click="signDocument()" class="btn green">
                                            Submit and Next
                                        </button>
                                    </div>
                                </div>
                                <input type="hidden" name="signatureHiddenData" ng-value="{{signatureImage}}"/>
                            </div>
                    </div>

                </li></ul>
                </form>
            </div>



        </div>

    </div><!-- / .row -->
</div><!-- / .content-body -->

    <!-- <div class="panel" ng-show="employee.auth_type">
        <div class="panel-heading">
            <span class="panel-title" ng-show="employee.auth_type=='citizen' || employee.auth_type=='noncitizen'">Please upload your passport ID page (The page with your picture on it)</span>
            <span class="panel-title" ng-show="employee.auth_type=='PR'">Please upload your permanent resident card</span>
            <span class="panel-title" ng-show="employee.auth_type=='alien'">Please upload your US visa page</span>
        </div>
        <div class="panel-body">
            <div class="uploaded-doc-container" ng-show="doc_uploaded">
                <img ng-src="{{}}" name="uploaded-doc-preview"/>
            </div>
            <form class="upload-button" name="docUpload">
                <input type="button" value="Upload" />
            </form>
        </div>
    </div> -->
