<div>
  <div class="breadcrumb">
    <span>Employee Onboard</span>
  </div>
  <div class="content-header">
    <h1>Employee Onboard</h1>
    <span class="general-info">WorkBenefitsMe works with your company to ensure all of employee information is collected from you</span>
  </div><!-- / .content-header -->

  <div class="content-body">

    <div class="row">
      <div class="col-md-4">
        <div class="list-group">
          <a ng-repeat="tab in section.tabs" class="list-group-item" ui-sref="{{tab.state}}" ui-sref-active="active">
            <h4 class="list-group-item-heading">{{tab.verbose_name}}</h4>
            <p class="list-group-item-text">{{tab.description}}</p>
          </a>
        </div>
      </div>
      <div class="col-md-8">
        <div ui-view></div>
      </div>
    </div><!-- / .row -->
  </div><!-- / .content-body -->
</div>
