<div class="content-header">
  <h1>Timesheet Reports and Time-off Requests</h1>
  <div class="view-instruction">
    <p>You can find the total hours submitted by employees for selected week</p>
  </div>
</div><!-- / .content-header -->

<div class="content-body">
  <div class="panel">
    <div class="panel-heading">
        Select Week
    </div>
    <div class="panel-body">
        <div class="col-md-4">
            <div class="select-box">
                <select
                    id="display_week"
                    ng-model="selectedDisplayWeek"
                    name="display_week"
                    ng-options="weekItem.weekDisplayText for weekItem in listOfWeeks"
                    ng-change="reloadTimePunchCard()"
                    class="form-control"></select>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4" ng-if="isAllCompanyView()">
          <a ng-click="downloadWeeklyTimePunchCardReport()">Download weekly worktime report</a>
        </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading">
      The work hours submitted for week <b>{{selectedDisplayWeek.weekDisplayText}}</b>
    </div>
    <div class="panel-body">
      <div class="cta-above-table" ng-if="isAllCompanyView()">
        <div class="cta utility-button">
          <span class="btn green" ng-click="editIndividual()">Edit Per Employee</span>
        </div>
        <div class="cta utility-button" ng-if="allowGenerateHolidays()">
          <span class="btn green" ng-click="generateHolidayCards()">Generate Holidays</span>
        </div>
      </div>
      <table class="table table-striped benefit-table fix-layout-table"
        id="plan_items_table"
        ng-show="employeePunchCards.length > 0">
        <thead>
          <th><div>Name</div></th>
          <th><div>Total Paid Hours</div></th>
          <th><div>Action</div></th>
        </thead>
        <tbody>
          <tr ng-repeat="employeeTimeCard in employeePunchCards | orderBy:'employee.lastName'">
            <td>
              <span>{{employeeTimeCard.employee.firstName}} {{employeeTimeCard.employee.lastName}}</span>
              <span ng-if="employeeTimeCard.isSystemStoped" class="label label-danger pull-right" style="margin-left: 5px">Pending Action</span>
              <span ng-if="employeeTimeCard.isInProgress" class="label label-warning pull-right">Checked-In</span>
            </td>
            <td>{{employeeTimeCard.hours}}</td>
            <td><span>
                <a ng-click="editTimeCard(employeeTimeCard.employee, selectedDisplayWeek)">Edit</a>
              </span></td>
          </tr>
        </tbody>
      </table>
      <div class="" ng-show="employeePunchCards.length == 0">
        There are no submitted work hours for week {{selectedDisplayWeek.weekDisplayText}}
      </div>
    </div>
  </div>
</div>
