<form name="myForm">
  <div>
      <div class="row">
          <div class="col-md-12">
              <h6> Time Sheet</h6>
              <table class="table table-striped benefit-table fix-layout-table" id="base_hours_table">
                  <thead>
                    <th>
                      <div>
                        <select 
                          ng-options="state for state in allStates track by state" 
                          ng-model="curState"
                          ng-required="'true'"
                          style="-webkit-appearance: menulist-button;">
                      </div>
                    </th>
                    <th><div>Start</div></th>
                    <th><div>End</div></th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        Sunday
                      </td>
                      <td>
                        <timepicker
                          id="time-picker"
                          hour-step="'1'" 
                          minute-step="'1'" 
                          show-spinners="wheel"
                          ng-model="mass.monday.start"
                          class="time-picker">
                        </timepicker>
                      </td>
                      <td>
                        <timepicker 
                          id="time-picker"
                          hour-step="'1'" 
                          minute-step="'1'" 
                          show-spinners="wheel"
                          ng-model="mass.monday.end"
                          class="time-picker">
                        </timepicker>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Monday
                      </td>
                      <td>
                        <timepicker
                          id="time-picker"
                          hour-step="'1'" 
                          minute-step="'1'" 
                          show-spinners="wheel"
                          ng-model="mass.monday.start"
                          class="time-picker">
                        </timepicker>
                      </td>
                      <td>
                        <timepicker 
                          id="time-picker"
                          hour-step="'1'" 
                          minute-step="'1'" 
                          show-spinners="wheel"
                          ng-model="mass.monday.end"
                          class="time-picker">
                        </timepicker>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Tuesday
                      </td>
                      <td>
                        <timepicker
                          id="time-picker"
                          hour-step="'1'" 
                          minute-step="'1'" 
                          show-spinners="wheel"
                          ng-model="mass.monday.start"
                          class="time-picker">
                        </timepicker>
                      </td>
                      <td>
                        <timepicker 
                          id="time-picker"
                          hour-step="'1'" 
                          minute-step="'1'" 
                          show-spinners="wheel"
                          ng-model="mass.monday.end"
                          class="time-picker">
                        </timepicker>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Wednesday
                      </td>
                      <td>
                        <timepicker
                          id="time-picker"
                          hour-step="'1'" 
                          minute-step="'1'" 
                          show-spinners="wheel"
                          ng-model="mass.monday.start"
                          class="time-picker">
                        </timepicker>
                      </td>
                      <td>
                        <timepicker 
                          id="time-picker"
                          hour-step="'1'" 
                          minute-step="'1'" 
                          show-spinners="wheel"
                          ng-model="mass.monday.end"
                          class="time-picker">
                        </timepicker>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Thursday
                      </td>
                      <td>
                        <timepicker
                          id="time-picker"
                          hour-step="'1'" 
                          minute-step="'1'" 
                          show-spinners="wheel"
                          ng-model="mass.monday.start"
                          class="time-picker">
                        </timepicker>
                      </td>
                      <td>
                        <timepicker 
                          id="time-picker"
                          hour-step="'1'" 
                          minute-step="'1'" 
                          show-spinners="wheel"
                          ng-model="mass.monday.end"
                          class="time-picker">
                        </timepicker>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Friday
                      </td>
                      <td>
                        <timepicker
                          id="time-picker"
                          hour-step="'1'" 
                          minute-step="'1'" 
                          show-spinners="wheel"
                          ng-model="mass.monday.start"
                          class="time-picker">
                        </timepicker>
                      </td>
                      <td>
                        <timepicker 
                          id="time-picker"
                          hour-step="'1'" 
                          minute-step="'1'" 
                          show-spinners="wheel"
                          ng-model="mass.monday.end"
                          class="time-picker">
                        </timepicker>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Saturday
                      </td>
                      <td>
                        <timepicker
                          id="time-picker"
                          hour-step="'1'" 
                          minute-step="'1'" 
                          show-spinners="wheel"
                          ng-model="mass.monday.start"
                          class="time-picker">
                        </timepicker>
                      </td>
                      <td>
                        <timepicker 
                          id="time-picker"
                          hour-step="'1'" 
                          minute-step="'1'" 
                          show-spinners="wheel"
                          ng-model="mass.monday.end"
                          class="time-picker">
                        </timepicker>
                      </td>
                    </tr>
                  </tbody>
              </table>
          </div>
      </div>
      
      <div class="row" ng-if="allowEdit()">
        <div class="col-md-4">
            <a confirm="{{saveTimesheetConfirmText}}" class="btn green">Add timesheet for another State</a>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <div class="submit-box">
              <a confirm="{{saveTimesheetConfirmText}}" ng-click="saveTimesheet()" class="btn green" ng-disabled="!isTimesheetValidForSave()">Submit</a>
            </div>
        </div>
      </div>
      <div class="row" ng-if="allowEdit()">
      </div>
  </form>