<div class="content-header">
  <h1>Timesheet Reports for {{user.first_name}} {{user.last_name}}</h1>
  <div class="view-instruction">
    <p>You can use the date selector below to switch to the desired week</p>
    <p>The week of the date selected starts from Sunday and ends on Saturday</p>
  </div>
</div><!-- / .content-header -->

<div class="content-body">
  <div class="panel">
    <div class="panel-heading">
        Select Week
    </div>
    <div class="panel-body">
        <div class="col-md-6">
          <bm-date-picker
            model="selectedDate"
            required="true"
            fieldname="'weekDate'" />
        </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading">
        The Work Timesheet for the Week: <b>{{selectedWeek.weekDisplayText}}</b>
    </div>
    <div class="panel-body">
      <div class="col-md-12">
        <bm-time-punch-card-week-manager
          admin-mode="'true'"
          week="selectedWeek"
          work-punch-card="workPunchCard"
          save-result="saveResult(savedPunchCards)">
        </bm-time-punch-card-week-manager>
      </div>
    </div>
  </div>
</div>
