<div class="modal-header">
  <h4 class="modal-title">{{headerText}}</h4>
</div>
<div class="modal-body col-md-12">
  <div class="form-holder col-md-10 col-md-offset-1">
    <form name="form">
        <div>
            <div class="form-label">Card Type</div>
            <select
                name="card_type"
                ng-model="punchCard.recordType"
                ng-options="cardType.name for cardType in cardTypes track by cardType.name"
                ng-required="true"
                class="form-control">
            </select>
        </div>

        <div ng-if="isTimeVisisble()">
            <div class="form-label" style="margin-top: 10px;">Time</div>
            <div class="panel">
              <div class="panel-body">
                <div class="col-sm-5 col-sm-offset-1">
                  <input
                    type="radio"
                    name="time_type"
                    ng-model="punchCard.inHours"
                    ng-value="false">
                  <span>Time Range</span>
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                  <input
                    type="radio"
                    name="time_type"
                    ng-model="punchCard.inHours"
                    ng-value="true">
                  <span>Hours Only</span>
                </div>
              </div>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <div class="col-sm-10 col-sm-offset-1" ng-if="!punchCard.inHours">
                        <timepicker
                          style="float:left;"
                          hour-step="'1'"
                          minute-step="'1'"
                          show-spinners="false"
                          ng-model="punchCard.start">
                        </timepicker>
                        <timepicker
                          style="float:right;"
                          hour-step="'1'"
                          minute-step="'1'"
                          show-spinners="false"
                          ng-model="punchCard.end">
                        </timepicker>
                    </div>
                    <div class="col-sm-8 col-sm-offset-2" ng-if="punchCard.inHours">
                        <input
                          type="number"
                          ng-model="punchCard.hours"
                          min="0"
                          step="any" />
                        <span style="margin-left:20px;">Hours</span>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="isTimeVisisble()">
            <div class="form-label">Status</div>
            <div class="panel">
              <div class="panel-body">
                <div class="col-sm-5 col-sm-offset-1">
                  <input
                    type="radio"
                    name="status"
                    ng-model="punchCard.inProgress"
                    ng-value="cardCheckedIn">
                  <span>Checked In</span>
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                  <input
                    type="radio"
                    name="status"
                    ng-model="punchCard.inProgress"
                    ng-value="cardCheckedOut">
                  <span>Checked Out</span>
                </div>
              </div>
            </div>
        </div>
        <div>
            <div class="form-label">State</div>
            <select name="state" ng-model="punchCard.attributes.state.value" ng-required="true" class="form-control">
                <option style="display:none" value="">select a state</option>
                <option ng-repeat="state in allStates">{{state}}</option>
            </select>
        </div>

        <div>
          <div class="form-label">City/Town</div>
          <input type="text"
            ng-model="punchCard.attributes.city.value">
        </div>
        <div>
          <div ng-show="projectManagementEnabled()">
            <div class="form-label">Project</div>
            <select
                name="project"
                ng-model="punchCard.attributes.project.value"
                ng-options="project.name for project in allProjects track by project._id"
                class="form-control">
            </select>
          </div>
        </div>

        <div ng-if="isHourlyRateAttributeVisible()">
            <div class="form-label">Houly Rate</div>
            <div class="textbox input-group">
                <span class="input-group-addon">$</span>
                <input type="text"
                  ng-model="punchCard.attributes.hourlyRate.value"
                  min="0"
                  step="any"
                  fcsa-number="{ preventInvalidInput: true, maxDecimals: 2 }" />
              </div>
        </div>

        <div ng-if="hasPunchCardAssets()">
          <div class="form-label">
            Punch Card Assets
            <span ng-if="isLowConfidenceDetect()" class="label label-danger">
              Possible Photo Mismatch
            </span>
          </div>
          <div class="button-group">
            <a ng-disabled="!hasAssets(punchCard.checkInAssets)"
              class="btn btn-info"
              target="_blank"
              style="width: 30%"
              ng-href="{{getRealTimeImageAssetUrl(punchCard.checkInAssets)}}">
              Check-In Photo
            </a>
            <a ng-disabled="!hasAssets(punchCard.checkOutAssets)"
              class="btn btn-info"
              target="_blank"
              style="width: 30%"
              ng-href="{{getRealTimeImageAssetUrl(punchCard.checkOutAssets)}}">
              Check-Out Photo
            </a>
          </div>
        </div>

    </form>
  </div>
</div>

<div class="modal-footer">
  <div class="button-group">
    <button class="btn btn-info" ng-click="save()" ng-disabled="!isValidToSave()" style="width: 20%">Save</button>
    <button class="btn btn-primary" ng-click="cancel()" style="width: 20%">Cancel</button>
  </div>
</div>
