<div class="modal-header">
  <h4 class="modal-title">Work Timesheet by <br />
 Week {{week}}</h4>
</div>
<div class="modal-body col-md-12">
    <bm-time-punch-card-week-manager
        admin-mode="adminMode"
        week="selectedWeek"
        work-punch-card="workPunchCard"
        save-result="saveResult(savedPunchCards)">
    </bm-time-punch-card-week-manager>
</div>

<div class="modal-footer">
  <div class="button-group">
    <button class="btn btn-primary" ng-click="dismiss()">Cancel</button>
  </div>
</div>
