<div class="breadcrumb">
  <a ng-click="backToDashboard()">{{role}} Dashboard</a>
  <span>{{pageTitle}}</span>
</div>

<bm-time-punch-card-manager
    user="user"
    admin-mode="isAdmin"
    company="company"
    view-employee-details="viewDetails(userId, week)"></bm-time-punch-card-manager>
<bm-time-off-requestor user="user" ng-if="!isAdmin"></bm-time-off-requestor>
<bm-time-off-manager user="user"></bm-time-off-manager>


<div class="back"><a href="javascript:void(0);" onclick="history.back()">&laquo; Back</a></div>
