<div class="breadcrumb">
  <a ng-click="backToDashboard()">{{role}} Dashboard</a>
  <span>{{pageTitle}}</span>
</div>

<bm-time-punch-card
    ng-if="!isAdmin"
    user="user"
    company="company">
</bm-time-punch-card>
<bm-time-punch-card-admin
    ng-if="isAdmin"
    company="company">
</bm-time-punch-card-admin>
<bm-time-off-requestor user="user" ng-if="!isAdmin"></bm-time-off-requestor>
<bm-time-off-manager user="user"></bm-time-off-manager>


<div class="back"><a href="javascript:void(0);" onclick="history.back()">&laquo; Back</a></div>
