<div class="modal-header">
  <h4 class="modal-title" ng-if="!person.id">Add a new family member</h4>
  <h4 class="modal-title" ng-if="person.id">Edit family member</h4>
</div>
<div class="modal-body col-md-12">
  <div class="form-holder col-md-10 col-md-offset-1">
    <form name="form">
      <ul class="list-group"><li class="list-group-item">
        <div class="form-label">Reason for Change*</div>
        <div class="textbox">
          <input type="text"
          name="reason"
          ng-model="person.reason_for_change"
          ng-required="true">
          <div class="form-validation-error" ng-show="form.reason.$invalid">
            <span ng-show="form.reason.$error.required">Reason field is required</span>
          </div>
        </div>
      </li></ul>

      <div class="form-label">First Name*</div>
      <div class="textbox">
        <input type="text"
        name="first_name"
        ng-model="person.first_name"
        ng-required="true">
        <div class="form-error-relative" ng-show="form.first_name.$dirty && form.first_name.$invalid">
          <span ng-show="form.first_name.$error.required">Name field is required</span>
        </div>
      </div>
      <div class="form-label">Last Name*</div>
      <div class="textbox">
        <input type="text"
        name="last_name"
        ng-model="person.last_name"
        ng-required="true">
        <div class="form-error-relative" ng-show="form.last_name.$dirty && form.last_name.$invalid">
          <span ng-show="form.last_name.$error.required">Name field is required</span>
        </div>
      </div>
      <div class="form-label">Date of Birth* (m/d/yyyy)</div>
      <div class="datebox">
        <bm-date-picker model="person.birth_date"
        required="true"
        name="person_birth_date"
        fieldname="'birth_date'"
        dirty="form.birth_date.$dirty" />
        <div class="form-error-relative" ng-show="form.person_birth_date.$dirty && form.person_birth_date.$invalid">
          <span ng-show="form.person_birth_date.$error.required">Date of Birth field is required</span>
          <span ng-show="form.person_birth_date.$invalid">Please enter a valid Date of Birth</span>
        </div>
      </div>
      <div class="form-label">Gender</div>
      <div class="select-box">
        <select
        class="form-control"
        name="person_gender"
        ng-model="person.gender"
        ng-required="true">
        <option value="M">Male</option>
        <option value="F">Female</option>
      </select>
    </div>

    <div class="form-label">Social Security Number</div>
    <div class="textbox">
      <input type="tel"
      name="person_ssn"
      ng-model="person.ssn"
      ng-required="!person.id"
      ui-mask="999-99-9999">
      <div class="form-error-relative" ng-show="form.person_ssn.$dirty && form.person_ssn.$invalid">
        <span ng-show="form.person_ssn.$error.required">SSN field is required</span>
        <span ng-show="form.person_ssn.$invalid">Please enter a valid Social Security Number</span>
      </div>
    </div>

    <div class="form-label">Relationship</div>
    <div class="select-box">
      <select
      class="form-control"
      name="person_relationship"
      ng-model="person.relationship"
      ng-required="true">
      <option value="spouse">Spouse</option>
      <option value="child">Child</option>
      <option value="life partner">Life Partner</option>
      <option value="ex-spouse">Ex-Spouse</option>
      <option value="disabled dependent">Disabled Dependent</option>
      <option value="stepchild">Stepchild</option>
      <option value="dependent" ng-disabled="true">Dependent</option>
    </select>
  </div>

  <div class="form-label">Address</div>
  <div class="textbox">
    <input type="text"
    placeholder="Street Line 1"
    name="person_address_street1"
    ng-model="person.address.street_1"
    ng-required="false">
  </div>
  <div class="textbox">
    <input type="text"
    placeholder="Street Line 2"
    name="person_address_street2"
    ng-model="person.address.street_2"
    ng-required="false">
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="textbox">
        <input type="text"
        placeholder="City"
        name="person_address_city"
        ng-model="person.address.city"
        ng-required="false">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="textbox">
        <input type="text"
        placeholder="State"
        name="person_address_state"
        ng-model="person.address.state"
        ng-required="false"
        class="input-upper"
        maxlength="2">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="textbox">
        <input type="text"
        placeholder="Zip Code"
        name="person_address_zip"
        ng-model="person.address.zipcode"
        ng-required="false"
        maxlength="5">
      </div>
    </div>
  </div>

  <div class="form-label">Email</div>
  <div class="textbox">
    <input type="email"
    name="email"
    ng-model="person.email">
    <div class="form-error-relative" ng-show="form.email.$dirty && form.email.$invalid">
      <span ng-show="form.email.$error.email">This is not a valid email.</span>
    </div>
  </div>

  <div class="form-label">Phone Number</div>
  <div class="textbox">
    <input type="masked"
    name="phone_number"
    ui-mask="(999) 999-9999"
    ng-model="person.phone.number"
    ng-required="false"
    class="ng-valid ng-valid-mask">
    <div class="form-error-relative" ng-show="form.phone_number.$dirty && form.phone_number.$invalid">
      <span ng-show="form.phone_number.$invalid">Please enter an valid phone number</span>
    </div>
  </div>
  <div class="submit-box modal-footer">
    <button ng-click="save()" class="btn left green" ng-disabled="form.$invalid">Save</button>
    <button ng-click="cancel()" class="btn right">Cancel</button>
  </div>
</form>
</div>
</div>
