<div class="content-header">
  <h1>ConnectPay Payroll Services</h1>
  <div class="view-instruction">
    <p>Please use the below services to process your payroll with ConnectPay Payroll system</p>
  </div>
</div><!-- / .content-header -->
<div class="content-body">
  <div class="panel">
    <div class="panel-heading">
      Payroll Data Export
    </div>
    <div class="panel-body">
      <table class="table table-striped" >
        <thead>
          <th><span>Name</span></th>
          <th><span>Description</span></th>
          <th><span>Action</span></th>
        </thead>
        <tbody>
          <tr>
            <td>Employees Front-Page CSV</td>
            <td>CSV download that contains all employees' payroll setup data</td>
            <td>
                <span class="btn inline"><bm-file-download-link link-name="Download" link-href="allEmployeesFrontpageCsvDownloadLink " use-plain-text-style="true"></bm-file-download-link></span>
            </td>
          </tr>
          <tr>
            <td>Period Payroll Data Export</td>
            <td>CSV download that contains payroll data to report by specified date range</td>
            <td>
                <span class="btn inline" ng-click="openPeriodExportModal()">Download</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
