<html>
    <head>
    </head>
    <body>
      <h3>Your benefit enrollment has not been completed</h3>
      <h4>Company: {{context_data.company.name}}</h4>
      <br/>

      <div>According to our records, your benefit enrollment has not been 100% completed. Please log onto our website, and complete your benefit enrollment.</div>
      <br/>
      <div>Thank you and best regards.</div>
      <br/>
      <hr/>

      <a href="{{site_url}}" style="background:#6EBE4B;color:#FFF;font-weight:700;border: 1px solid #56A245;border-radius: 0;padding: 10px 6px; width: 150px;text-align: center;box-shadow: none;text-shadow: none;
      line-height: 15px;display: inline-block;margin-bottom: 0;vertical-align: middle;cursor: pointer;white-space: nowrap;font-size: 13px;">
      Visit Site</a>
    </body>
</html>