<div class="modal-header">
  <h4 class="modal-title">Edit Employee Profile</h4>
</div>
<div class="modal-body col-md-12">
  <div class="panel panel-danger" ng-show="errorMessage">
    <div class="panel-heading">Error</div>
    <div class="panel-body">{{errorMessage}}</div>
  </div>
  <div class="form-holder col-md-10 col-md-offset-1">
    <form name="form">
      <div class="row">
        <div class="form-label">Employee Number</div>
        <div class="textbox">
          <input type="text"
          name="employee-number"
          ng-model="employeeProfileModel.employeeNumber"
          ng-required="false" />
          <div class="form-inline-error" ng-show="!isEmployeeNumberValid(employeeProfileModel.employeeNumber)">
            <span>Employee number is invalid. A common reason is that the number is already associated with another employee.</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-label">Job Title</div>
        <div class="textbox">
          <input type="text"
          name="job-title"
          ng-model="employeeProfileModel.jobTitle"
          ng-required="true" />
          <div class="form-inline-error" ng-show="form.job-title.$dirty && form.job-title.$invalid">
            <span ng-show="form.job_title.$error.required">Job Title is required</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-label">Department</div>
        <div class="textbox">
          <select ng-model="employeeProfileModel.department"
          ng-required="false"
          name="employeeProfileModel.department"
          ng-options="department.department for department in companyDepartments"
          class="form-control"></select>
        </div>
      </div>
      <div class="row">
        <div class="form-label">Employment Type</div>
        <div class="textbox">
          <select ng-model="employeeProfileModel.employmentType"
          ng-required="true"
          name="employeeProfileModel.employmentType"
          ng-options="type for type in employmentTypes"
          class="form-control"></select>
        </div>
      </div>
      <div class="row">
        <div class="form-label">Employment Status</div>
        <div class="textbox">
          <select ng-model="employeeProfileModel.employmentStatus"
          ng-required="true"
          name="employeeProfileModel.employmentStatus"
          ng-change="updateEndDate()"
          ng-options="type for type in employmentStatusList"
          class="form-control"></select>
        </div>
      </div>
      <div class="row">
        <div class="form-label">Manager</div>
        <div class="textbox">
          <input type="text"
            ng-model="employeeProfileModel.manager"
            placeholder="Start typing the name of an employee..."
            ng-required="false"
            name="employeeProfileModel.manager"
            typeahead="manager as manager.first_name + ' ' + manager.last_name for manager in getEmployees($viewValue)"
            autocomplete="off"
            class="form-control"></select>
            <div class="form-inline-error" ng-show="managerInvalid(employeeProfileModel.manager)">
              <span>The manager you selected is an invalid candidate!</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-label">Employment Start Date (m/d/yyyy)</div>
        <div class="datebox">
          <bm-date-picker model="employeeProfileModel.startDate"
          required="false"
          name="start-date"
          fieldname="'start_date'"
          dirty="form.start_date.$dirty" />
          <div class="form-inline-error" ng-show="form.start-date.$dirty && form.start-date.$invalid">
            <span ng-show="form.start-date.$invalid">Please enter a valid Date</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-label">Employment End Date (m/d/yyyy)</div>
        <div class="datebox">
          <bm-date-picker model="employeeProfileModel.endDate"
          required="false"
          name="end-date"
          fieldname="'end_date'"
          dirty="form.end_date.$dirty" />
          <div class="form-inline-error" ng-show="form.end-date.$dirty && form.end-date.$invalid">
            <span ng-show="form.end-date.$invalid">Please enter a valid Date</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-label">Benefit Start Date (m/d/yyyy)</div>
        <div class="datebox">
          <bm-date-picker model="employeeProfileModel.benefitStartDate"
          required="true"
          name="benefit-start-date"
          fieldname="'benefit_start_date'"
          dirty="form.benefit_start_date.$dirty" />
          <div class="form-inline-error" ng-show="form.benefit-start-date.$dirty && form.benefit-start-date.$invalid">
            <span ng-show="form.benefit-start-date.$invalid">Please enter a valid Date</span>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <div class="button-group">
    <button class="btn btn-info" ng-click="save(employeeProfileModel)" ng-disabled="invalidToSave()" style="width:20%;">Save</button>
    <button class="btn btn-primary" ng-click="cancel()" style="width:20%;">Cancel</button>
  </div>
</div>
