<div class="modal-header">
    <h4 class="modal-title">Confirm Terminating Employee</h4>
</div>
<div class="modal-body">
    <div style="text-align:center;margin-bottom:10px;">
        Please confirm you are terminating the employment.
    </div>
<div class="modal-footer">
    <div class="button-group">
        <button class="btn btn-info" ng-click="confirm()" style="width:45%">Confirm</button>
        <button class="btn btn-primary" ng-click="cancel()" style="width:45%;">Cancel</button>
    </div>
</div>