<!DOCTYPE html>

<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!-->
{% load compressed %}
<html class="gt-ie8 gt-ie9 not-ie"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>BenefitMy</title>
    <!-- Open Sans font from Google CDN -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">
    {% compressed_css "dashboard" %}
    <script type="text/javascript">var init = [];</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"> </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"> </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js" > </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular-resource.min.js" > </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js" > </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js" > </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js" > </script>
    {% compressed_js "dashboard" %}
</head>


<body ng-app="BenefitMyApp">

    <script type="text/javascript">var init = [];</script>
    <div id="dashboard-wrapper" ng-controller="userController">

        <div id="header">
            <a href="/" id="logo-link"></a>
            <div class="pull-right">
                {%verbatim%}
                <span data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="drop-trigger">
                    {{curUser.email}}
                    <span class="caret"></span>
                </span>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li><a href="#" ng-click="logout()"><span class="flaticon flaticon-wheel21"></span> Settings</a></li>
                    <li><a href="#" ng-click="logout()"><span class="flaticon flaticon-logout5"></span> Log Out</a></li>
                </ul>
                {%endverbatim%}
            </div>
        </div><!-- / #header -->

        <div id="sidebar">
            <ul class="nav-list">
                <li class="expandable">
                    <div class="primary-nav active">
                        <button data-toggle="collapse" data-target="#dashboard-nav" aria-expanded="true" aria-controls="dashboard-nav"><span class="flaticon flaticon-dashboard6"></span>Dashboard</button>
                    </div>
                    <div class="sub-nav collapse in" id="dashboard-nav">
                        <a href="#/admin" ng-class="getActiveRoleClass('/admin')" ng-if="isRoleActive('admin')">Employer Dashboard</a>
                        <a href="#/employee" ng-class="getActiveRoleClass('/employee')" ng-if="isRoleActive('employee')">Employee Dashboard</a>
                        <a href="#/broker" ng-class="getActiveRoleClass('/broker')" ng-if="isRoleActive('broker')">Broker Dashboard</a>
                    </div>
                </li>

                <!-- EMPLOYER NAVS START -->
                <li class="expandable" ng-show="getCurRoleFromPath() === 'admin'">
                    <div class="primary-nav">
                        <button data-toggle="collapse" data-target="#hr-nav" aria-expanded="false" aria-controls="hr-nav"><span class="flaticon flaticon-user135"></span>HR</button>
                    </div>
                    <div class="sub-nav collapse" id="hr-nav">
                        <a ng-click="goToFunctionalView('/admin/employee/add/')">Add Employee</a>
                        <a ng-click="goToFunctionalView('/admin/employee/')">View Employees</a>
                        <a ng-click="goToFunctionalView('/admin/generate_template/', {type:'Offer'})">Offer Letter Template</a>
                        <a ng-click="goToFunctionalView('/admin/generate_template/', {type:'Employee Agreement'})">Employee Agreement Template</a>
                        <a ng-click="goToFunctionalView('/admin/generate_template/', {type:'NDA'})">NDA Template</a>
                    </div>
                </li>
                <li class="expandable" ng-show="getCurRoleFromPath() === 'admin'">
                    <div class="primary-nav">
                        <button data-toggle="collapse" data-target="#employer-benefit-nav" aria-expanded="false" aria-controls="employer-benefit-nav"><span class="flaticon flaticon-heart260"></span>Benefits</button>
                    </div>
                    <div class="sub-nav collapse" id="employer-benefit-nav">
                        <a ng-click="goToFunctionalView('/admin/broker/add/')">Add Broker Info</a>
                        <a ng-click="goToFunctionalView('/admin/broker/')">View Broker Info</a>
                        <a ng-click="goToFunctionalView('/admin/benefits/')">View Benefits</a>
                    </div>
                </li>
                <!-- EMPLOYER NAVS END -->

                <!-- EMPLOYEE NAV STARTS -->
                <li class="expandable" ng-show="getCurRoleFromPath() === 'employee'">
                    <div class="primary-nav">
                        <button data-toggle="collapse" data-target="#employee-benefit-nav" aria-expanded="false" aria-controls="employee-benefit-nav"><span class="flaticon flaticon-heart260"></span>Benefits</button>
                    </div>
                    <div class="sub-nav collapse" id="employee-benefit-nav">
                        <a href="#/employee">View Benefits</a>
                        <a ng-click="goToFunctionalView('/employee/benefit/')">Modify Benefits</a>
                    </div>
                </li>
                <!-- EMPLOYEE NAV ENDS -->

                <!-- BROKER NAV STARTS -->
                <li class="expandable" ng-show="getCurRoleFromPath() === 'broker'">
                    <div class="primary-nav">
                        <button data-toggle="collapse" data-target="#clients-nav" aria-expanded="false" aria-controls="clients-nav"><span class="flaticon flaticon-user135"></span>Clients</button>
                    </div>
                    <div class="sub-nav collapse" id="clients-nav">
                        <a href="#/broker">Client List</a>
                        <a href="#/broker/add_client">Add New Client</a>
                    </div>
                </li>
                <!-- BROKER NAV ENDS -->

            </ul>

            <div id="side-footer">
                <div class="footer-nav">
                    <a href="/">Home</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/">About Us</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/">Contact Us</a>
                </div>
                <div class="copyright">&copy; 2014 BenefitMy</div>
            </div>

        </div><!-- / #sidebar -->


        <div id="content-wrapper"><div ng-view></div></div> <!-- / #content-wrapper -->
    </div> <!-- / #dashboard-wrapper -->
    <script type="text/javascript">
        if(!init)
        {
            var init = [];
        }
        init.push(function () {
            $(".primary-nav").on("click", function() {
                $(".primary-nav.active").removeClass("active");
                $(".collapse.in").removeClass("in");
                $(this).addClass("active");
            });
            $(".sub-nav a").on("click", function() {
                $(".sub-nav a.active").removeClass("active");
                $(this).addClass("active");
            });
        })
        window.PixelAdmin.start(init);
    </script>

</body>
</html>
